﻿@model SurveyProject.Models.ManageAdminModel

@{
    ViewBag.Title = "AdminList";
    Layout = null;// "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}
<style>
    #body {
        margin-top: 30px;
        -webkit-box-shadow: 0 -4px 9px 0px rgba(0,0,0, 0.41);
        -moz-box-shadow: 0 -4px 9px 0px rgba(0,0,0, 0.41);
        box-shadow: 0 -4px 9px 0px rgba(0,0,0, 0.41);
    }
</style>
@*<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="contentarea2">*@
<div class="surveytitle2">
    <h5 data-name="SuperAdminAdminList">Admin List</h5>
</div>
<div class="table-responsive">
    @if (Model.Adminlist != null && Model.Adminlist.Count > 0)
    {
        int i = 1;
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th data-name="CommonSrNo">
                        Sr. No.
                    </th>
                    <th data-name="SuperAdminName">
                        Name
                    </th>
                    <th data-name="editProfEmail">
                        Email
                    </th>
                    <th colspan="2" data-name="SuperAdminStatus">Status</th>
                    <th data-name="ViewProjects">View Projects</th>
                </tr>
            </thead>
            @foreach (var item in Model.Adminlist)
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @(item.FirstName + " " + item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(l => item.Email)
                    </td>
                    <td>
                        <a href="javascript:;" id="statusBtn_@item.Id" class="@(item.Status ? "fa fa-check" : "fa fa-times")" style="@(item.Status ? "color:limegreen;" : "color:red;")"></a>
                    </td>
                    <td>
                        <a href="javascript:;" id="toggleBtn_@item.Id" data-id="@item.Id" data-status="@item.Status" class="@(item.Status ? "btn btn-danger" : "btn btn-success")" data-name="@(item.Status ? "SuperAdminDeactivate" : "SuperAdminActivate")">@(item.Status ? "Deactivate" : "Activate")</a>
                    </td>
                    <td>
                        <a href="@Url.Content("~/SuperAdmin/ProjectList/"+item.Id+"")" class="btn btn-primary" style="margin-top:1px;" data-name="ViewProjects">View Projects&nbsp;<i class="fa fa-search"></i></a>
                    </td>
                </tr>

                i++;
            }

        </table>
    }
    <label id="activateText" data-name="SuperAdminActivate" style="display: none"></label>
    <label id="deActivateText" data-name="SuperAdminDeactivate" style="display: none"></label>
</div>
@*</div>
            </div>
        </div>
    </div>*@


<script type="text/javascript">
    $(document).ready(function () {
        $('a[id*=toggleBtn_]').on('click', function () {
            var stat = false;
            var btn = $(this);
            var statusButton = $('#statusBtn_' + $(this).attr('id').split('_')[1]);
            stat = $(this).attr('data-status');
            $.ajax({
                url: GetPath('/SuperAdmin/ChangeLoginStatus'),
                data: { Userid: $(this).attr('data-id'), status: stat },
                ContentType: 'application/json',
                DataType: 'json',
                type: 'GET',
                success: function (data) {
                    var jsonData = JSON.parse(data);
                    if (jsonData.Status == 1) {
                        if (stat == 'True') {
                            // $(btn).html('Activate');
                            $(btn).attr('data-name', 'SuperAdminActivate');
                            $(btn).html($('#activateText').text());
                            $(btn).removeClass('btn btn-danger');
                            $(btn).addClass('btn btn-success');
                            $(statusButton).removeClass('fa fa-check');
                            $(statusButton).addClass('fa fa-times');
                            $(statusButton).css('color', 'red');
                            $(btn).attr('data-status', 'False');
                        }
                        else if (stat == 'False') {
                            // $(btn).html('Deactivate');
                            $(btn).attr('data-name', 'SuperAdminDeactivate');
                            $(btn).html($('#deActivateText').text());
                            $(btn).removeClass('btn btn-success');
                            $(btn).addClass('btn btn-danger');
                            $(statusButton).removeClass('fa fa-times');
                            $(statusButton).addClass('fa fa-check');
                            $(statusButton).css('color', 'limegreen');
                            $(btn).attr('data-status', 'True');
                        }
                    }
                },
                error: function () {
                },
                complete: function () {
                }
            });
        });
    });

</script>
