﻿@model SurveyProject.Models.ManageAdminModel
@{
    ViewBag.Title = "Create/Update Roles";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}
<style>
    .btn-primary {
        text-transform: capitalize;
    }
</style>
<div class="container-fluid">
    @using (Html.BeginForm("CreateFieldServiceRoles", "SuperAdmin", FormMethod.Post))
    {
        <div class="row">

            <div class="form-horizontal" style="margin-top: 15px;">
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                }
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                }
                <div class="form-group">
                    <label data-name="" class="col-md-1 control-label">Panel</label>
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.createRoleModel.UserId, Model.createRoleModel.UserList, "Select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.createRoleModel.UserId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12">
                        <p class="checklist">
                            @if (Model.roleList != null && Model.roleList.Count > 0)
                            {
                                foreach (var item in Model.roleList)
                                {
                                    <label for="roleId_@item.RoleId" data-name="@item.RoleName.Replace(" ","_")">@item.RoleName</label>
                                    <input type="checkbox" style="margin-left:10px;" class="roles" id="roleId_@item.RoleId" value="@item.RoleId" onclick="return setRoles(this)" />
                                }
                            }
                        </p>
                        <input type="submit" value="Assign Roles" class="btn btn-primary" style="font-size: 12px;margin-top:50px;  margin-bottom: 15px; margin-left: 50px; text-transform: uppercase;" data-name="SuperAdminAssignRoles" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <input type="hidden" id="hdnRoleIds" name="hdnRoleIds" value="" />
            <input type="hidden" id="hdnUserName" name="hdnUserName" value="" />
            <input type="hidden" id="hdnAddEdit" name="hdnAddEdit" value="Add" />
        </div>
    }
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script>
    $(document).ready(function () {
        $('#createRoleModel_UserId').on('change', function () {
            $('#hdnUserName').val($("#createRoleModel_UserId option:selected").text());
            var userId = $(this).val();
            if (userId == "") {
                return false;
            }
            clearCheckBoxes();
            $.ajax({
                url: GetPath('/SuperAdmin/ExistingRole'),
                contentType: 'application/json',
                Type: 'GET',
                dataType: 'json',
                data: { UserId: userId },
                async: false,
                success: function (data) {
                    var roleIds = "";
                    if (data.length > 0) {
                        var jsonData = JSON.parse(data);
                        $('[Id*=roleId_]').each(function () {
                            $(this).val($(this).val() + "-0");
                        });
                        for (var i = 0; i <= jsonData.length - 1; i++) {
                            $('#roleId_' + jsonData[i].RoleId + '').prop('checked', 'checked');
                            $('#roleId_' + jsonData[i].RoleId + '').val(jsonData[i].RoleId + "-" + jsonData[i].Id);
                            roleIds += jsonData[i].RoleId + "-" + jsonData[i].Id + ",";
                        }
                        $("#hdnRoleIds").val(roleIds);
                        $("#hdnAddEdit").val("Edit");
                    }
                },
                error: function () {
                    alert("Error occurred");
                },
                complete: function () {
                    //alert($("#hdnRoleIds").val());
                }
            });
        });

        var roleId = '@Session["RoleId"]';
        if (roleId == 1) {
            var language = 'en';
            if (localStorage.getItem('LanguageAbbr') != null) {
                language = localStorage.getItem('LanguageAbbr');
            }
            changeLanguage(language);
        }
    });

    function setRoles(caller) {
        if (caller.checked) {
            // Set names in hidden field
            var roleIds = $("#hdnRoleIds").val();
            if (roleIds.length > 0) {
                $("#hdnRoleIds").val(roleIds + $(caller).val() + ",");
            }
            else {
                $("#hdnRoleIds").val($(caller).val() + ",");
            }
        }
        else {
            // Reset names in hidden field
            var roleIds = $("#hdnRoleIds").val();
            roleIds = roleIds.replace($(caller).val() + ",", '');
            $("#hdnRoleIds").val(roleIds);
        }
    }

    function clearCheckBoxes() {
        $('input').each(function () {
            if ($(this).attr('type') == 'checkbox')
                $(this).removeAttr('checked');
        });
    }
</script>

