﻿@model SurveyProject.Models.AdminModel
@{
    ViewBag.Title = "Create Panel";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<style>
    .btn-danger {
        text-transform: capitalize;
    }
</style>
<div class="questionsection2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="contentarea2">
                    <div class="surveytitle2">
                        <h5><span data-name="CommonCreate">Create</span> <span data-name="">Field Service</span></h5>
                    </div>
                    <section class="registerForm">
                        @if (TempData["RegErrorMessage"] != null)
                        {
                            <div class="alert alert-danger">@TempData["RegErrorMessage"]</div>
                        }
                        @if (TempData["RegSuccessMessage"] != null)
                        {
                            <div class="alert alert-success">@TempData["RegSuccessMessage"]</div>
                        }
                        @using (Html.BeginForm("CreateFieldService", "SuperAdmin", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label data-name="editProfFirstName">First Name</label>
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", tabindex = "1" })
                                        @Html.ValidationMessageFor(m => m.FirstName)
                                    </div>
                                    <div class="form-group">
                                        <label data-name="editProflastName">Last Name</label>
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", tabindex = "2" })
                                        @Html.ValidationMessageFor(m => m.LastName)
                                    </div>
                                    @* <div class="form-group">
                                             @Html.LabelFor(m => m.Gender)<br />
                                                    <div class="row">
                                                        <div class="col-lg-2 col-sm-4" style="margin-right: 10px;">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    @Html.RadioButtonFor(m => m.Gender, true, new { tabindex = "3", id = "male" })
                                                                </span>
                                                                <label class="form-control" for="male">Male</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2 col-sm-2">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    @Html.RadioButtonFor(m => m.Gender, false, new { tabindex = "4", id = "female" })
                                                                </span>
                                                                <label class="form-control" for="female">Female</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @Html.ValidationMessageFor(m => m.Gender)
                                        </div>*@

                                    <div class="form-group">
                                        <label data-name="editProfEmail">Email</label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", tabindex = "4" })
                                        @Html.ValidationMessageFor(m => m.Email)
                                    </div>
                                    <div class="form-group pull-right" style="margin-top: 30px;">
                                        <input type="submit" data-name="CommonCreate" value="Create" class="btn btn-danger" tabindex="5" />
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>

                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
