﻿
@model SurveyProject.Models.CreateProjectModel
@{
    ViewBag.Title = "ProjectList";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<style>
    .btn-primary {
        text-transform:capitalize;
    }
     .table-striped > thead > tr > th {
    background-color: #3498DB !important;
    color: #FFF !important;
    border-right: 1px solid #F8F8F8 !important;

}
</style>
<div class="questionsection questionsectionresponsive">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="contentarea">
                    <div class="surveytitle updateadmindata">
                        <h5 data-name="ProjectList">Project List</h5>
                    </div>
                    @if (Model.ProjectList != null && Model.ProjectList.Count > 0)
                    {
                        int count = 1;
                        <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th data-name="CommonSrNo">Sr. No.
                                </th>
                                <th data-name="ProjctNewTitle">
                                   Project Title
                                </th>
                                <th data-name="ProjectQuota">
                                   Project Quota
                                </th>
                                <th colspan="2" data-name="CommonAction">Action</th>
                            </tr>
                           </thead>
                            @foreach (var item in Model.ProjectList)
                            {
                                <tr>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        @item.ProjectName
                                    </td>
                                    <td>
                                        @item.ProjectQuota
                                    </td>
                                    <td><a href="~/SuperAdmin/ProjectSettings/@item.Id" class="btn btn-primary" data-name="ProjectSettings">Project Settings</a></td>
                                    <td><a href="~/SuperAdmin/ProjectResponses/@item.Id" class="btn btn-primary" data-name="SuperAdminViewResponderList">View Responder List</a></td>
                                </tr>
                                count++;
                            }
                           
                        </table> </div>
                    }
                    else
                    {
                        <p class="alert alert-danger" data-name="CommonNoRecordFound">No Record found</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
