﻿@model  SurveyProject.Models.ProjectSettingsModel
@{
    ViewBag.Title = "ProjectSettings";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="on-page-menu">
                <li><a href="javascript:;" class="active" data-name="ProjectSettings">Project Settings</a></li>
                @*  <li><a href="javascript:;">Question Group</a></li>
                <li><a href="javascript:;">Answe Type Editor</a></li>
                <li><a href="javascript:;">Regex Library</a></li>
                <li><a href="javascript:;">Layout</a></li>*@
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-heading" data-name="ProjectSettings">Project Settings</h2>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
            }
            <form action="@Url.Content("~/SuperAdmin/ProjectSettings")" method="post">
                <div class="row">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.HiddenFor(v => v.ProjectId)
                               @* @Html.LabelFor(v => v.OpeningDate)*@<label data-name="ProjectSettingsOpeningDate">Opening Date</label>
                                @Html.TextBoxFor(v => v.OpeningDate, new { @class = "form-control" })
                                @Html.ValidationMessageFor(v => v.OpeningDate)
                            </div>
                            <div class="form-group">
                              @*  @Html.LabelFor(v => v.ClosingDate)*@<label data-name="ProjectSettingsClosingDate">Closing Date</label>
                                @Html.TextBoxFor(v => v.ClosingDate, new { @class = "form-control" })
                                @Html.ValidationMessageFor(v => v.ClosingDate)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.CheckBoxFor(v => v.Scored)
                               @* @Html.LabelFor(v => v.Scored)*@<label data-name="ProjectSettingsScored">Scored?</label>
                            </div>
                            <div class="form-group">
                                @Html.CheckBoxFor(v => v.PrevNextPageNavigation)
                               @* @Html.LabelFor(v => v.PrevNextPageNavigation)*@<label data-name="ProjectSettingsPreviousNextPageNavigation">Previous Next Page Navigation?</label>
                            </div>
                            <div class="form-group">
                                @Html.CheckBoxFor(v => v.ResumeOfProgress)
                               @* @Html.LabelFor(v => v.ResumeOfProgress)*@<label data-name="ProjectSettingsResumeOfProgress">Resume Of Progress?</label>
                            </div>
                            <div class="form-group">
                                @Html.CheckBoxFor(v => v.DisableQuestionNumbering)
                              @*  @Html.LabelFor(v => v.DisableQuestionNumbering)*@<label data-name="ProjectSettingsDisableQuestionNumbering">Disable Question Numbering?</label>
                            </div>
                            <div class="form-group">
                                @Html.CheckBoxFor(v => v.IsActive)
                               @* @Html.LabelFor(v => v.IsActive)*@<label data-name="ProjectSettingsActive">Active?</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" value="Apply Changes" class="btn btn-primary" data-name="CommonApplyChanges"/>
                        <a href="~/SuperAdmin/DeleteProject/@Model.ProjectId" onclick="return confirm('Are you sure to delete?')" class="btn btn-primary del" data-name="CommonDelete">Delete</a>
                        @*<a href="~/Admin/CloneProject/@Model.ProjectId"  class="btn btn-primary">Clone</a>
                        <a href="~/Admin/ExportXML/@Model.ProjectGUID" class="btn btn-primary">Export XML</a>*@
                        <input type="hidden" name="hdnProjectId" id="hdnProjectId" value="@(ViewBag.PId!=null?ViewBag.PId:0)" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Content/DatePicker/jquery-1.11.1.min.js")"></script>
<script src="@Url.Content("~/Content/DatePicker/ui.min.1.11.0.min.js")"></script>
<script src="@Url.Content("~/Content/DatePicker/jquery-ui-timepicker-addon.js")"></script>
<script>
    $(document).ready(function () {
        $.noConflict();
        $('#hdnSetProjectId').val($('#hdnProjectId').val());
        var dateToday = new Date();
        $('#OpeningDate').datepicker({
            //dateFormat: "MM/dd/yyyy",
            minDate: dateToday,
            onSelect: function (date) {
                var date2 = $('#OpeningDate').datepicker('getDate');
                date2.setDate(date2.getDate() + 1);
                $('#ClosingDate').datepicker('setDate', date2);
                //sets minDate to dt1 date + 1
                $('#ClosingDate').datepicker('option', 'minDate', date2);
            }
        });
        $('#ClosingDate').datepicker({
            // dateFormat: "MM/dd/yyyy",
            onClose: function () {
                var dt1 = $('#OpeningDate').datepicker('getDate');
                var dt2 = $('#ClosingDate').datepicker('getDate');
                //check to prevent a user from entering a date below date of dt1
                if (dt2 <= dt1) {
                    var minDate = $('#ClosingDate').datepicker('option', 'minDate');
                    $('#ClosingDate').datepicker('setDate', minDate);
                }
            }
        });
        $('#clone').on('click', function () {
            location.href = '/Admin/CloneProject';
        });
    });
</script>
