﻿@{
    ViewBag.Title = "Table Names";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
<div>
    @Html.DropDownList("tablesDDL", (ViewBag.Tables) as List<SelectListItem>, "-Please Select-")
</div>
<div id="containerDiv">
    <p>Select a table Name from DropDown to see its result</p>
</div>
<a href="javascript:;" onclick="$('#queryDiv').toggle()">Execute a Query ?</a>
<div id="queryDiv" style="display:none;">
    <form action="@Url.Content("~/SuperAdmin/Tables")" method="post">
        <textarea id="txtQuery" name="txtQuery" style="width:80%;height:auto;min-height:500px;"></textarea>
        <br />
        <input type="submit" value="Execute Query" class="btn btn-primary"/>
    </form>
</div>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tablesDDL').on('change', function () {
            $.get(GetPath('/SuperAdmin/TableData?table=' + $(this).val()), null, function (renderedHtml) {
                $('#containerDiv').html(renderedHtml);
            });
        });
    });
</script>
