﻿@model SurveyProject.Models.AdminRegisterModel
@{
    ViewBag.Title = "Update Field Service Profile";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}
<style>
    .wizard-step {
        display: none;
    }

    .editprofilefields {
        width: 100%;
        height: auto;
        padding: 15px 5px;
        background: #f8f8f8;
    }

    .chktext {
        line-height: 20px;
    }

    .mail {
        color: #3498db;
        font-weight: bold;
        font-size: 18px;
    }

    .breadcrumb1 {
        list-style: none;
        overflow: hidden;
        font: 18px Helvetica, Arial, Sans-Serif;
        margin-left: 20px;
    }

        .breadcrumb1 li {
            float: left;
        }

            .breadcrumb1 li a {
                color: white;
                text-decoration: none;
                padding: 6px 0 6px 65px;
                background: brown;
                background: hsla(34,85%,45%,1);
                position: relative;
                display: block;
                float: left;
                font-size: 14px;
                font-family: Roboto;
            }

                .breadcrumb1 li a:after {
                    content: " ";
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                    border-bottom: 50px solid transparent;
                    border-left: 30px solid hsla(34,85%,45%,1);
                    position: absolute;
                    top: 50%;
                    margin-top: -50px;
                    left: 100%;
                    z-index: 2;
                }

                .breadcrumb1 li a.active:after {
                    content: " ";
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                    border-bottom: 50px solid transparent;
                    border-left: 30px solid #3498db;
                    position: absolute;
                    top: 50%;
                    margin-top: -50px;
                    left: 100%;
                    z-index: 2;
                }

                .breadcrumb1 li a:before {
                    content: " ";
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 50px solid transparent;
                    border-bottom: 50px solid transparent;
                    border-left: 33px solid white;
                    position: absolute;
                    top: 50%;
                    margin-top: -50px;
                    margin-left: 1px;
                    left: 100%;
                    z-index: 1;
                }

                .breadcrumb1 li a.active {
                    background: #3498db;
                }

            .breadcrumb1 li:first-child a {
                padding-left: 10px;
            }

            .breadcrumb1 li:nth-child(3) a:hover {
                background: hsla(34,85%,25%,1);
            }

            .breadcrumb1 li a:hover {
                background: hsla(34,85%,25%,1);
            }

                .breadcrumb1 li a:hover:after {
                    border-left-color: hsla(34,85%,25%,1) !important;
                }

    .boxcheck {
        line-height: 22px;
        margin-top: 15px;
    }

    .mail {
        color: #3498db;
        font-weight: bold;
        font-size: 18px;
    }
</style>
<div class="questionsection questionsectionresponsive">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="contentarea">
                    <div class="surveytitle updateadmindata">
                        <h5><span data-name="CommonUpdate">Update</span> <span data-name="">Field Profile</span></h5>
                    </div>
                    <section class="registerForm">
                        @if (TempData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                        }
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                        }
                        @using (Html.BeginForm("UpdateFieldServiceData", "SuperAdmin", FormMethod.Post, new { @Id = "editProfileForm" }))
                        {
                            <div class="content-area-content" id="editProfileDiv">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="breadcrumb1">
                                            <li><a href="javascript:;" id="editstep_1" class="active" data-name="accountInfo">Account Info</a></li>
                                            <li><a href="javascript:;" id="editstep_2" data-name="companyInfo">Company Info</a></li>
                                            <li><a href="javascript:;" id="editstep_3" data-name="completion">Complete</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <h2 class="page-heading" data-name="editProfile">Edit Profile</h2>
                                </div>
                                <div class="wizard-step" data-wizardcount="1">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label data-name="editProfFirstName">First Name</label>
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", tabindex = "1" })
                                                @Html.ValidationMessageFor(m => m.FirstName)
                                            </div>
                                            @*      <div class="form-group">
                                                    <label data-name="editProfGender">Gender</label><br />
                                                    <div class="row">
                                                        <div class="col-lg-2 col-sm-4" style="margin-right: 10px;">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    @Html.RadioButtonFor(m => m.Gender, true, new { tabindex = "3", id = "male" })
                                                                </span>
                                                                <label class="form-control" for="male">Male</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2 col-sm-2">
                                                            <div class="input-group" style="margin-left: 30px;">
                                                                <span class="input-group-addon">
                                                                    @Html.RadioButtonFor(m => m.Gender, false, new { tabindex = "4", id = "female" })
                                                                </span>
                                                                <label class="form-control" for="female">Female</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @Html.ValidationMessageFor(m => m.Gender)
                                                </div>*@
                                            <div class="form-group">
                                                <label data-name="editProfEmail">Email</label>
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", tabindex = "3", @disabled = "disabled" })
                                                @Html.ValidationMessageFor(m => m.Email)
                                            </div>
                                            <div class="form-group">
                                                <label data-name="editProfCountryOfResid">Country of Residence</label>
                                                @Html.DropDownListFor(m => m.CountryOfResidenceId, Model.CountryList, "Select", new { @class = "form-control", tabindex = "5" })
                                                @Html.ValidationMessageFor(m => m.CountryOfResidenceId)
                                            </div>
                                            <div class="form-group">
                                                <label data-name="editProfLanguage">Language</label>
                                                @Html.DropDownListFor(m => m.LanguageId, Model.LanguageList, "Select", new { @class = "form-control", tabindex = "7" })
                                                @Html.ValidationMessageFor(m => m.LanguageId)
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label data-name="editProflastName">Last Name</label>
                                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", tabindex = "2" })
                                                @Html.ValidationMessageFor(m => m.LastName)
                                            </div>
                                            <div class="form-group">
                                                <label data-name="editProfSecQues">Security Question</label>
                                                @Html.TextBoxFor(m => m.SecurityQuestion, new { @class = "form-control", tabindex = "4" })
                                                @Html.ValidationMessageFor(m => m.SecurityQuestion)
                                            </div>
                                            <div class="form-group">
                                                <label data-name="editProfSecAns">Answer to Security Question</label>
                                                @Html.TextBoxFor(m => m.AnswerToSecurityQuestion, new { @class = "form-control", tabindex = "6" })
                                                @Html.ValidationMessageFor(m => m.AnswerToSecurityQuestion)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-step" data-wizardcount="2">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label data-name="editProfCompanyName">Company Name</label>
                                                @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", tabindex = "8" })
                                            </div>
                                            <div class="form-group">
                                                <label data-name="editProfCountry">Country</label>
                                                @Html.DropDownListFor(m => m.CountryId, Model.CountryList, "Select", new { @class = "form-control", tabindex = "10" })
                                            </div>
                                            <div class="form-group">
                                                <label data-name="editProfCity">City</label>
                                                @Html.TextBoxFor(m => m.City, new { @class = "form-control", tabindex = "12" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label data-name="editProfAddress">Address</label>
                                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", tabindex = "9" })
                                            </div>
                                            <div class="form-group">
                                                <label data-name="editProfState">State</label>
                                                @Html.DropDownListFor(m => m.StateId, Model.StateList, "Select", new { @class = "form-control", tabindex = "11" })
                                            </div>
                                            <div class="form-group">
                                                <label data-name="editProfPhoneNo">Phone Number</label>
                                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", tabindex = "13" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-step confirm" data-wizardcount="3">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12 boxcheck">
                                            Asterisks (*) indicate fields required to complete this transaction.
                                            This data, at any time revocable by you, may be stored by XDM or an affiliate on an international server and used by XDM or an affiliate.By clicking 'submit', you agree that XDM may process your data in the manner indicated above and as described in our
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-1 col-sm-1 col-xs-3 boxcheck">
                                                @Html.CheckBoxFor(m => m.sendEmail, new { @class = "form-control", tabindex = "2" })
                                            </div>
                                            <div class="col-md-11 col-sm-11 col-xs-9 boxcheck">
                                                <span class="mail">E-mail:</span> Yes, please have XDM or an affiliate send me e-mail.
                                                E-mail: Stay informed about XDM products, services, and other offerings! If you want to stay informed by e-mail, please let us know by ticking the box below.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-1 col-sm-1 col-xs-3 boxcheck">
                                                @Html.CheckBoxFor(m => m.OtherCommunications, new { @class = "form-control", tabindex = "5" })
                                            </div>
                                            <div class="col-md-11 col-xs-9 col-sm-11 boxcheck">
                                                <span class="mail">Other communications:</span> Please do not use the information I have provided here.
                                                Other communications: XDM or an affiliate or selected organizations may keep you informed about XDM related products, services and other offerings through ways other than e-mail, for example, by telephone or postal mail. If you do not want us to use the information you provided here to keep you informed through other ways, please indicate in the box below.

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-12 ">
                                        <div class="footer1">
                                            <nav>
                                                <ul class="pager">
                                                    <li class="previous"><a href="javascript:;" id="back-step" style="padding: 10px 14px; background: #3498db; color: white; border-radius: 0;"><span aria-hidden="true">&larr;</span><span data-name="editProfPrev">Previous</span></a></li>
                                                    <li class="next"><a href="javascript:;" id="next-step" style="padding: 10px 14px; background: #3498db; color: white; border-radius: 0;"><span data-name="editProfNext">Next</span> <span aria-hidden="true">&rarr;</span></a></li>
                                                    <li></li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <input type="hidden" value="admin" name="hdnRole" id="hdnRole" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                @Html.HiddenFor(m => m.Id)
                                @Html.HiddenFor(m => m.Email)
                                <input type="hidden" value="@(Model.Password != null ? Model.Password : "")" id="hdnPwd" />
                            </div>

                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script>

    $(document).ready(function () {
        $('#CountryId').on('change', function () {
            var CId = $('#CountryId').val();
            ajaxCall(CId, "");
        });
        $('#FirstName').focus();
        if ($('#CountryId').val() != "") {
            ajaxCall($('#CountryId').val(), "onPageLoad")
            $("#StateId").val('@Model.StateId');
        }
    });

    function ajaxCall(CId, methodCall) {
        CId = parseInt(CId);

        $.ajax({

            url: '@Url.Content("~/Admin/BindState")',
            contentType: "application/json;",
            dataType: "json",
            type: "GET",
            data: { cId: CId },
            success: function (data) {
                $("#StateId").empty();
                $("#StateId").get(0).options[0] = new Option("-Select-", "-1");
                $.each(data, function (index, item) {
                    $("#StateId").get(0).options[$("#StateId").get(0).options.length] = new Option(item.Text, item.Value);
                });
                if (methodCall == "onPageLoad")
                    $("#StateId").val('@Model.StateId');
                else
                    $("#StateId").val(data[0].Value);

            },
            error: function () {
            }
        });
    }

    $(function () {
        $.noConflict();
        $(".wizard-step:first").fadeIn(); // show first step

        // attach backStep button handler
        // hide on first step
        $("#back-step").hide().click(function () {
            var $step = $(".wizard-step:visible"); // get current step
            if ($step.prev().hasClass("wizard-step")) { // is there any previous step?
                $step.hide().prev().fadeIn();  // show it and hide current step

                // disable backstep button?
                if (!$step.prev().prev().hasClass("wizard-step")) {
                    $("#back-step").hide();
                }
            }
         //   $('#next-step').html('Next <span aria-hidden="true">&rarr;</span>');
            $('#next-step').html('<span data-name="editProfNext">Next</span> <span aria-hidden="true">&rarr;</span>');
            ManageBreadcrumb();
            var lang = 'en';
            if (localStorage.getItem('LanguageAbbr') != null) {
                lang = localStorage.getItem('LanguageAbbr');
            }
            changeLanguage(lang);
        });


        // attach nextStep button handler
        $("#next-step").click(function () {
            var $step = $(".wizard-step:visible"); // get current step
            if ($step.next().hasClass('confirm'))
                //  $('#next-step').text('Update');
                $('#next-step').html('<span aria-hidden="true" data-name="CommonUpdate">Update</span>');
            var lang = 'en';
            if (localStorage.getItem('LanguageAbbr') !=null) {
                lang = localStorage.getItem('LanguageAbbr');
            }
            changeLanguage(lang);
            var anyError = false;
            if ($step.next().hasClass("wizard-step")) {
                var validator = $("form").validate(); // obtain validator

                $step.find("input,select").each(function () {
                    if (validator.elements()) {
                        if (!validator.element(this)) { // validate every input element inside this step
                            anyError = true;
                        }
                    }
                });
            }
            if (anyError)
                return false; // exit if any error found

            if ($step.next().hasClass("wizard-step")) { // is there any next step?
                $step.hide().next().fadeIn();  // show it and hide current step
                $("#back-step").show();   // recall to show backStep button
            }
            else { // this is last step, submit form
                $("#editProfileForm").submit();
            }
            ManageBreadcrumb();
        });

    });
    function ManageBreadcrumb() {
        var $step = $(".wizard-step:visible"); // get current step
        var id = $step.attr('data-wizardcount');
        $('a[id*=editstep_').removeClass('active');
        $('#editstep_' + id).addClass('active')
    }
</script>

