﻿@model SurveyProject.Models.ManageAdminModel

@{
    ViewBag.Title = "AdminList";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}
 <style>
      .table-striped > thead > tr > th {
    background-color: #3498DB !important;
    color: #FFF !important;
    border-right: 1px solid #F8F8F8 !important;
}
     </style>
<div class="questionsection2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="contentarea2">
                    <div class="surveytitle2">
                        <h5><span data-name="CommonUpdate">Update</span> <span data-name="SuperAdminAdminList">Admin List</span></h5>
                    </div>
                    <div class="table-responsive">@if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                    }
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                    }
                    @if (Model.Adminlist != null && @Model.Adminlist.Count > 0)
                    {
                        int i = 1;
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th data-name="CommonSrNo">Sr. no.
                                </th>
                                <th data-name="editProfFirstName">First Name
                                </th>
                                <th data-name="editProflastName">Last Name
                                </th>
                                <th data-name="editProfEmail">Email
                                </th>
                                <th data-name="CommonAction">Action</th>
                            </tr>
                                </thead>
                            @foreach (var item in Model.Adminlist)
                            {
                                <tr>
                                    <td>
                                        @i
                                    </td>
                                    <td>
                                        @Html.DisplayFor(l => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(l => item.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(l => item.Email)
                                    </td>
                                    
                                    <td>
                                        <a href="~/SuperAdmin/UpdateAdminData/@item.Id" data-name="CommonEdit">Edit</a>&nbsp;|<a href="~/SuperAdmin/DeleteAdmin?id=@Convert.ToString(@item.Id)" onclick="return confirm('Are you sure to delete ?')" data-name="CommonDelete">delete</a>
                                    </td>
                                </tr>
                                i++;
                            }

                        </table>
                    }</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('a[id*=toggleBtn_]').on('click', function () {
            var stat = false;
            var btn = $(this);
            var statusButton = $('#statusBtn_' + $(this).attr('id').split('_')[1]);
            stat = $(this).attr('data-status');
            $.ajax({
                url: GetPath('/SuperAdmin/DeleteAdmin'),
                data: { id: $(this).attr('data-id'), status: stat },
                ContentType: 'application/json',
                DataType: 'json',
                type: 'GET',
                success: function (data) {

                    var jsonData = JSON.parse(data);
                    if (jsonData.Status == 1) {
                        if (stat == 'True') {

                        }
                        else if (stat == 'False') {

                        }
                    }
                },
                error: function () {
                },
                complete: function () {
                }
            });
        });
    });

</script>
