﻿@model SurveyProject.Models.SurveyResponseModel
@{
    ViewBag.Title = "View Response";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
    int singleHorizontalCol = 0;
    int SinglePunchMatrix = 0;
    int multiHorizontalCol = 0;
    int RankOrderCol = 0;
    int KanoCol = 0;
    int DDLCol = 0;
}
<style>
    label {
        word-wrap: break-word;
    }

    .pagerbutton {
        padding: 9px 14px;
        background: #3498db;
        color: white;
        border-radius: 0;
    }

    /*.prev-quest > span, .prev-quest > p, .prev-quest > div {
        display: block;
    }*/


    .prev-quest > p {
        line-height: 22px;
    }

    .formgrouptextclass {
        padding: 0px 20px;
    }

    .wizard-step {
        display: none;
    }

    .display-field {
        font-weight: bold;
    }

    .view-wizard-steps {
        padding: 5px 15px;
        margin: 10px auto;
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset;
        -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset;
        border: 1px solid rgba(91, 91, 91,.3);
        background-color: #f8f8f8;
    }

    .prev-quest {
        font-weight: 600;
        font-size: 14px;
    }

    .table-row {
        display: table-row;
    }

    .head-left {
        display: table-cell;
        min-width: 110px;
        padding: 5px 0;
        padding-left: 4px;
        width: 110px;
        margin-right: 5px;
        font-size: 12px;
        font-weight: 600;
    }

    .head-right {
        display: table-cell;
        min-width: 70px;
        max-width: 70px;
        padding: 5px 2px;
        width: 70px;
        text-align: center;
        word-wrap: break-word;
        font-size: 12px;
        font-weight: 600;
    }

    .body-left {
        display: table-cell;
        min-width: 115px;
        padding: 2px 0;
        padding-left: 4px;
        width: 115px;
        max-width: 115px;
        line-height: 17px;
    }

    .body-right {
        display: table-cell;
        min-width: 70px;
        padding: 2px 0;
        width: 70px;
        text-align: center;
    }

        .body-right > select {
            width: 96%;
        }

    #pagingDiv {
        padding: 0 15px;
        overflow: hidden;
        clear: both;
    }

        #pagingDiv > a {
            padding: 5px 10px;
            font-size: 12px;
            float: left;
            border: 1px solid #ccc;
            border-left: none;
            color: #666;
            text-decoration: none;
        }

            #pagingDiv > a:first-child {
                border-left: 1px solid #ccc;
            }

            #pagingDiv > a.active-page {
                background-color: #3498db;
                color: #fff;
            }

    .page-heading {
        margin: 0;
        margin: 0 15px;
        padding-top: 15px;
        margin-bottom: 10px;
    }
</style>
<h2 class="page-heading">@Model.projectModel.ProjectName</h2>
<div id="pagingDiv" style="@(ViewBag.productList != "" ? "Display:block;" : "Display:none;")">
</div>
<div class="container-fluid" id="divResponse">
    <input type="hidden" id="hdnProjId" value="@Model.projectModel.Id" />
    <input type="hidden" id="hdnEmail" value="@Model.responder.ResponderEmail" />
    <div class="alert alert-danger" id="errorDiv" style="display: none;">
        <p>Request Error</p>
    </div>
    <div class="alert alert-success" id="successDiv" style="display: none;">
        <p>Survey response updated sucessfully.</p>
    </div>
    <div>
        @if (Model.lstQuestionModel != null && Model.lstQuestionModel.Count > 0)
        {
            int count = 0;
            foreach (var question in Model.lstQuestionModel)
            {
                count++;
                int countCol = 0;
            <div class="view-wizard-steps surveyQuestions">
                <div class="row">
                    <h4  class="prev-quest" data-questionId="@question.QuestionId" data-questionTypeId="@question.QuestionTypeId" style="padding:5px 15px;"><span class="numbers" style="margin-right: 15px;">@count</span>@Html.Raw(question.QuestionTitle)</h4>
                </div>
                <div class="table-responsive">
                    <div class="table" style="width: 100%;">
                        @if (question.QuestionTypeId != 7 && question.QuestionTypeId != 3 && question.QuestionTypeId != 8)
                        {
                            if (question.lstOptionsModel != null && question.lstOptionsModel.Count > 0)
                            {
                                foreach (var option in question.lstOptionsModel)
                                {
                            <div style="padding: 0 15px;" class="table-row">
                                @if (question.QuestionTypeId == 1)
                                {
                                    <div class="input-group" style="margin-bottom: 5px;">
                                        <span class="input-group-addon">
                                            <input type="radio" value="@option.OptionId" name="@question.QuestionId" data-answerId="@option.OptionId">
                                        </span>
                                        <label class="form-control">@option.Option</label>
                                    </div>
                                }

                                else if (question.QuestionTypeId == 2)
                                {
                                    <div class="input-group" style="margin-bottom: 5px;">
                                        <span class="input-group-addon">
                                            <input type="checkbox" value="@option.OptionId" data-answerId="@option.OptionId">
                                        </span>
                                        <label class="form-control">@option.Option</label>
                                    </div>
                                }
                                else if (question.QuestionTypeId == 4 || question.QuestionTypeId == 5)
                                {
                                    <div class="form-group">
                                        <label style="margin-bottom: 5px!important;">@option.Option</label>
                                        <input type="text" placeholder="type your answer" class="form-control numeric" />
                                    </div>
                                }
                                else if (question.QuestionTypeId == 6)
                                {
                                    <div class="matrixType">
                                        <div class="body-left">
                                            <label style="line-height: 37px; vertical-align: text-bottom;">@option.Option</label>
                                        </div>
                                        <div class="body-right" style="width: auto; padding: 0 5px;">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <input type="radio" value="@option.OptionId~Yes" name="@option.OptionId" data-answerId="@option.OptionId">
                                                </span>
                                                <label class="form-control">Yes</label>
                                            </div>
                                        </div>
                                        <div class="body-right" style="width: auto; padding: 0 5px;">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <input type="radio" value="@option.OptionId~No" name="@option.OptionId" data-answerId="@option.OptionId">
                                                </span>
                                                <label class="form-control" for="admin">No</label>
                                            </div>
                                        </div>
                                        @*Separate Required for Matrix Type Questions*@
                                        <div class="body-right">
                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                        </div>
                                    </div>
                                }

                                else if (question.QuestionTypeId == 9) //Range Matrix Type Question
                                {
                                    if (countCol == 0)
                                    {
                                    <div class="matrixType table-row">
                                        <div class="head-left">
                                            <label>@question.OptionsCaption</label>
                                        </div>
                                        @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                        {
                                            foreach (var col in question.lstMatrixTypeModel)
                                            {
                                            <div class="head-right" style="text-align: center;">
                                                <label>@col.ColumnName</label>
                                            </div>
                                            }
                                        }
                                        <div>
                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                        </div>
                                    </div> 
                                        countCol++;
                                    }
                                    <div class="matrixType table-row">
                                        <div class="body-left">
                                            <label>@option.Option</label>
                                        </div>
                                        @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                        {
                                            foreach (var col in question.lstMatrixTypeModel)
                                            {
                                            <div class="body-right" style="text-align: center; vertical-align: top; padding: 2px!important;">
                                                <input type="text" class="form-control" data-colId="@col.Id"  data-optId="@option.OptionId"/>
                                                <input type="hidden" class="skip" value="@option.SkipQuestionId" data-isSkip="@Convert.ToString(option.IsSkip)" />
                                            </div>
                                            }
                                        }
                                        <div>
                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                        </div>
                                    </div> 
                                }

                                else if (question.QuestionTypeId == 10) //Single punch type answer horizontal position
                                {
                                    if (countCol == 0)
                                    {
                                    <div class="matrixType table-row">
                                        <div class="head-left">
                                            <label>@question.OptionsCaption</label>
                                        </div>
                                        @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                        {
                                            foreach (var col in question.lstMatrixTypeModel)
                                            {                                                   
                                            <div class="head-right" style="text-align: center;">
                                                <label>@col.ColumnName</label>
                                            </div>
                                            }
                                        }
                                        <div>
                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                        </div>
                                    </div>
                                        countCol++;
                                    }
                                    <div class="matrixType table-row">
                                        <div class="body-left">
                                            <label>@option.Option</label>
                                        </div>
                                        @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                        {
                                            foreach (var col in question.lstMatrixTypeModel)
                                            {                                                  
                                            <div class="body-right" style="text-align: center;">
                                                <input type="radio" value="@option.OptionId~@col.Id" name="singleHorizontal_@singleHorizontalCol" data-name="@col.Id" data-answwerId="@col.Id" data-optionId="@option.OptionId" data-maxResponsesCount="@option.MaxResponsesCount" data-TypeIdYes="6" data-IsValueYes="" data-quotaOtherIdYes="">
                                                <input type="hidden" class="skip" value="@option.SkipQuestionId" data-isSkip="@Convert.ToString(option.IsSkip)" />
                                            </div>
                                            }
                                            singleHorizontalCol += 1;
                                        }
                                        <div>
                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                        </div>
                                    </div> 
                                }
                                else if (question.QuestionTypeId == 11) //Multiple punch type answer horizontal position
                                {
                                    if (countCol == 0)
                                    {
                                    <div class="matrixType table-row">
                                        <div class="head-left">
                                            <label></label>
                                        </div>
                                        @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                        {
                                            foreach (var col in question.lstMatrixTypeModel)
                                            {                                                   
                                            <div class="head-right" style="text-align: center;">
                                                <label>@col.ColumnName</label>
                                            </div>
                                            }
                                        }
                                        <div>
                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                        </div>
                                    </div>
                                        countCol++;
                                    }
                                    <div class="matrixType table-row">
                                        <div class="body-left">
                                            <label>@option.Option</label>
                                        </div>
                                        @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                        {
                                            foreach (var col in question.lstMatrixTypeModel)
                                            {                                                   
                                            <div class="body-right" style="vertical-align: top; text-align: center;">
                                                <input type="checkbox" value="@option.OptionId~@col.Id" name="multiHorizontal_@multiHorizontalCol" data-name="@col.Id" data-answwerId="@col.Id" data-optionId="@option.OptionId" data-maxResponsesCount="@option.MaxResponsesCount" data-TypeIdYes="6" data-IsValueYes="" data-quotaOtherIdYes="" class="radiotype">
                                                <input type="hidden" class="skip" value="@option.SkipQuestionId" data-isSkip="@Convert.ToString(option.IsSkip)" />
                                            </div>
                                            }
                                            multiHorizontalCol += 1;
                                        }
                                        <div>
                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                        </div>
                                    </div>
                                       
                                }
                                else if (question.QuestionTypeId == 12) //Rank order type question
                                {
                                    if (countCol == 0)
                                    {
                                    <div class="matrixType table-row">
                                        <div class="head-left">
                                            <label>@question.OptionsCaption</label>
                                        </div>
                                        @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                        {
                                            foreach (var col in question.lstMatrixTypeModel)
                                            {                                                   
                                            <div class="head-right">
                                                <label>@col.ColumnName</label>
                                            </div>
                                            }
                                        }
                                        <div>
                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                        </div>
                                    </div>
                                        countCol++;
                                    }
                                    <div class="matrixType table-row">
                                        <div class="body-left">
                                            <label>@option.Option</label>
                                        </div>
                                        @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                        {
                                            foreach (var col in question.lstMatrixTypeModel)
                                            {                                                  
                                            <div class="body-right">
                                                <input type="radio" value="@option.OptionId~@col.Id" name="rank_@col.Id" data-name="@col.Id" data-answwerId="@col.Id" data-optionId="@option.OptionId" data-maxResponsesCount="@option.MaxResponsesCount" data-TypeIdYes="6" data-IsValueYes="" data-quotaOtherIdYes=""> @*name="rank_@RankOrderCol"*@
                                                <input type="hidden" class="skip" value="@option.SkipQuestionId" data-isSkip="@Convert.ToString(option.IsSkip)" />
                                            </div>
                                            }
                                            RankOrderCol += 1;
                                        }
                                        <div>
                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                        </div>
                                    </div> 
                                }
                                else if (question.QuestionTypeId == 13) //KANO Model Matrix type question
                                {
                                    if (countCol == 0)
                                    {
                                    <div class="matrixType type-13" style="background-color:#dbe5f1;border:1px solid;">
                                        <div class="head-left" style="min-width: 116px;">
                                            <label>@question.OptionsCaption</label>
                                        </div>
                                        @if (question.lstMatrixTypeGroup != null && question.lstMatrixTypeGroup.Count > 0)
                                        {
                                            foreach (var grp in question.lstMatrixTypeGroup)
                                            {
                                            <div class="head-right" style="width: 50% !important; border-right: 1px solid #000; max-width: none;">
                                                <span style="display: block; text-align: center;">@grp.GroupCaption</span>
                                                @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                                {
                                                    foreach (var col in question.lstMatrixTypeModel)
                                                    {
                                                        if (grp.Id == col.GroupId)
                                                        {
                                                    <div style="display: table-cell!important; width: 68px; vertical-align: baseline; float: left; box-sizing: border-box; text-align: center; font-size: 12px; font-weight: 600; padding: 5px 0!important;">
                                                        <label>@col.ColumnName</label>
                                                    </div>
                                                        }
                                                    }
                                                }
                                            </div>
                                            }
                                        }
                                        <div>
                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                        </div>
                                    </div>
                                        countCol++;
                                    }
                                    <div class="matrixType table-row" style="@((countCol++) % 2 == 0 ? "background-color:#dbe5f1;" : "")">
                                        <div class="body-left" style="max-width: 110px;border-left: 1px solid rgb(0, 0, 0);border-bottom:1px solid rgb(0, 0, 0);border-right: 1px solid rgb(0, 0, 0);">
                                            <label>@option.Option</label>
                                        </div>
                                        @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                        {
                                            int columnsCount = question.lstMatrixTypeModel.Count;
                                            int halfCount = columnsCount / 2;
                                            int startCount = 1;
                                            foreach (var col in question.lstMatrixTypeModel)
                                            {                                                  
                                            <div class="body-right" style="max-width: 100px; text-align: center;border-right: 1px solid rgb(0, 0, 0);border-bottom:1px solid rgb(0, 0, 0);">
                                                <input type="radio" value="@option.OptionId~@col.Id" name="Kano_@(startCount <= halfCount ? KanoCol + "_YES" : KanoCol + "_NO")" data-name="@col.Id" data-answwerId="@col.Id" data-optionId="@option.OptionId" data-maxResponsesCount="@option.MaxResponsesCount" data-TypeIdYes="6" data-IsValueYes="" data-quotaOtherIdYes="">
                                                <input type="hidden" class="skip" value="@option.SkipQuestionId" data-isSkip="@Convert.ToString(option.IsSkip)" />
                                            </div>
                                                startCount = startCount + 1;
                                            }
                                            KanoCol += 1;
                                        }
                                        <div>
                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                        </div>
                                    </div> 
                                }
                                else if (question.QuestionTypeId == 14) //Dropdown Matrix type question
                                {
                                    if (countCol == 0)
                                    {
                                    <div class="matrixType table-row">
                                        <div class="head-left">
                                            <label>@question.OptionsCaption</label>
                                        </div>
                                        @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                        {
                                            foreach (var col in question.lstMatrixTypeModel)
                                            {                                                   
                                            <div class="head-right">
                                                <label>@col.ColumnName</label>
                                            </div>
                                            }
                                        }
                                        <div>
                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                        </div>
                                    </div>
                                        countCol++;
                                    }
                                    <div class="matrixType table-row">
                                        <div class="body-left">
                                            <label>@option.Option</label>
                                        </div>
                                        @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                        {
                                            foreach (var col in question.lstMatrixTypeModel)
                                            {
                                                if (question.lstDDlMatrixModel != null && question.lstDDlMatrixModel.Count > 0)
                                                {                                 
                                            <div class="body-right">
                                                <select>
                                                    @foreach (var opt in question.lstDDlMatrixModel)
                                                    { 
                                                        <option value="@opt.Id" data-valFormat="@option.OptionId*@opt.Id~@col.Id">@opt.OptionName</option>
                                                    }
                                                </select>
                                            </div>
                                                    DDLCol += 1;
                                                }
                                            }
                                        }
                                        <div>
                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                        </div>
                                    </div>
                                }
                            </div>
                                }
                            }
                        }

                        else if (question.QuestionTypeId == 8) //Single Punch Matrix Type
                        {

                            if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                            {
                                foreach (var col in question.lstMatrixTypeModel)
                                {
                                    <div class="container-fluid table-row">
                                        @if (countCol == 0)
                                        {
                                            <div class="matrixType table-row">
                                                <div class="head-left">
                                                  
                                                    <label>@question.OptionsCaption</label>
                                                </div>
                                                @if (question.lstOptionsModel != null && question.lstOptionsModel.Count > 0)
                                                {
                                                    foreach (var option in question.lstOptionsModel)
                                                    {
                                                        <div class="head-right">                                                       
                                                            <label>@option.Option</label>
                                                        </div>
                                                    }
                                                }
                                                <div>
                                                    <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                                </div>
                                            </div>
                                                countCol++;
                                        }
                                        <div class="matrixType table-row">
                                          
                                            <div class="body-left">                                            
                                              <label> @col.ColumnName</label>
                                            </div>
                                         @if (question.lstOptionsModel != null && question.lstOptionsModel.Count > 0)
                                            {
                                                foreach (var option in question.lstOptionsModel)
                                                {                                                 
                                                    <div class="body-right">                                                      
                                                        <input type="radio" value="@option.OptionId~@col.Id" name="singleMatrix_@col.Id" data-name="@col.Id" data-answwerId="@col.Id" data-optionId="@option.OptionId" data-maxResponsesCount="@option.MaxResponsesCount" data-TypeIdYes="6" data-IsValueYes="" data-quotaOtherIdYes="" />
                                                        <input type="hidden" class="skip" value="@option.SkipQuestionId" data-isSkip="@Convert.ToString(option.IsSkip)" />
                                                    </div>                                            
                                                }
                                                SinglePunchMatrix += 1;
                                            }
                                            <div>
                                                <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }

                        else
                        {
                            <div class="form-group">
                                <div>
                                    <input type="text" placeholder="Write your answer." class="form-control @(question.QuestionTypeId == 3 ? "numeric" : "")" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            }
        }
        <div class="row ">
            <div class="col-md-12 ">
                <div class="footer1">
                    <nav>
                        <ul class="pager">
                            <li class="previous"><a href="javascript:;" style="padding: 10px 14px; background: #3498db; color: white; border-radius: 0;" onclick="return UpdateSurvey()" data-name="CommonUpdate">Update</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    var prodId = 0;
    var products = '';
    var productarray = '';
    var productNamearray = '';
    var currentProductName = '';
    var currentProduct = '';
    $(document).ready(function () {

        $('.type-13').each(function () {
            $(this).find('.head-right:last').css({ 'border-right': '1px solid transparent' });
        });
        $('#hdnSetProjectId').val($('#hdnProjId').val());
        var projId = $('#hdnProjId').val();
        var emailId = $('#hdnEmail').val();

        if ('@ViewBag.ProductNameList' != null) {
            productNamearray = '@ViewBag.ProductNameList'.trim().split(',');
            //if (productNamearray != null && productNamearray.length > 0) {
            //    // $('#productHeading').text(productNamearray[0]);
            //}

        }


        if ('@ViewBag.productList' != null) {
            products = '@ViewBag.productList';
            productarray = products.trim().split(',');
            if (productarray != null && productarray.length > 0) {
                prodId = productarray[0];
                currentProduct = productarray[0];
                var paginghtml = '<a href="javascript:;" id="pagination_' + productarray[0] + '" class="active-page" onclick="BindProducts(' + productarray[0] + ')">' + productNamearray[0] + '</a>';
                $('#pagingDiv').append(paginghtml);
            }
        }



        var surveyId = '@ViewBag.SurveyId';
        var uid = '@ViewBag.uid';


        showAnswers(projId, emailId, prodId);

        //$('#nextBtn').on('click', function () {
        //    $('#ProductIframe').contents().find('html').html('');
        //    if (products != '') {
        //        if (productarray != null && productarray.length > 1) {
        //            for (i = 1; i <= 1 ; i++) {
        //                $.get('/Admin/_PartialViewSurvey?surveyId=' + surveyId + '&uid=' + uid, '', function (r) {
        //                    $('#divResponse').html(r);
        //                });
        //                showAnswers(projId, emailId, productarray[i]);
        //            }
        //        }
        //    }

        //});

        if (products != '') {
            if (productarray != null && productarray.length > 1) {
                for (i = 1; i < productarray.length - 1 ; i++) {
                    var paginghtml = '<a href="javascript:;" id="pagination_' + productarray[i] + '"  onclick="BindProducts(' + productarray[i] + ')">' + productNamearray[i] + '</a>';
                    $('#pagingDiv').append(paginghtml);
                }
            }
        }

    });

    function showAnswers(projId, emailId, prodId) {
        $.ajax({
            url: GetPath('/Respondent/GetAnswers'),
            data: { projectId: projId, email: emailId, productId: prodId, ExternalResponderId: '@ViewBag.uid' },
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                var jsonData = JSON.parse(data);
                for (var i = 0; i <= jsonData.data.length - 1; i++) {
                    var questionId = jsonData.data[i].QuestionId;
                    var AnswerExpression = jsonData.data[i].AnswerExpression;
                    var allAnswers = AnswerExpression.split('|');
                    var quest = $('h4[data-questionid=' + questionId + ']');
                    var count = 0;
                    quest.parent().parent().find('input,select').each(function () {
                        // Bind all the radio answers
                        if ($(this).attr('type') == 'radio' || $(this).attr('type') == 'checkbox') {
                            // Bind the Matrix answers
                            if (quest.attr('data-questiontypeid') == '6' || quest.attr('data-questiontypeid') == '8' || quest.attr('data-questiontypeid') == '10' || quest.attr('data-questiontypeid') == '11' || quest.attr('data-questiontypeid') == '12' || quest.attr('data-questiontypeid') == '13') {
                                for (var k = 0; k <= allAnswers.length - 1; k++) {
                                    if ($(this).val() == allAnswers[k]) {
                                        $(this).attr('checked', 'checked');
                                    }
                                }
                            }
                            // Bind other than matrix answers
                            for (var j = 0; j <= allAnswers.length - 1; j++) {
                                if ($(this).attr('data-answerid') == allAnswers[j]) {
                                    $(this).attr('checked', 'checked');
                                }
                            }
                        }
                        else if ($(this).attr('type') == 'text') {
                            if (quest.attr('data-questiontypeid') == 9) {
                                var currColId = $(this).attr('data-colId');
                                var currOptId = $(this).attr('data-optId');
                                var thisAllAnswers = allAnswers.toString().split(',');
                                for (var l = 0; l <= thisAllAnswers.length - 1; l++) {
                                    var thisvalOpt = thisAllAnswers[l].split('~')[0];
                                    var thisVal = thisvalOpt.split('*')[1];// option value
                                    var thisOptId = thisvalOpt.split('*')[0];//optionId
                                    if (thisVal)
                                        var thiscolId = thisAllAnswers[l].split('~')[1]; // column Id                                 
                                    if (currColId == thiscolId && currOptId == thisOptId) {
                                        $(this).val(thisVal);
                                    }
                                }

                            }
                            else {
                                // Bind all the text box answers
                                if ($(this).val().length == 0) {
                                    $(this).val(allAnswers[count]);
                                    count++;
                                }
                            }
                        }
                        else if ($(this).attr('type') == undefined && quest.attr('data-questiontypeid') == '14') { //Bind all dropdown matrix options
                            for (var l = 0; l <= allAnswers.length - 1; l++) {
                                $('option[data-valformat="' + allAnswers[l] + '"]', this).attr('selected', 'selected');
                            }
                        }
                    });
                }
            },
            error: function (data) {
            },
            complete: function () {
            }
        });
    }

    function UpdateSurvey() {
        var surveyResponse = '';
        $('div[class*=surveyQuestions]').each(function () {
            surveyResponse += $(this).find('h4').attr('data-questionId') + '-';
            var answers = '';
            $(this).find('input,select').each(function () {
                var itsType = $(this).attr('type');
                if (itsType == 'checkbox' || itsType == 'radio') {
                    if ($(this).prop('checked')) {
                        surveyResponse += $(this).val() + '|';
                    }
                }
                else if (itsType == 'text') {
                    if ($(this).val().length != 0) {
                        surveyResponse += $(this).val() + '|';
                    }
                }
                else if (itsType == undefined) {
                    surveyResponse += $(this).find(":selected").attr('data-valformat') + '|';
                    if ($(this).attr('data-maxresponsescount') != undefined) {
                        if ($(this).attr('data-maxresponsescount') != 'unlimited') {
                            maxResponses += '<Options><OptionId>' + $(this).val() + '</OptionId></Options>';
                        }
                    }
                }
            });
            surveyResponse += ',';
        });

        var a = surveyResponse;
        var b = a.slice(0, -1).split(',');
        var c = '';
        for (var i = 0; i <= b.length - 1; i++) {
            c += b[i].slice(0, -1) + ',';
        }

        $.ajax({
            url: GetPath('/Admin/UpdateSurvey'),
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            data: { surveyResponse: c, responderEmail: $('#hdnEmail').val(), projectId: $('#hdnProjId').val(), productId: currentProduct },
            success: function (data) {
                var jsonData = JSON.parse(data);
                // alert(jsonData.Status);
                if (jsonData.Status == 1) {
                    $('#successDiv').fadeIn();
                }
                if (jsonData.Status == -1) {
                    $('#errorDiv').fadeIn();
                }
            },
            error: function () {
            },
            complete: function () {
            }
        });
    }

    function BindProducts(productId) {
        currentProduct = productId;
        var projId = $('#hdnProjId').val();
        var emailId = $('#hdnEmail').val();
        var surveyId = '@ViewBag.SurveyId';
        var uid = '@ViewBag.uid';

        $('#loaderDivWhite').show();
        $.get(GetPath('/Admin/_PartialViewSurvey?surveyId=' + surveyId + '&uid=' + uid), '', function (r) {
            //  var divid = $('#pagingDiv').filter('.active-page');
            $('a[class*="active-page"]').removeClass();
            //alert(divid);
            //$(divid).removeClass('active-page');
            $('#pagination_' + productId + '').addClass('active-page');
            $('#divResponse').html(r);
            $('#loaderDivWhite').show();

        });
        setTimeout(function () {

            showAnswers(projId, emailId, productId);
        }, 2000);


    }

</script>
