﻿@model SurveyProject.Models.CreateQuestionModel
@{
    ViewBag.Title = "_PartialInsertOptions";
    Layout = null;
}
<style>
    #questionsDiv > ul > li {
        margin-bottom: 2px;
    }

        #questionsDiv > ul > li > a {
            width: 100%;
            display: block;
        }

            #questionsDiv > ul > li > a.active-ques {
                color: #333;
                background-color: #e6e6e6;
                border-color: #adadad;
            }
</style>


<div id="questionsDiv">

    @if (Model.QuestionList != null && Model.QuestionList.Count > 0)
    {
        <ul>
            @foreach (var item in Model.QuestionList)
            {
                <li><a href="javascript:;" class="btn btn-default active-ques" onclick="return LoadAnswers('@item.QuestionId','@item.QuestionTypeId')">@item.QuestionTitle</a></li>
            }
        </ul>
    }
</div>
<div>
    <div id="startRng" style="display:none;">
        <table class="table">
            <tr>
                <td style="width: 20%">Start Range :</td>
                <td>
                    <input class="form-control" type="text" id="startRangePrevious" readonly="readonly" /></td>
                <td style="width: 20%"></td>
            </tr>
        </table>
    </div>
    <div id="endRng" style="display:none;">
        <table class="table">
            <tr>
                <td style="width: 20%">End Range :</td>
                <td>
                    <input class="form-control" type="text" id="endRangePrevious" readonly="readonly" /></td>
                <td style="width: 20%"></td>
            </tr>
        </table>
    </div>
    <div id="totVal" style="display:none;">
        <table class="table">
            <tr>
                <td style="width: 20%">Total Value :</td>
                <td>
                    <input class="form-control" type="text" id="totalValuePrevious" readonly="readonly" /></td>
                <td style="width: 20%">
                    <input type="checkbox" /></td>
            </tr>
        </table>
    </div>
    <div id="OptionsDiv">
        <table class="table">
        </table>
    </div>
    <button class="btn btn-primary" onclick="SaveOptions();" type="button">Add</button>
</div>

<script type="text/javascript">
    var typeId = 0;
    function LoadAnswers(Id, questionTypeId) {
        typeId = questionTypeId;
        $('#OptionsDiv table').html('');
        var skipQuestionDDLIdsAndValues = [];
        $.ajax({
            url: "@Url.Content("~/Admin/AnswersGet")",
            Type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            data: { Id: Id, questionTypeId: questionTypeId },
            success: function (resp) {
                if (resp.length > 0) {
                    var count = 1;
                    var columnCount = 1;
                    var jsonData = JSON.parse(resp);
                    $('#OptionsDiv table').html('');

                    if (questionTypeId != 3 && questionTypeId != 7) {
                        for (var i = 0; i <= jsonData.Answers_LoadAllByQuestionId_Result.length - 1; i++) {
                            // $('#OptionsDiv').append('<table><tr id="options_' + jsonData.Answers_LoadAllByQuestionId_Result[i].Id + '" questionTypeId="' + questionTypeId + '"><td><input type="text" value="' + jsonData.Answers_LoadAllByQuestionId_Result[i].OptionTitle + '" class="form-control" readonly="readonly"/><input type="checkbox" class="form-control" /></td></tr></table>');
                            $('#OptionsDiv  table').append('<tr id="options_' + jsonData.Answers_LoadAllByQuestionId_Result[i].Id + '" questionTypeId="' + questionTypeId + '"><td><label id="Srno' + count + '">' + count + '</label></td><td><input type="text" id="option' + count + '" value="' + jsonData.Answers_LoadAllByQuestionId_Result[i].OptionTitle + '" class="form-control" readonly="readonly"/><label style="display:none;">false</label><label style="display:none;">true</label><label style="display:none;">false</label><label style="display:none;"></label></td><td><input type="checkbox" class="form-control" style="display:none;"/></td><td><input type="text"  value="' + (jsonData.Answers_LoadAllByQuestionId_Result[i].MaxResponses != null ? jsonData.Answers_LoadAllByQuestionId_Result[i].MaxResponses : "") + '" class="numeric form-control" style="display:none;"/></td><td class="text-center"><input type="checkbox"/><select id="quesDdl' + count + '" style="display:none;margin-left:10px;"><option value="0">Select</option></select></td><td><a href="javascript:;" onclick="return RemoveTd($(this));" style="display:none;" class="icnclr"><i class="fa fa-times"></i></a>&nbsp;&nbsp;<a href="javascript:;" style="display:none;" onclick="return EditTd($(this));"><i class="fa fa-pencil"></i></a></td></tr>');
                            count++;
                        }
                        if (questionTypeId == 1 || questionTypeId == 2) {
                            if (jsonData.answersValueLst.length > 0) {
                                for (var j = 0; j <= jsonData.answersValueLst.length - 1; j++) {
                                    //  $('#OptionsDiv').append('<table><tr id="options_' + jsonData.Answers_LoadAllByQuestionId_Result[i].Id + '" questionTypeId="' + questionTypeId + '"><td><input type="text" value="' + jsonData.Answers_LoadAllByQuestionId_Result[i].OptionTitle + '" class="form-control" readonly="readonly"/><input type="checkbox" class="form-control"/></td></tr></table>');
                                    var table = $('#OptionsDiv  table').find('tr[id="options_' + jsonData.answersValueLst[j].QuestionId + '"]');
                                    $(table).children().eq(1).children().eq(1).text(true);
                                    $(table).children().eq(1).children().eq(2).text(true);
                                    $(table).children().eq(1).children().eq(3).text(false);
                                    $(table).children().eq(1).children().eq(4).text('');
                                    $(table).children().eq(2).children().eq(0).attr('checked', 'checked');
                                }
                            }
                            if (jsonData.answersValueWithQuotaLst.length > 0) {

                                for (var k = 0; k <= jsonData.answersValueWithQuotaLst.length - 1; k++) {
                                    // $('#OptionsDiv').append('<table><tr id="options_' + jsonData.Answers_LoadAllByQuestionId_Result[i].Id + '" questionTypeId="' + questionTypeId + '"><td><input type="text" value="' + jsonData.Answers_LoadAllByQuestionId_Result[i].OptionTitle + '" class="form-control" readonly="readonly"/><input type="checkbox" class="form-control"/></td></tr></table>');
                                    var table = $('#OptionsDiv table').find('tr[id="options_' + jsonData.answersValueWithQuotaLst[k].QuestionId + '"]');
                                    $(table).children().eq(1).children().eq(1).text(true);
                                    $(table).children().eq(1).children().eq(2).text(false);
                                    $(table).children().eq(1).children().eq(3).text(true);
                                    $(table).children().eq(1).children().eq(4).text($(table).children().eq(1).children().eq(4).text() + jsonData.answersValueWithQuotaLst[k].optionId + ",");
                                    $(table).children().eq(2).children().eq(0).attr('checked', 'checked');
                                }
                            }
                        }
                        if (questionTypeId == 6) {
                            if (jsonData.answersValueLst.length > 0) {
                                for (var j = 0; j <= jsonData.answersValueLst.length - 1; j++) {
                                    // $('#OptionsDiv').append('<table><tr id="options_' + jsonData.Answers_LoadAllByQuestionId_Result[i].Id + '" questionTypeId="' + questionTypeId + '"><td><input type="text" value="' + jsonData.Answers_LoadAllByQuestionId_Result[i].OptionTitle + '" class="form-control" readonly="readonly"/><input type="checkbox" class="form-control"/></td></tr></table>');
                                    var table = $('#OptionsDiv table').find('tr[id="options_' + jsonData.answersValueLst[j].QuestionId.split('~')[0] + '"]');
                                    $(table).children().eq(1).children().eq(1).text(true + '_' + jsonData.answersValueLst[j].QuestionId.split('~')[1]);
                                    $(table).children().eq(1).children().eq(2).text(true + '_' + jsonData.answersValueLst[j].QuestionId.split('~')[1]);
                                    $(table).children().eq(1).children().eq(3).text(false + '_' + jsonData.answersValueLst[j].QuestionId.split('~')[1]);
                                    $(table).children().eq(1).children().eq(4).text('');
                                    $(table).children().eq(2).children().eq(0).attr('checked', 'checked');
                                }
                            }
                            if (jsonData.answersValueWithQuotaLst.length > 0) {
                                for (var k = 0; k <= jsonData.answersValueWithQuotaLst.length - 1; k++) {
                                    // $('#OptionsDiv').append('<table><tr id="options_' + jsonData.Answers_LoadAllByQuestionId_Result[i].Id + '" questionTypeId="' + questionTypeId + '"><td><input type="text" value="' + jsonData.Answers_LoadAllByQuestionId_Result[i].OptionTitle + '" class="form-control" readonly="readonly"/><input type="checkbox" class="form-control" /></td></tr></table>');
                                    var table = $('#OptionsDiv table').find('tr[id="options_' + jsonData.answersValueWithQuotaLst[k].QuestionId.split('~')[0] + '"]');
                                    $(table).children().eq(1).children().eq(1).text(true + '_' + jsonData.answersValueWithQuotaLst[k].QuestionId.split('~')[1]);
                                    $(table).children().eq(1).children().eq(2).text(false + '_' + jsonData.answersValueWithQuotaLst[k].QuestionId.split('~')[1]);
                                    $(table).children().eq(1).children().eq(3).text(true + '_' + jsonData.answersValueWithQuotaLst[k].QuestionId.split('~')[1]);
                                    $(table).children().eq(1).children().eq(4).text($(table).children().eq(1).children().eq(4).text() + jsonData.answersValueWithQuotaLst[k].optionId + ",");
                                    $(table).children().eq(2).children().eq(0).attr('checked', 'checked');
                                }
                            }
                        }
                        // $('.tblDiv').show();
                    }
                    if (questionTypeId != 7 && questionTypeId != 1 && questionTypeId != 2) {
                        //  $('#OptionsDiv').append('<table><tr id="options_' + jsonData.Answers_LoadAllByQuestionId_Result[i].Id + '" questionTypeId="' + questionTypeId + '"><td><input type="text" id="option' + count + '" value="' + jsonData.Answers_LoadAllByQuestionId_Result[i].OptionTitle + '" class="form-control" readonly="readonly"/><input type="checkbox" class="form-control" /></td></tr></table>');
                        $('#startRangePrevious').val(parseInt(jsonData.QuestionDetail[0].RangeMin));
                        if (parseInt(jsonData.QuestionDetail[0].RangeMin) > 0)
                            $('#startRng').show();
                        $('#endRangePrevious').val(parseInt(jsonData.QuestionDetail[0].RangeMax));
                        if (parseInt(jsonData.QuestionDetail[0].RangeMax) > 0)
                            $('#endRng').show();
                        $('#totalValuePrevious').val(parseInt(jsonData.QuestionDetail[0].ConstantSum));
                        if (parseInt(jsonData.QuestionDetail[0].ConstantSum) > 0)
                            $('#totVal').show();
                    }


                    //if (questionTypeId == 6) {
                    //    if (jsonData.Answers_LoadAllByQuestionId_Result1.length > 0) {
                    //        for (var i = 0; i <= jsonData.Answers_LoadAllByQuestionId_Result1.length - 1; i++) {
                    //            alert('6 th type gotten')
                    //            $('#ColumnTable>tbody').append('<tr><td><label id="Srno' + columnCount + '">' + columnCount + '</label></td><td><label id="columnName' + columnCount + '">' + jsonData.Answers_LoadAllByQuestionId_Result1[i].ColumnName + '</label></td><td><a href="javascript:;" onclick="return RemoveTd($(this));" class="icnclr"><i class="fa fa-times"></i></a></td></tr>');
                    //            $('.columnTblDiv').show();
                    //            columnCount++;
                    //        }
                    //    }
                    //}
                }
                else {
                    $('#startRng').hide();
                    $('#endRng').hide();
                    $('#totVal').hide();
                    alert('This question has no data.');
                }
            },
            error: function () {
            },
            complete: function () {
                if (!(questionTypeId == 1 || questionTypeId == 2 || questionTypeId == 6)) {
                    $('td:nth-child(3),th:nth-child(3)').hide();
                }
                else {
                    $('td:nth-child(3),th:nth-child(3)').show();
                }
            },
            async: false
        });
        return skipQuestionDDLIdsAndValues;
    }

    function SaveOptions() {
        if (typeId != 3) {
            $('#OptionsDiv table tr').each(function () {
                var chkBox = $(this).children().eq(4).children().eq(0);
                if ($(chkBox).prop('checked')) {
                    var html = '';
                    var count = $('#OptionTable tbody tr').length + 1;
                    //html = '<tr id="options_' + $(this).attr('Id').split('_')[1] + '" questionTypeId="' + $(this).attr('questionTypeId') + '">';
                    html = '<tr>';
                    html += '<td><label id="Srno' + count + '">' + count + '</label></td>';
                    html += '<td><input type="text" id="option' + count + '" value="' + $(this).children().eq(1).children().eq(0).val() + '" class="form-control" readonly="readonly"/>';
                    //html += '<label style="display:none;">' + $(this).children().eq(1).children().eq(1).text() + '</label><label style="display:none;">' + $(this).children().eq(1).children().eq(2).text() + '</label>';
                    //html += '<label style="display:none;">' + $(this).children().eq(1).children().eq(3).text() + '</label><label style="display:none;">' + $(this).children().eq(1).children().eq(4).text() + '</label></td>';
                    // html += '<td style="display:' + ($(this).attr('questionTypeId') == 1 || $(this).attr('questionTypeId') == 2 ? 'block' : 'none') + ';"><input type="checkbox" id="rowTerminate_' + count + '" ' + ($(this).children().eq(1).children().eq(1).text() == 'true' ? 'checked="checked"' : '') + ' disabled="disabled" onclick="return openPopup(this);" /></td>';
                    html += '<label style="display:none;">false</label><label style="display:none;">true</label>';
                    html += '<label style="display:none;">false</label><label style="display:none;"></label></td>';
                    html += '<td style="display:' + ($(this).attr('questionTypeId') == 1 || $(this).attr('questionTypeId') == 2 ? 'block' : 'none') + ';"><input type="checkbox" id="rowTerminate_' + count + '" disabled="disabled" onclick="return openPopup(this);" /></td>';
                    html += '<td><input type="text" id="maxResp_' + count + '" value="" class="numeric form-control" /></td>';
                    html += '<td class="text-center"><input type="checkbox" id="skip_' + count + '" onclick="return skip(this);"/>';
                    html += '<select id="quesDdl' + count + '" style="display:none;margin-left:10px;"><option value="0">Select</option></select></td>';
                    html += '<td><a href="javascript:;" onclick="return RemoveTd($(this));" class="icnclr"><i class="fa fa-times"></i></a>&nbsp;&nbsp;<a href="javascript:;" onclick="return EditTd($(this));"><i class="fa fa-pencil"></i></a></td>';
                    html += '</tr>';
                    $('#OptionTable>tbody').append(html);
                    $("#quesDdl" + count + "").append(ddlHtml);
                }
            });
            if ($('.tblDiv').is(":not(:visible)"))
                $('.tblDiv').show();
        }
        else if (typeId == 3) {
            $('#StartRange').val($('#startRangePrevious').val());
            $('#EndRange').val($('#endRangePrevious').val());
        }
        $('#addFromPreviousPopup').modal('hide');
    }
</script>
