﻿@model  SurveyProject.Models.ManageAdminModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Assign Survey To Panel";
    string site = System.Configuration.ConfigurationManager.AppSettings["site"].ToString();
    string Surveys = (TempData["SubSurveyIds"]!=null?TempData["SubSurveyIds"].ToString():"");
    string[] SubSurveys = Surveys.Split(',');
}

<style>
    .btn-primary {
        text-transform: capitalize;
    }

    .checklist {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        column-gap: 40px;
        margin-left: 50px;
    }

        .checklist label {
            background: none repeat scroll 0 0 #3498db;
            color: #fff;
            padding: 9px 6px;
            width: 86%;
        }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="on-page-menu">
                <li>
                    <a href="@Url.Content("~/Admin/GroupEmails")" class="emailGroupTab" id="groupEmailsTab" data-name="CreateEmailGroup">Create Email Groups</a>
                </li>
                <li>
                    <a href="@Url.Content("~/Admin/GroupEmailList")" class="" data-name="EmailGroupList">Email Group List</a>
                </li>
                <li>
                    <a href="javascript:;" class="" id="mailingTab" data-name="mailing">Mailing</a>
                </li>
                @*<li>
                    <a href="javascript:;" class="" id="previewTab" data-name="preview">Preview</a>
                </li>*@
                @*<li>
                    <a href="javascript:;" class="" id="summaryTab" data-name="ProjectSummary">Project Summary</a>
                </li>*@
                <li>
                    <a href="javascript:;" class="active" id="assignTab" data-name="AssignSurveyToPanel">Assign Survey To Panel</a>
                </li>
            </ul>
        </div>
    </div>
    @using (Html.BeginForm("AssignSurveyToPanel", "Admin",new{prjId=(SubSurveys[0].Split('-')[0])}, FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-12">
                <span class="page-heading col-md-12">
                    <h2 data-name="AssignSurveyToPanel" style="display:inline-block">Assign Survey to Panels</h2>

                    @if (!string.IsNullOrEmpty(ViewBag.Type))
                    {
                        <label class="stlabel" style="font-size:14px;font-weight:600;float:right">(Survey Link : @site/Respondent/SurveyExtUser?_xP=@(SubSurveys[0].Split('-')[0])&_xL=@ViewBag.Language&_xS=@ViewBag.ProjectId)</label>
                    }
                    else
                    {
                        <label class="stlabel" style="font-size:14px;font-weight:600;margin-left:10px">(Survey Link : @site/Respondent/SurveyExtUser?_xP=@ViewBag.ProjectId&_xL=@ViewBag.Language)</label>
                    }
                </span> 
                <div class="form-horizontal" style="margin-top: 15px;">
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                    }
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                    }
                      <input type="hidden"  id="hdnTypeId" name="type" value="@ViewBag.Type"/>
                    <input type="hidden" id="hdnProjectId" name="hdnProjectId" value="@ViewBag.ProjectId"/>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <p class="checklist">
                                @if (Model.Adminlist != null && Model.Adminlist.Count > 0)
                                {
                                    foreach (var item in Model.Adminlist)
                                    {
                                    <label for="panelId_@item.Id">@(item.FirstName)  @(item.LastName)</label>
                                    <input type="checkbox" style="margin-left:10px;"class="roles" id="panelId_@item.Id" value="@item.Id" onclick="return setpanels(this)" />
                                    }
                                }
                            </p>
                            <input type="submit" value="Assign Project" class="btn btn-primary" style="font-size: 12px; margin-top: 50px; margin-bottom: 15px; margin-left: 50px; text-transform: uppercase;" data-name="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <input type="hidden" id="hdnPanelIds" name="hdnPanelIds" value="" />
            <input type="hidden" id="hdnUserName" name="hdnUserName" value="" />
            <input type="hidden" id="hdnAddEdit" name="hdnAddEdit" value="Add" />
        </div>
    }
</div>


<script type="text/javascript">
    $(document).ready(function () {

        var projId = localStorage.getItem('TabProjectId');
        if (projId != null && projId != 'null') {
            $('#mailingTab').attr('href', GetPath('/Admin/ProjectMailing?id=' + projId + ''));
            $('#previewTab').attr('href', GetPath('/Admin/ProjectPreview/' + projId + ''));
            $('#summaryTab').attr('href', GetPath('/Admin/ProjectSummary/' + projId + ''));
        }

        $.ajax({
            url: GetPath('/Admin/ExistingPanel'),
            contentType: 'application/json',
            Type: 'GET',
            dataType: 'json',
            data: { ProjectId: $('#hdnProjectId').val(), type: $('#hdnTypeId').val() },
            async: false,
            success: function (data) {
                var panIds = "";
                if (data.length > 0) {
                    var jsonData = JSON.parse(data);
                    $('[Id*=panelId_]').each(function () {
                        $(this).val($(this).val() + "-0");
                    });
                    for (var i = 0; i <= jsonData.length - 1; i++) {
                        $('#panelId_' + jsonData[i].PanelId + '').prop('checked', 'checked');
                        $('#panelId_' + jsonData[i].PanelId + '').val(jsonData[i].PanelId + "-" + jsonData[i].Id);
                        panIds += jsonData[i].PanelId + "-" + jsonData[i].Id + ",";
                    }
                    $("#hdnPanelIds").val(panIds);
                    $("#hdnAddEdit").val("Edit");
                }
            },
            error: function () {
                alert("Error occurred");
            },
            complete: function () {
                //alert($("#hdnRoleIds").val());
            }
        });
    });

    function setpanels(caller) {
        if (caller.checked) {
            // Set names in hidden field
            var roleIds = $("#hdnPanelIds").val();
            if (roleIds.length > 0) {
                $("#hdnPanelIds").val(roleIds + $(caller).val() + ",");
            }
            else {
                $("#hdnPanelIds").val($(caller).val() + ",");
            }
        }
        else {
            // Reset names in hidden field
            var roleIds = $("#hdnPanelIds").val();
            roleIds = roleIds.replace($(caller).val() + ",", '');
            $("#hdnPanelIds").val(roleIds);
        }
    }


</script>
