﻿@model SurveyProject.Models.CreateProjectModel
@{
    ViewBag.Title = "Create Project";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .btn-primary {
        text-transform: capitalize;
    }

    .btn-danger {
        text-transform: capitalize;
    }

    .modal-body label {
        margin-bottom: 6px;
    }

    #ProjectName {
        text-transform: capitalize;
    }

    .m-header-menu .m-menu__nav {
        display: inline-block;
        border-radius: 2rem;
        padding: 5px;
        cursor: pointer;
        background: #fff;
    }

    div#m_header_menu {
        margin-right: 61px;
    }

    .m-header-menu .m-menu__nav > .m-menu__item .m-menu__submenu {
        width: 205px !important;
    }

    /*.m-form .m-form__group {
        padding-bottom: 0 !important;
    }*/
</style>
<script>
    function setProject() {
        if ($("#projectTextBox").val() == null || $("#projectTextBox").val() == "") {
            $("#projectValidationLabel").css('display', 'block');
        }
        else {
            $("#projectValidationLabel").css('display', 'none');
            $("#ProjectName").val($("#projectTextBox").val());
        }
    }
    function setSuperProject() {
        if ($("#projectTextBox").val() == null || $("#projectTextBox").val() == "") {
            $("#projectValidationLabel").css('display', 'block');
        }
        else {
            $("#projectValidationLabel").css('display', 'none');
            $("#SuperProjectName").val($("#projectTextBox").val());
        }
    }
    $(document).ready(function () {

        if ('@Model' != null) {
            if ('@Model.SurveyType' == 2) {
                $("#projectTextBox").val('@Model.SuperProjectName');
            }
            else {
                $("#projectTextBox").val('@Model.ProjectName');
            }
        }

        $("#projectTextBox").change(function () {
            if ($("#projectTextBox").val() == null || $("#projectTextBox").val() == "") {
                $("#projectValidationLabel").css('display', 'block');
            }
            else {
                $("#projectValidationLabel").css('display', 'none');
                var sName=$("#projectTextBox").val();
                var id='@Model.SuperProjectId';
                $.ajax({
                    url: '@Url.Content("~/Admin/SurveyNameCheck")',
                    method: 'POST',
                    data: { 'surveyName': sName,'proId':id },
                    success: function (response) {
                        if (response == "error") {
                            $('#msg').html('<div class="alert alert-danger text-center">Error please try again after some time.</div>');
                            $("#projectTextBox").val('');
                            $("#projectValidationLabel").css('display', 'block');
                        } else {
                            if(Number(response)>0){
                                if ('@Model' != null) {
                                    if ('@Model.SurveyType' == 2) {
                                        if('@Model.SuperProjectName'!=sName){
                                            alert('This survey name already exist.');
                                            $("#projectTextBox").val('@Model.SuperProjectName');
                                        }
                                    }
                                    else {
                                        if('@Model.ProjectName'!=sName){
                                            alert('This survey name already exist.');
                                            $("#projectTextBox").val('@Model.ProjectName');
                                        }
                                    }
                                }else{
                                    alert('This survey name already exist.');
                                    $("#projectTextBox").val('');
                                }
                            }
                        }
                        $('#msg').fadeIn(500);
                    },
                    error: function (jqXHR, exception) {
                        var msg = '';
                        if (jqXHR.status === 0) {
                            msg = 'Not connect.\n Verify Network.';
                        } else if (jqXHR.status == 404) {
                            msg = 'Requested page not found. [404]';
                        } else if (jqXHR.status == 500) {
                            msg = 'Internal Server Error [500].';
                        } else if (exception === 'parsererror') {
                            msg = 'Requested JSON parse failed.';
                        } else if (exception === 'timeout') {
                            msg = 'Time out error.';
                        } else if (exception === 'abort') {
                            msg = 'Ajax request aborted.';
                        } else {
                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        }
                        console.log(msg);
                    }
                });
            }
        });

        $('#surveyTypeDdl').on('change', function () {
            $('section.gen-section').hide();

            if ($('#surveyTypeDdl').val() == "2") {
                $('#superProjectDiv').show();
            }
            else {
                $('#normalProjectDiv').show();
            }
        });

    });
</script>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">

                @if (Model.SuperProjectId > 0)
                {
                    if (Model.Id > 0)
                    {
                        <h3 class="m-subheader__title " style="@(Model.Id > 0 ? "display:normal" : "display:none");">Edit Survey</h3>
                    }
                    else
                    {
                        <h3 class="m-subheader__title " data-name="CreateSurvey" style="@(Model.Id > 0 ? "display:none" : "display:normal");">Create Survey</h3>
                    }
                }
                else
                {
                    <h3 class="m-subheader__title " data-name="CreateProject" style="@(Model.Id > 0 ? "display:none" : "display:normal");">Create Project</h3>
                    <h3 class="m-subheader__title " data-name="EditProject" style="@(Model.Id > 0 ? "display:normal" : "display:none");">Edit Project</h3>
                }
            </div>
            <div>
                <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark ">
                    <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                        <li class="m-menu__item m-menu__item--submenu m-menu__item--rel" m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true">
                            <a href="javascript:;" class="m-menu__link m-menu__toggle" title="Non functional dummy link"><span class="m-menu__link-text">Actions</span><i class="m-menu__hor-arrow la la-angle-down"></i><i class="m-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                                <span class="m-menu__arrow m-menu__arrow--adjust" style="left: 527px;"></span>

                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item" aria-haspopup="true">
                                        <a href="@Url.Content("~/Admin/ProjectList")" class="m-menu__link" id="projectListTab2" data-name="ProjectList"><i class="m-menu__link-icon flaticon-file"></i><span class="m-menu__link-text">Project List</span></a>
                                    </li>
                                    @if (Model.Id > 0)
                                    {
                                        <li class="m-menu__item" aria-haspopup="true">
                                            <a href="@Url.Content("~/Admin/CreateProject")" class="m-menu__link" id="ProjectNewTab2" data-name="ProjectNew"><i class="m-menu__link-icon flaticon-diagram"></i><span class="m-menu__link-text">New Project</span></a>
                                        </li>
                                        <li class="m-menu__item" aria-haspopup="true">
                                            <a href="javascript:;" class="active" data-name="EditProject">Edit Project</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="m-menu__item" aria-haspopup="true">
                                            <a href="@Url.Content("~/Admin/CreateProject")" class="active m-menu__link" data-name="ProjectNew"><i class="m-menu__link-icon flaticon-diagram"></i><span class="m-menu__link-text">New Project</span></a>
                                        </li>
                                        <li class="m-menu__item" aria-haspopup="true">
                                            <a href="javascript:;" class="m-menu__link" id="EditProjectTab2" data-name="EditProject"><i class="m-menu__link-icon flaticon-diagram"></i><span class="m-menu__link-text">Edit Project</span></a>
                                        </li>
                                    }

                                    <li class="m-menu__item" aria-haspopup="true">
                                        <a href="javascript:;" class="m-menu__link" id="statusTab2" data-name="Status"><i class="m-menu__link-icon flaticon-diagram"></i><span class="m-menu__link-text">Project Status</span></a>
                                    </li>
                                    <li class="m-menu__item" aria-haspopup="true">
                                        <a href="javascript:;" class="m-menu__link" id="suprveySettingsTab2" data-name="ProjectSettings"><i class="m-menu__link-icon flaticon-diagram"></i><span class="m-menu__link-text">Project Settings</span></a>
                                    </li>
                                    <li class="m-menu__item" aria-haspopup="true">
                                        <a href="javascript:;" class="m-menu__link" id="ProjectLayoutTab2" data-name="ProjectLayout"><i class="m-menu__link-icon flaticon-diagram"></i><span class="m-menu__link-text">Project Layout</span></a>
                                    </li>
                                    <li class="m-menu__item" aria-haspopup="true">
                                        <a href="javascript:;" class="m-menu__link" id="transitionTab2" data-name="Transition"><i class="m-menu__link-icon flaticon-diagram"></i><span class="m-menu__link-text">Project Transition</span></a>
                                    </li>
                                    <li class="m-menu__item" aria-haspopup="true">
                                        <a href="@Url.Content("~/Admin/RecoverDeletedProject")" class="m-menu__link" data-name="DeleteProject"><i class="m-menu__link-icon flaticon-diagram"></i><span class="m-menu__link-text">Delete Project</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                    <div class="row">
                        <div class="col-md-12" id="msg">
                            @if (TempData["SuccessMessage"] != null && TempData["SuccessMessage"] != "")
                            {
                                <div class="alert alert-success" id="successDiv">@TempData["SuccessMessage"]</div>
                            }
                            @if (TempData["ErrorMessage"] != null && TempData["ErrorMessage"] != "")
                            {
                                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                            }
                        </div>
                        <div class="col-md-12">
                            @if (Model.SuperProjectId > 0)
                            {
                                if (Model.Id > 0)
                                {
                                    <ol class="breadcrumb">
                                        <li><a href="@Url.Content("~/Admin/ProjectList")"><i class="fa fa-home fa-2x"></i></a></li>
                                        <li><a style="cursor: default; text-decoration: none" href="javascript:;" data-name="EditSurvey">Edit Survey</a></li>
                                    </ol>
                                }
                                else
                                {
                                    <ol class="breadcrumb">
                                        <li><a href="@Url.Content("~/Admin/ProjectList")"><i class="fa fa-home fa-2x"></i></a></li>
                                        <li><a style="cursor: default; text-decoration: none" href="javascript:;" data-name="CreateSurvey">Create Survey</a></li>
                                    </ol>
                                }
                            }
                            else
                            {
                                <ol class="breadcrumb">
                                    <li><a href="@Url.Content("~/Admin/ProjectList")"><i class="fa fa-home fa-2x"></i></a></li>
                                    <li style="@(Model.Id > 0 ? "display:none" : "display:normal");"><a style="cursor: default; text-decoration: none;" href="javascript:;" data-name="CreateProject">Create Project</a></li>
                                    <li style="@(Model.Id > 0 ? "display:normal" : "display:none");"><a style="cursor: default; text-decoration: none;" href="javascript:;" data-name="EditProject">Edit Project</a></li>
                                </ol>
                            }
                        </div>
                    </div>

                    <div class="m-portlet">

                        <div class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    @if (Model.SuperProjectId > 0)
                                    {
                                        <label data-name="SurveyTitle" class="col-form-label col-lg-3 col-sm-12">Survey Title</label>
                                    }
                                    else
                                    {
                                        <label data-name="ProjectTitle" class="col-form-label col-lg-3 col-sm-12">Project Title</label>
                                    }

                                    <div class="col-lg-7 col-md-7 col-sm-12">
                                        <input type="text" id="projectTextBox" @*style="text-transform: capitalize"*@ class="form-control m-input" />
                                        <label id="projectValidationLabel" style="color:#e80c4d; display:none;">Survey Name is required</label>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row" style="margin-top: 10px; display:none;">
                                    <label data-name="ProjectTitle" class="col-form-label col-lg-3 col-sm-12"></label>
                                    <div class="col-lg-7 col-md-7 col-sm-12">
                                        <!-- Client Requirment -->
                                        @if (Model.SuperProjectId > 0)
                                        {
                                            @Html.DropDownListFor(m => m.SurveyType,
                                                new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text = "Survey", Value = "1",Selected=true },
                                                    new SelectListItem { Text = "Super Survey", Value = "2" }
                                                }, new { @id = "surveyTypeDdl", @class = "form-control m-input", @title = "Choose survey type", @style = "display:none" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(m => m.SurveyType,
                                                     new List<SelectListItem>
                                                     {
                                                        new SelectListItem { Text = "Super Survey", Value = "2",Selected=true }
                                                     }, new { @id = "surveyTypeDdl", @class = "form-control m-input", @title = "Choose survey type", @style = "display:none" })
                                        }
                                    </div>
                                </div>



                                <section class="gen-section" id="normalProjectDiv" style="padding-top: 0px;">
                                    @using (Html.BeginForm("CreateProject", "Admin", FormMethod.Post, new { @id = "userForm", role = "form" }))
                                    {
                                        @Html.HiddenFor(m => m.PageFooter)
                                        @Html.HiddenFor(m => m.OwnerId)
                                        @Html.HiddenFor(m => m.ProjectQuota)
                                        @Html.HiddenFor(m => m.ProjectCompletionMesssage)
                                        @Html.HiddenFor(m => m.RedirectUrl)
                                        @Html.HiddenFor(m => m.InvitationMessage)
                                        @Html.HiddenFor(m => m.CreatedBy)
                                        @Html.HiddenFor(m => m.PageHeader)
                                        @Html.HiddenFor(m => m.TerminationMessageUpper)
                                        @Html.HiddenFor(m => m.IsRedirectParameter)
                                        @Html.HiddenFor(m => m.RedirectParameters)
                                        @Html.HiddenFor(m => m.WelcomeMessage)
                                        @Html.HiddenFor(m => m.ProjectGuid)
                                        @Html.HiddenFor(m => m.IsIncludePageHeader)
                                        @Html.HiddenFor(m => m.IsIncludePageFooter)
                                        @Html.HiddenFor(m => m.IsIncludeProjectCompletionMesssage)
                                        @Html.HiddenFor(m => m.IsIncludeTerminationMessage)
                                        @Html.HiddenFor(m => m.IsIncludeWelcomeMessage)
                                        @Html.HiddenFor(m => m.IsIncludeFinishImage)
                                        @Html.HiddenFor(m => m.CloseButtonText)

                                        <div class="form-group m-form__group row" data-id="17" style="display: none;">
                                            @Html.HiddenFor(m => m.Id)
                                            @Html.HiddenFor(m => m.SuperProjectId)
                                            @Html.HiddenFor(m => m.ProjectName)
                                            <label data-name="ProjctNewLanguage" class="col-form-label col-lg-3 col-sm-12 stlabel"></label>
                                            <div class="col-lg-7 col-md-7 col-sm-12">
                                                @Html.DropDownListFor(m => m.LanguageId, ViewBag.LanguageList as List<SelectListItem>, "Select", new { @class = "form-control m-input", @title = "Choose language in which you want to create project" })
                                                @Html.ValidationMessageFor(m => m.LanguageId)
                                            </div>
                                        </div>

                                        <div class="form-group m-form__group row" id="projectTypeDiv">
                                            <label class="col-form-label col-lg-3 col-sm-12 stlabel" data-name="ProjectType">Survey Type</label>
                                            <div class="col-lg-7 col-md-7 col-sm-12">


                                                @Html.DropDownListFor(m => m.ProjectType, ViewBag.ProjectTypeList as List<SelectListItem>, "--Please Select--", new { @class = "form-control m-input", @title = "Choose project type" })
                                                @Html.ValidationMessageFor(m => m.ProjectType)

                                            </div>
                                        </div>

                                        <div class="form-group" id="productProject" style="@(Model.ProjectType == null || Model.ProjectType == "" || Model.ProjectType == "0" || Model.ProjectType != "2" ? "display: none" : "display: block");">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th><span data-name="Product">Product</span> #</th>
                                                        <th data-name="Description">Description</th>
                                                        <th style="display: none;">Display Order</th>
                                                        <th data-name="CommonAction">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.lstProductProjectModel != null && Model.lstProductProjectModel.Count > 0)
                                                    {
                                                        foreach (var item in Model.lstProductProjectModel)
                                                        {
                                                            <tr data-id="@item.Id">
                                                                <td>
                                                                    <input type="text" class="numeric form-control" value="@item.ProductLogicalId" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="productProjDesc form-control" value="@item.Description" />
                                                                </td>
                                                                <td style="display: none;">
                                                                    <input type="text" class="numeric dispOrder form-control" value="@item.DisplayOrder" />
                                                                </td>
                                                                <td><a href="javascript:;" style="color: red" onclick="return removeproductProjDescRow(this);"><i class="fa fa-times"></i></a></td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr data-id="0">
                                                            <td>
                                                                <input type="text" class="numeric form-control" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="productProjDesc form-control" />
                                                            </td>
                                                            <td style="display: none;">
                                                                <input type="text" class="numeric dispOrder form-control" />
                                                            </td>
                                                            <td><a href="javascript:;" style="color: red" onclick="return removeproductProjDescRow(this);"><i class="fa fa-times"></i></a></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="4">
                                                            <button type="button" class="btn btn-primary" onclick="return AddNewProductDescription();"><span data-name="CreateQuestionBtnAddNew">Add New</span></button>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <label class="col-md-2" style="visibility: hidden">Text</label>
                                            </div>
                                            <div class="col-md-10">
                                                <input id="btnSubmit" type="submit" value="@(Model.Id > 0 ? "Update" : "Save")" class="btn btn-primary pull-right" onclick="return setProject();" data-name="@(Model.Id > 0 ? "CommonUpdate" : "CommonSave")" />
                                            </div>
                                            <div class="col-md-5">
                                                <button type="button" data-toggle="modal" data-target="#QuotaPopup" style="display: none;" id="btnShowMdal"></button>
                                            </div>
                                        </div>
                                        @*</div>*@
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <input type="hidden" id="hdnItems" name="hdnItems" value="" />
                                                    <input type="hidden" id="hdnItems2" name="hdnItems2" value="" />
                                                    <input type="hidden" id="hdnProductProjectXML" name="hdnProductProjectXML" value="" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </section>

                                <section class="gen-section" id="superProjectDiv" style="padding-top: 0px;">
                                    @using (Html.BeginForm("CreateSuperProject", "Admin", FormMethod.Post, new { @id = "userForm", role = "form" }))
                                    {
                                        <div class="form-horizontal">

                                            <div class="form-group m-form__group row" data-id="17" style="display: none;">
                                                @Html.HiddenFor(m => m.SuperProjectName)
                                                @Html.HiddenFor(m => m.Id)
                                                @Html.HiddenFor(m => m.SuperProjectOpeningDate)
                                                @Html.HiddenFor(m => m.SuperProjectClosingDate)
                                                @Html.HiddenFor(m => m.SuperProjectIsRandomizeSurveys)
                                                <label data-name="ProjctNewLanguage" class="col-form-label col-lg-3 col-sm-12 stlabel"></label>
                                                <div class="col-lg-7 col-md-7 col-sm-12">
                                                    @Html.DropDownListFor(m => m.LanguageId, ViewBag.LanguageList as List<SelectListItem>, "Select", new { @class = "form-control m-input", @title = "Choose language in which you want to create project" })
                                                    @Html.ValidationMessageFor(m => m.LanguageId)
                                                </div>
                                            </div>
                                            <div class="m-portlet__foot m-portlet__foot--fit">
                                                <div class="m-form__actions m-form__actions">
                                                    <div class="row">
                                                        <div class="col-lg-9 ml-lg-auto">
                                                            <input id="btnnSubmit" type="submit" value="@(Model.Id > 0 ? "Update" : "Save")" onclick="return setSuperProject();" class="btn btn-brand" data-name="@(Model.Id > 0 ? "CommonUpdate" : "CommonSave")" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    }
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="QuotaPopup" tabindex="-1" role="dialog" aria-labelledby="chooseLanguageLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("ProjectQuota", "Admin", FormMethod.Post, new { @id = "userForm", role = "form" }))
                {
                    <div class="modal-header">
                        <h4 class="modal-title" style="font-size: 16px; font-weight: 800; text-transform: capitalize;" id="proposalLabel">
                            <span data-name="SetProjectQuotaHere">Set Project Quota here</span><br />
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" style="margin-top: -22px;"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                        </h4>
                    </div>
                    <div class="modal-body" style="font-size: medium;">
                        <div class="row">
                            <div class="col-md-12">
                                @if (TempData["SuccessMessage"] != null && TempData["SuccessMessage"] != "")
                                {
                                    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                                }
                                @if (TempData["ErrorMessage"] != null && TempData["ErrorMessage"] != "")
                                {
                                    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                                }
                                <h2 class="page-heading">
                                    <span data-name="PleaseSetProjectQuota">
                                        Please Set Project Quota
                                    </span>
                                    <label>@(Model.ProjectName != null ? Model.ProjectName : "")</label>
                                </h2>

                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <h4 data-name="ProjectQuota" style="margin-bottom: 9px;">Quota Question</h4>
                                    @Html.TextAreaFor(m => m.QuotaQues, new { @class = "ckeditor", @Id = "editor1" })
                                    <span id="errSpan" class="error"></span>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-8">
                                        @Html.HiddenFor(m => m.ProjectName)
                                        @* @Html.LabelFor(m => m.ProjectQuota)*@<label data-name="ProjectQuota" style="margin-left: 17px;">Project Quota</label>
                                        @Html.TextBoxFor(m => m.ProjectQuota, new { @class = "form-control numeric", @style = "margin-left: 17px;" })
                                        @Html.ValidationMessageFor(m => m.ProjectQuota)
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-8">

                                <div class="form-group">
                                    <div class="table-responsive search-table">
                                        <table border="0" id="QuotaTable">
                                            <thead>
                                                <tr>
                                                    <th data-name="ProjectQuotaQuotaType">Quota Type</th>
                                                    <th data-name="ProjectQuotaQuotaPercentage">Quota Percentage</th>
                                                    <th data-name="ProjectQuotaOverlimitJump">If over limit,jump to</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                        <input type="button" value="Add New Type" class="btn btn-primary " id="add" data-name="ProjectQuotaBtnAddNewType" />
                                        <button onclick="return removeLastRow();" class="btn btn-danger projectquotabtn " id="rmvbtn" data-name="ProjectQuotaBtnRemove">Remove</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" style="font-size: 12px; text-transform: uppercase;" onclick="return saveData();" data-name="CommonSave" id="quotaSave" />
                                    <input type="hidden" id="hdnQuota" name="hdnQuota" value="" />
                                    <input type="hidden" id="hdnProjectId" name="hdnProjectId" value="@(TempData["ProjId"] != null ? TempData["ProjId"] : '0')" />
                                    <input type="hidden" id="hdnProjectType" name="hdnProjectType" value="@(TempData["ProjectType"] != null ? TempData["ProjectType"] : '0')" />
                                    <a href="~/Admin/QuestionList?id=@(TempData["ProjId"])&projectType=@(TempData["ProjectType"])" class="btn btn-danger" style="font-size: 12px;margin-left:70px;" data-name="BtnSkip" onclick="setClassSkip();">Skip</a>
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>



<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>

<script type="text/javascript">
    var ddlHtml = "";
    //$(document).ready(function () {

    //    var projId = localStorage.getItem('TabProjectId');
    //    var superId = localStorage.getItem('TabSuperId');
    //    if (projId != null && projId != 'null') {
    //        $('#statusTab').attr('href', GetPath('/Admin/ProjectStatistics/' + projId + ''));
    //        $('#suprveySettingsTab').attr('href', GetPath('/Admin/ProjectSettings?id=' + projId + '&SPId=' + superId + ''));
    //        $('#transitionTab').attr('href', GetPath('/Admin/ProjectTransition/' + projId + ''));
    //        $('#ProjectLayoutTab').attr('href', GetPath('/Admin/ProjectLayout/' + projId + ''));
    //        $('#EditProjectTab').attr('href', GetPath('/Admin/CreateProject?SPId=' + superId + '&projId=' + projId + ''));

    //        $('#statusTab2').attr('href', GetPath('/Admin/ProjectStatistics/' + projId + ''));
    //        $('#suprveySettingsTab2').attr('href', GetPath('/Admin/ProjectSettings?id=' + projId + '&SPId=' + superId + ''));
    //        $('#transitionTab2').attr('href', GetPath('/Admin/ProjectTransition/' + projId + ''));
    //        $('#ProjectLayoutTab2').attr('href', GetPath('/Admin/ProjectLayout/' + projId + ''));
    //        $('#EditProjectTab2').attr('href', GetPath('/Admin/CreateProject?SPId=' + superId + '&projId=' + projId + ''));
    //    }
    //});

    var globalProjectId = 0;
    $(document).ready(function () {
        //CKEDITOR.replace('editor1',
        //    {
        //        filebrowserImageUploadUrl: '../../Scripts/ckeditor/pictures/CKEditorUploadHandler.ashx',
        //        filebrowserImageBrowseUrl: GetPath('/Admin/uploadPartial')

        //    });
        //CKEDITOR.on('instanceReady', function (evt) {
        //    var anchor = $('a.cke_button__save');
        //    $(anchor).removeAttr('onclick');
        //    $('a.cke_button__save').on('click', function () {
        //        $('#quotaSave').click();
        //    });
        //});

        $("#quotaSave").click(function () {
            var messageLength = CKEDITOR.instances['editor1'].getData().replace(/<[^>]*>/gi, '').trim().length;
            if (!messageLength) {
                //alert('Please enter a message');
                $('#errSpan').html('Project quota question is required.');
                $('#errSpan').show();
                return false;
            }
            else {
                $('#errSpan').hide();
            }
        });
        // Bind Question DDL
        bindQuestionDdl();

        var msg = $('#successDiv').text();
        var id = $('#Id').val();
        if (msg != '' && @Model.SuperProjectId > 0 && @Model.Id > 0) {
            $('#btnShowMdal').click();
        }
        //if (msg != '' && id == '0' && $('#surveyTypeDdl').val() == 1) {
        //    $('#btnShowMdal').click();
        //}

        globalProjectId = $('#hdnProjectId').val();
        $('#hdnSetProjectId').val(globalProjectId);
        addNewTR();

        $("#add").click(function () {
            addNewTR();
        });
        InitializeEvent();

        $('#ProjectName').on('paste', function () {
            return false;
        });

        $('#ProjectType').on('change', function () {
            $('#productProject').fadeOut(300);
            if ($(this).val() == '2') {
                $('#productProject').fadeIn(500);
            }
        });

        if ('@Model.SurveyType' == '1') {
            if (Number('@Model.SuperProjectId') < Number('1')) {
                if(Number('@Model.SuperProjectId')==Number('0') && Number('@Model.Id')>0){
                    $('#surveyTypeDdl').val("1");
                    $('#normalProjectDiv').show();
                    $('#superProjectDiv').hide();
                    if ('@Model.SuperProjectId' != 0) {
                        $('#surveyTypeDdl').attr('disabled', 'disabled')
                    }
                }else{
                    $('#surveyTypeDdl').val("2");
                    $('#normalProjectDiv').hide();
                    $('#superProjectDiv').show();
                }
            }
            else {
                $('#surveyTypeDdl').val("1");
                $('#normalProjectDiv').show();
                $('#superProjectDiv').hide();
                if ('@Model.SuperProjectId' != 0) {
                    $('#surveyTypeDdl').attr('disabled', 'disabled')
                }
            }
        }
        else {
            $('#surveyTypeDdl').val("2");
            $('#normalProjectDiv').hide();
            $('#superProjectDiv').show();
        }


        $('#btnSubmit').on('click', function () {
            $('#surveyTypeDdl').removeAttr('disabled');
            var _isIdValid = true;
            var _isDisplayOrderValid = true;
            var temp = '';
            var _errorMessage = '';
            var _rowsLen = $('#productProject > table > tbody >tr').length;
            $('#productProject > table > tbody >tr td input').each(function () {
                if ($(this).hasClass('input-validation-error')) {
                    $(this).removeClass('input-validation-error')
                }
            });
            for (var i = 0; i <= (_rowsLen - 1) ; i++) {
                for (var j = i + 1; j <= (_rowsLen - 1) ; j++) {

                    // Get the two row to be matched
                    var _row1 = $('#productProject > table > tbody >tr').eq(i);
                    var _row2 = $('#productProject > table > tbody >tr').eq(j);

                    // Get the Product # text boxes to match their values
                    var txtId1 = $(_row1).children().eq(0).children().eq(0);
                    var txtId2 = $(_row2).children().eq(0).children().eq(0);

                    // Get the DisplayOrder text boxes to match their values
                    var txtDispOrder1 = $(_row1).children().eq(2).children().eq(0);
                    var txtDispOrder2 = $(_row2).children().eq(2).children().eq(0);

                    if ($(txtId1).val().length == 0 || $(txtId2).val().length == 0 || $(txtDispOrder1).val().length == 0 || $(txtDispOrder2).val().length == 0) {
                        alert('Please fill all of the details');
                        return false;
                    }

                    if ($(txtId1).val() == $(txtId2).val()) {
                        $(txtId1).addClass('input-validation-error');
                        $(txtId2).addClass('input-validation-error');
                        _isIdValid = false;
                    }
                    if ($(txtDispOrder1).val() == $(txtDispOrder2).val()) {
                        $(txtDispOrder1).addClass('input-validation-error');
                        $(txtDispOrder2).addClass('input-validation-error');
                        _isDisplayOrderValid = false;
                    }
                }
            }

            $('input.dispOrder').each(function () {
                if (parseInt($(this).val()) > _rowsLen) {
                    _isDisplayOrderValid = false;
                    $(this).addClass('input-validation-error');
                    alert('Display order range must be between 1 and ' + _rowsLen);
                    return false;
                }
            });

            var _xml = '<ProductProjects>';
            if (_isIdValid && _isDisplayOrderValid) {
                $('#productProject > table > tbody >tr').each(function () {
                    var _thisRow = $(this);
                    var _inputCount = 1;
                    _xml += '<Project><Id>' + $(this).attr('data-id') + '</Id>';
                    $(this).find('input').each(function () {
                        if (_inputCount == 1) {
                            _xml += '<ProductLogicalId>' + $(this).val() + '</ProductLogicalId>';
                        }
                        else if (_inputCount == 2) {
                            _xml += '<Description>' + $(this).val() + '</Description>';
                        }
                        else if (_inputCount == 3) {
                            _xml += '<DisplayOrder>' + $(this).val() + '</DisplayOrder>';
                        }
                        _inputCount = _inputCount + 1;
                    });
                    _xml += '</Project>';
                });
                _xml += '</ProductProjects>';
                $('#hdnProductProjectXML').val(_xml);
            }
            if (!_isIdValid) {
                _errorMessage = 'The Project# can not have identical values.';
            }
            if (!_isDisplayOrderValid) {
                _errorMessage = 'The Display Order can not have identical values.';
            }
            if (!_isIdValid && !_isDisplayOrderValid) {
                _errorMessage = 'The Project#  and Display Order can not have identical values.';
            }
            return (_isIdValid && _isDisplayOrderValid);
        });
        setSerialNoOfConceptSurveyTable();
    });




    if ('@Model.SuperProjectId' != 0) {
        //   $('#ProjectType').val("2");
        //   $('#projectTypeDiv').hide();
        //  $('#productProject').fadeIn(500);
    }

    function removeLastRow() {
        if ($('#QuotaTable tr').length == 2) {
            alert("Sorry ! can't remove 1st row.");
            return false;
        }
        $("#QuotaTable tr:last").remove();
        return false;
    }

    function addNewTR() {
        var ProjectId = $('#hdnProjectId').val();
        //  var ProjectId=@Model.Id;
        if (ProjectId > 0) {
            $('#hdnProjectId').val('');
            $.ajax({
                url: GetPath('/Admin/ProjectQuotaOther'),
                contentType: 'application/json',
                Type: 'GET',
                dataType: 'json',
                data: { Id: ProjectId },
                success: function (data) {
                    if (data.length > 0) {
                        var jsonData = JSON.parse(data);
                        for (var i = 0; i <= jsonData.length - 1; i++) {
                            var rowID = $("#QuotaTable > tbody > tr").length + 1;

                            var trQuotaTable = "<tr>"
                                                + "<td style='padding: 10px 3px;'><label style='display:none'>" + jsonData[i].Id + "</label><input type='text' value='" + jsonData[i].QuotaType + "' name='selectone" + rowID + "' class='form-control QuotaTextBox' style='width: 100%;' id='QuotaTextBox" + rowID + "'/></td>"
                                                + "<td style='padding: 10px 3px;'><input type='text' value='" + jsonData[i].QuotaPer + "'  class='form-control Desc numeric' style='width: 100%;' Id='QuotaTypeTextBox" + rowID + "' name='QuotaTypeTextBox" + rowID + "' /></td>"
                                                + "<td style='padding: 10px 3px;'><select id='quesDdl" + rowID + "' class='form-control' style='width: 100%;'>"
                                                + ddlHtml
                                                + "</select></td>"
                                                + "</tr>";
                            $('#QuotaTable').append(trQuotaTable);
                            var id = '#quesDdl' + rowID;
                            var val = jsonData[i].QuotaJump;
                            setTimeout(setValueinddl(id, val), 2000);
                            //$('#QuotaTable').append("<tr><td style='padding: 10px 3px;'><label style='display:none'>" + jsonData[i].Id + "</label><input type='text' value='" + jsonData[i].QuotaType + "' name='selectone" + rowID + "' class='form-control QuotaTextBox' style='width: 100%;' id='QuotaTextBox" + rowID + "' /></td><td><input type='text' value='" + jsonData[i].QuotaPer + "'  class='form-control Desc numeric' style='width: 100%;' Id='QuotaTypeTextBox" + rowID + "' name='QuotaTypeTextBox" + rowID + "' /></td></tr>");

                        }

                    }
                    else {
                        var rowID = $("#QuotaTable > tbody > tr").length + 1;

                        var trQuotaTable = "<tr>"
                                           + "<td style='padding: 10px 3px;'><label style='display:none'>0</label><input type='text' value='' name='selectone" + rowID + "' class='form-control QuotaTextBox' style='width: 100%;' id='QuotaTextBox" + rowID + "' /></td>"
                                           + "<td style='padding: 10px 3px;'><input type='text'  class='form-control Desc numeric' style='width: 100%;' Id='QuotaTypeTextBox" + rowID + "' name='QuotaTypeTextBox" + rowID + "' /></td>"
                                           + "<td style='padding: 10px 3px;'><select id='quesDdl" + rowID + "' class='form-control' style='width: 100%;'>"
                                           + ddlHtml
                                           +"</select></td>"
                                           + "</tr>";
                        $('#QuotaTable').append(trQuotaTable);

                        //$('#QuotaTable').append("<tr><td style='padding: 10px 3px;'><label style='display:none'>0</label><input type='text' value='' name='selectone" + rowID + "' class='form-control QuotaTextBox' style='width: 100%;' id='QuotaTextBox" + rowID + "' /></td><td><input type='text'  class='form-control Desc numeric' style='width: 100%;' Id='QuotaTypeTextBox" + rowID + "' name='QuotaTypeTextBox" + rowID + "' /></td></tr>");
                    }
                    InitializeEvent();
                },
                error: function () {

                }
            });
        }
        else {
            var rowID = $("#QuotaTable > tbody > tr").length + 1;

            var trQuotaTable = "<tr>"
                               + "<td style='padding: 10px 3px;'><label style='display:none'>0</label><input type='text' value='' name='selectone" + rowID + "' class='form-control QuotaTextBox' style='width: 100%;' id='QuotaTextBox" + rowID + "' /></td>"
                               + "<td style='padding: 10px 3px;'><input type='text'  class='form-control Desc numeric' style='width: 100%;' Id='QuotaTypeTextBox" + rowID + "' name='QuotaTypeTextBox" + rowID + "' /></td>"
                               + "<td style='padding: 10px 3px;'><select id='quesDdl" + rowID + "' class='form-control' style='width: 100%;'>"
                               + ddlHtml
                               +"</select></td>"
                               + "</tr>";
            $('#QuotaTable').append(trQuotaTable);

            //$('#QuotaTable').append("<tr><td style='padding: 10px 3px;'><label style='display:none'>0</label><input type='text' value='' name='selectone" + rowID + "' class='form-control QuotaTextBox' style='width: 100%;' id='QuotaTextBox" + rowID + "' /></td><td><input type='text'  class='form-control Desc numeric' style='width: 100%;' Id='QuotaTypeTextBox" + rowID + "' name='QuotaTypeTextBox" + rowID + "' /></td></tr>");
            InitializeEvent();
        }

    }

    function setValueinddl(id,val) {
        $(id).val(val);
    }

    function bindQuestionDdl() {
        var id=@Model.Id;
        $.ajax({
            url: GetPath('/Admin/BindQuestionDdl'),
            contentType: 'applicatin/json',
            dataType: 'json',
            Type: 'GET',
            data: { Id: id, QuestionId: 0 },
            success: function (data) {
                ddlHtml = "";
                $('select[id^="quesDdl"]').html("");
                var quesId = $('#QuestionId').val();
                var option = "<option value='0'>Terminate Survey</option>";

                if (data.length > 0) {
                    var jsonData = JSON.parse(data);
                    for (var i = 0; i <= jsonData.length - 1; i++) {
                        option += '<option value="' + jsonData[i].QuestionId + '">' + jsonData[i].QuestionName + '</option>';
                    }
                }

                $('select[id^="quesDdl"]').append(option);
                ddlHtml = option;
            },
            error: function () { }
        });
    }

    function updateValue(id, value) {
        var dialog = CKEDITOR.dialog.getCurrent();
        dialog.setValueOf('info', 'txtUrl', value);
    }

    function saveData() {
        var total = 0;
        $('.Desc').each(function () {
            total += parseInt($(this).val() != '' ? $(this).val() : 0);
        });
        if (total == 100) {
            $('#hdnProjectId').val(globalProjectId);
            var temp = "";
            $('#QuotaTable>tbody tr').each(function () {
                temp += $(this).children().eq(0).children().eq(0).text() + "," + $(this).children().eq(0).children().eq(1).val() + "," + $(this).children().eq(1).children().eq(0).val() + "," + $(this).children().eq(2).children().eq(0).val() + "|";

            });
            $("#hdnQuota").val(temp);
        }
        else {
            alert('Please set Project Quota.');
            return false;
        }
        var proid = $('#hdnProjectId').val();
        var projType = $('#hdnProjectType').val();
        localStorage.setItem('active', 'Project_' + proid);
        localStorage.setItem('ProjectType', projType);
    }


    function InitializeEvent() {
        $('.numeric').on('keydown', function (e) {
            key = e.which
            if (key == 8 || key == 9 || key == 13 || key == 46 || key == 110 || (key >= 35 && key <= 40) || (key >= 48 && key <= 57) || (key >= 96 && key <= 105)) {

            }
            else { return false }
        });

        $('.Desc').on('keyup', function () {
            var total = 0;
            $('.Desc').each(function () {
                total += parseInt($(this).val() != '' ? $(this).val() : 0);
            });
            if (total > 100) {
                alert('Quota percentage should not be greater than 100 %.');
                $(this).val('');
                $(this).focus();
            }
        });
    }

    function setClassSkip() {
        $('#hdnProjectId').val(globalProjectId);
        var proid = $('#hdnProjectId').val();
        localStorage.setItem('active', 'Project_' + proid);
    }

    function AddNewProductDescription() {
        var _row = '<tr data-id="0"><td><input type="text" class="numeric form-control"/></td><td><input type="text" class="productProjDesc form-control"/></td><td style="display:none;"><input type="text" class="numeric dispOrder form-control" /></td><td><a href="javascript:;" style="color:red" onclick="return removeproductProjDescRow(this);"><i class="fa fa-times"></i></a></td></tr>';
        $('#productProject > table >tbody').append(_row);
        InitializeEvent();
        setSerialNoOfConceptSurveyTable();
    }
    function removeproductProjDescRow(caller) {
        if ($('#productProject > table >tbody > tr').length > 1) {
            if (confirm('Are you sure to delete ?')) {
                $(caller).parents('tr:first').remove();
                setSerialNoOfConceptSurveyTable();
            }
        }
        else {
            alert("Can't remove the first row");
        }
    }
    function setSerialNoOfConceptSurveyTable() {
        var count = 1;
        $('#productProject > table > tbody > tr').each(function () {
            $(this).children().eq(2).children().eq(0).val(count);
            count++;
        });
    }

</script>
