﻿@model SurveyProject.Models.ManageGroupEmailModel
@{
    ViewBag.Title = "Group Emails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .btn-primary {
        text-transform: capitalize;
    }

    .btn-danger {
        text-transform: capitalize;
    }

    .modal-body label {
        margin-bottom: 6px;
    }

    #ProjectName {
        text-transform: capitalize;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="on-page-menu">
                <li>
                    <a href="javascript:;" class="active" data-name="CreateEmailGroup" style="@(Model.groupEmailMasterModel.Id > 0 ? "display:none" : "display:normal");">Create Email Groups</a>
                    <a href="javascript:;" class="active" data-name="" style="@(Model.groupEmailMasterModel.Id > 0 ? "display:normal" : "display:none");">Edit Email Groups</a>
                </li>
                <li>
                    <a href="@Url.Content("~/Admin/GroupEmailList")" class="" data-name="EmailGroupList">Email Group List</a>
                </li>
                <li>
                    <a href="javascript:;" class="" id="mailingTab" data-name="mailing">Survey Mailing</a>
                </li>
                @*<li>
                    <a href="javascript:;" class="" id="previewTab" data-name="preview">Preview</a>
                </li>*@
                @*<li>
                    <a href="javascript:;" class="" id="summaryTab" data-name="Summary">Summary</a>
                </li>*@
                <li>
                    <a href="javascript:;" class="" id="assignTab" data-name="AssignSurveyToPanel">Assign Survey To Panel</a>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-12">
                    @if (TempData["SuccessMessage"] != null && TempData["SuccessMessage"] != "")
                    {
                        <div class="alert alert-success" id="successDiv">@TempData["SuccessMessage"]</div>
                    }
                    @if (TempData["ErrorMessage"] != null && TempData["ErrorMessage"] != "")
                    {
                        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                    }
                </div>
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="@Url.Content("~/Admin/GroupEmailList")"><i class="fa fa-home fa-2x"></i></a></li>
                        <li><a style="cursor: default; text-decoration: none" href="javascript:;" data-name="CreateEmailGroup">Create Email Groups</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-heading" data-name="CreateEmailGroup" style="@(Model.groupEmailMasterModel.Id > 0 ? "display:none" : "display:normal");">Create Email Groups</h2>
                    <h2 class="page-heading" data-name="" style="@(Model.groupEmailMasterModel.Id > 0 ? "display:normal" : "display:none");">Edit Email Groups</h2>
                </div>
            </div>

            <section class="gen-section" id="normalProjectDiv">
                @using (Html.BeginForm("GroupEmails", "Admin", FormMethod.Post, new { @id = "userForm", role = "form" }))
                {
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.HiddenFor(m => m.groupEmailMasterModel.Id)
                            <label data-name="" class="col-md-3 control-label stlabel">Group Name</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <div class="input-group-addon">GRP_</div>
                                   @Html.TextBoxFor(m => m.groupEmailMasterModel.GroupName, new { @class = "form-control", @title = "Group Email Name" })                               
                                </div>
                                 @Html.ValidationMessageFor(m => m.groupEmailMasterModel.GroupName)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input id="btnnSubmit" type="submit" value="@(Model.groupEmailMasterModel.Id > 0 ? "Update" : "Save")" class="btn btn-primary pull-right"  data-name="@(Model.groupEmailMasterModel.Id > 0 ? "CommonUpdate" : "CommonSave")"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="hidden" id="hdnItems" name="hdnItems" value="" />
                                <input type="hidden" id="hdnItems2" name="hdnItems2" value="" />
                                <input type="hidden" id="hdnProductProjectXML" name="hdnProductProjectXML" value="" />
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script>
    $(document).ready(function () {

        var projId = localStorage.getItem('TabProjectId');
        if (projId != null && projId != 'null') {
            $('#mailingTab').attr('href', GetPath('/Admin/ProjectMailing?id=' + projId + ''));
            $('#previewTab').attr('href', GetPath('/Admin/ProjectPreview/' + projId + ''));
            $('#summaryTab').attr('href', GetPath('/Admin/ProjectSummary/' + projId + ''));
            $('#assignTab').attr('href', GetPath('/Admin/AssignSurveyToPanel/' + projId + ''));
        }
    });
</script>
