﻿@model SurveyProject.Models.CreateProjectModel
@{
    ViewBag.Title = "LinkProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    #saveBtn {
        margin-bottom: 10px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="on-page-menu">
                <li><a href="javascript:;" class="active" id="linkprod" data-name="tabbedLinkProd">Link Product</a></li>
            </ul>
        </div>
    </div>

    <div id="msgDiv" style="display: none" class="alert alert-danger"></div>
    @*<div class="row">
        <div class="form-group" style="overflow:hidden;">
            <label class="col-md-2" style="line-height: 30px;">Products: </label>
            <div class="col-md-10">
                <select id="ProductDdl" class="form-control">
                    <option value="0">-Select-</option>
                </select>
            </div>
        </div>
    </div>*@

    @if (Model.ProjectList != null && Model.ProjectList.Count > 0)
    {
        <div class="row">
            <div class="form-group" style="overflow: hidden;">
                <div class="table-responsive col-md-12">
                    <table id="surveytbl" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Project Name </th>
                                <th>Product </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.ProjectList)
                        {
                            <tr>
                                <td><a href="javascript:;">@item.ProjectName</a></td>
                                @if (ViewBag.productList != null)
                                {
                                    <td>
                                        @Html.DropDownListFor(m => item.SurveyLink, new SelectList(ViewBag.productList,"Value","Text",item.SurveyLink ), "-Select-", new { @id = "" + item.Id + "" })
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <button id="saveBtn" class="btn btn-primary">Save</button>  
        <input type="hidden" name="hdnProjectId" id="hdnProjectId" value="" />
    }
    else
    {
        <p class="alert alert-danger">No Record found</p>

    }

</div>
<script type="text/javascript">
    var PId = '';
    $(document).ready(function () {

        $("#saveBtn").on('click', function () {
            var allLinkid = [];
            var xml = '<root>';
            var saveStatus = 1;
            $("table#surveytbl tr").each(function (i) {
                $("td:last", this).each(function (j) {
                    var projId = $(this).find('select').attr('id');
                    var linkid = $(this).find('select').val();
                    if (linkid != '') {
                        if (jQuery.inArray(linkid, allLinkid) === -1) {
                            allLinkid.push(linkid);
                            xml += '<productInfo>';
                            xml += '<ProjectId>' + projId + '</ProjectId><SurveyLink>' + linkid + '</SurveyLink>';
                            xml += '</productInfo>';
                            
                        }
                        else {
                            $('#msgDiv').show();
                            $('#msgDiv').removeClass();
                            $('#msgDiv').addClass('alert alert-danger');
                            $('#msgDiv').html('One Product can be assign to only one survey,Please choose another Product.');
                            window.scrollTo(0, 0);
                            // alert("One Product can be assign to only one survey,Please choose another.");
                            saveStatus = 0;
                            return false;
                        }
                    }
                });
            });
            xml += '</root>';
            if (saveStatus != 0) {
                $.ajax({
                    url: GetPath('/Admin/SaveLinkProduct'),
                    contentType: 'application/json;',
                    datatype: 'json',
                    type: 'GET',
                    data: { Xml: xml },
                    success: function (data) {
                        if (data.length > 0) {
                            if (data == "1") {
                                $('#msgDiv').show();
                                $('#msgDiv').removeClass();
                                $('#msgDiv').addClass('alert alert-success');
                                $('#msgDiv').html('Link Product Saved Successfully.');
                                window.scrollTo(0, 0);
                            }
                            else {
                                $('#msgDiv').removeClass();
                                $('#msgDiv').addClass('alert alert-danger');
                                $('#msgDiv').html('Some Error Occured, Please try again later.');
                                $('#msgDiv').show();
                                window.scrollTo(0, 0);
                            }
                        }
                        else {
                            $('#msgDiv').removeClass();
                            $('#msgDiv').addClass('alert alert-danger');
                            $('#msgDiv').html('Please set Product Link.');
                            $('#msgDiv').show();
                            window.scrollTo(0, 0);
                        }
                    },
                    error: function () { },
                    complete: function () { }
                });
            }
        });
    });

    //function BindProduct(obj, caller) {
    //    PId = obj;
    //    if ($(caller).val() != "") {
    //        prodtxt = $(caller).find('option:selected').text();
    //        $('#Product_' + PId).html(prodtxt);
    //        prodval = $(caller).val();
    //        var htm = '<span style="display:none">' + prodval + '</span>';
    //        $('#' + PId + '').append(htm);
    //    }

    //}

</script>
