<html>
<head>
    <title></title>
    <script type="text/javascript">
        var timerInterval = "";
        var timerIntervalInMilliseconds = 1000;
        var timerInSeconds = 30*60;
        var timerInSecondsBase = 1;
        var seconds = 0;
        var minutes = 0;
        var hours = 0;

        function restartInterval() {
            stopInterval();

            timerInterval = "";
            timerIntervalInMilliseconds = 1000;
            timerInSeconds = timerInSecondsBase;
            seconds = 0;
            minutes = 0;
            hours = 0;

            startInterval();

            document.getElementById('DivResetSession').innerHTML = '<iframe id=\"IFrameResetSession\" name=\"IFrameResetSession\" src=\"Action to check login again" width=\"0\" height=\"0\" style=\"border:0px;border:none\" frameborder=\"0\"></iframe>';
        }

        function startInterval() {
            timerInterval = window.setInterval("tTimer()", timerIntervalInMilliseconds);
        }

        function stopInterval() {
            window.clearInterval(timerInterval);
            timerInterval = "";
        }

        function tTimer() {
            timerInSeconds--;
            hours = parseInt(timerInSeconds / 3600)
            minutes = parseInt(timerInSeconds / 60) - parseInt(timerInSeconds / 3600) * 60;
            seconds = timerInSeconds - parseInt(timerInSeconds / 60) * 60;
            if (hours < 10)
                hours = '0' + hours;
            if (minutes < 10)
                minutes = '0' + minutes;
            if (seconds < 10)
                seconds = '0' + seconds;
            if (timerInSeconds == -1) {
                stopInterval()
                location.href = '/Account/LogOff';
            }
            else
                document.getElementById("DivSessionTimer").innerHTML = 'sign out timer: (' + hours + ':' + minutes + ':' + seconds + ')';
        }

        startInterval();
    </script>
</head>
<body>
    <div id="DivResetSession"></div>
   <div id="DivSessionTimer"></div>

</body>
</html>
