﻿@model SurveyProject.Models.CreateQuestionModel
@{
    ViewBag.Title = "Manage Options";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
  
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="http://jqueryui.com/jquery-wp-content/themes/jqueryui.com/style.css">
<link href="@Url.Content("~/Content/css/responsive.css")" rel="stylesheet" />
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style>
    #sortable, #optnsortable {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 60%;
    }

        #sortable li, #optnsortable li {
            margin: 10px auto;
            padding: .7em 1.5em;
            font-size: 1.1em;
            text-align: center;
        }

            #sortable li span {
                /*position: absolute;
                margin-left: -1.3em;*/
            }
    /*#sortable p {
           display:inline;
        }*/
    .ui-sortable, .ui-state-default {
        min-width: 100%;
        min-height: 37px;
        max-width: 100%;
    }

    .applybtn {
        margin: 5px 0px;
    }

    .btn-primary {
        text-transform: capitalize;
    }

    ol.breadcrumb > li > a {
        color: #337ab7;
    }
</style>

<script>
    function SortingOptions() {

        $.noConflict();
        //$("#sortable").sortable();
        $('#sortable').sortable({
            start: function (event, ui) {
                var start_pos = ui.item.index();
                ui.item.data('start_pos', start_pos);
            },
            change: function (event, ui) {
                var start_pos = ui.item.data('start_pos');
                var index = ui.placeholder.index();
                if (start_pos < index) {
                    $('#sortable li:nth-child(' + index + ')').addClass('highlights');
                } else {
                    $('#sortable li:eq(' + (index + 1) + ')').addClass('highlights');
                }
            },
            update: function (event, ui) {
                $('#sortable li').removeClass('highlights');
                UpdateSequence();
            }
        });
        $("#sortable").disableSelection();

    }

</script>

<div class="container-fluid">


    <div class="col-md-12 mobile-tab-main">
        <div class="mobile-tab">
            <nav class="mainNav">
                <ul>
                    <li><a href="javascript:;" id="ques2" data-name="tabbedQuestions">Questions</a></li>
                    <li><a href="javascript:;" id="createQues2" data-name="CreateQuestions" data-id="15">Create Questions</a></li>
                    <li><a href="javascript:;" id="ans2" data-name="tabbedAnswers">Answers</a></li>
                    <li><a href="javascript:;" id="quota2" data-name="tabbedQuota">Quota</a></li>
                    <li><a href="javascript:;" id="displayOrder2" data-name="tabbedManageDisplay">Manage Display</a></li>
                    <li><a href="javascript:;" class="active" id="displayOrderOption2" data-name="tabbedManageDisplayOption">Manage Options</a></li>
                    <li><a href="javascript:;" class="" id="previewTab2" data-name="preview">Preview</a></li>
                    <li><a href="javascript:;" id="delete2" data-name="CommonDelete" data-id="2" style="display: none;" onclick="return confirm('Are you sure to delete ?')">Delete</a></li>
                </ul>
            </nav>
        </div>
    </div>



    <div class="row hide-mobile-tab">
        <div class="col-md-12">
            <ul class="on-page-menu child-tab">
                <li><a href="javascript:;" id="ques" data-name="tabbedQuestions">Questions</a></li>
                 <li><a href="javascript:;" id="createQues" data-name="tabbedCreateQuestion" data-id="15">Create Questions</a></li>
                <li><a href="javascript:;" id="ans" data-name="tabbedAnswers">Answers</a></li>
                <li><a href="javascript:;" id="quota" data-name="tabbedQuota">Quota</a></li>
                <li><a href="javascript:;" id="displayOrder" data-name="tabbedManageDisplay">Manage Display</a></li>
                <li><a href="javascript:;" class="active" id="displayOrderOption" data-name="tabbedManageDisplayOption">Manage Options</a></li>
                <li><a href="javascript:;" class="" id="previewTab" data-name="preview">Preview</a></li>
                <li class="pull-right"><a href="javascript:;" id="delete" data-name="CommonDelete" data-id="2" style="display: none;" onclick="return confirm('Are you sure to delete?')">Delete</a></li>
                @*<li class="pull-right"><a href="javascript:;" id="edit" data-name="CommonEdit">Edit</a></li>*@
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-heading" data-name="ManageOptionsSerialNo">Manage Options Serial No</h2>
            <div class="alert alert-success" style="display: none;" id="successDiv"></div>
            <div class="alert alert-error" style="display: none;" id="errorDiv"></div>
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="@Url.Content("~/Admin/ProjectList")"><i class="fa fa-home fa-2x"></i></a></li>
                    <li><a style="cursor: default; text-decoration: none" href="javascript:;" data-name="tabbedManageDisplayOption">Manage Options</a></li>
                </ol>
            </div>
            <div>
                <label class="form-group" data-name="PleaseArrangeOptionOrdersFromHere">Please arrange options order from here</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.QuesList != null)
            {
               
                @Html.DropDownListFor(m => m.QuestionId, (ViewBag.QuesList) as List<SelectListItem>, "-Please Select-", new { @id = "questionDdl", @class = "form-control" })
                <div id="optionListDiv">
                </div>
                
                
                <button id="btnChange" onclick="SaveDisplayOrder();" class="btn btn-primary applybtn" data-name="CommonSave">Save</button>            
            }
            else
            {
                <p class="alert alert-danger" data-name="CommonNoRecordFound">No Record found</p>
            }


            <input type="hidden" id="hdnProjectId" value="@(ViewBag.ProjectId != null ? ViewBag.ProjectId : '0')" />
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ajaxStart(function () {
        $("#loaderDivWhite").show();
    });

    $(document).ajaxComplete(function () {
        setTimeout(function () {
            $("#loaderDivWhite").hide();
        }, 500);

    });

    $(document).ready(function () {

        var projId = localStorage.getItem('TabProjectId');
        var superId = localStorage.getItem('TabSuperId');
        if (projId != null && projId != 'null') {
            $('#statusTab').attr('href', GetPath('/Admin/ProjectStatistics/' + projId + ''));
            $('#suprveySettingsTab').attr('href', GetPath('/Admin/ProjectSettings?id=' + projId + '&SPId=' + superId + ''));
            $('#transitionTab').attr('href', GetPath('/Admin/ProjectTransition/' + projId + ''));
            $('#previewTab').attr('href', GetPath('/Admin/ProjectPreview/' + projId + ''));


            $('#statusTab2').attr('href', GetPath('/Admin/ProjectStatistics/' + projId + ''));
            $('#suprveySettingsTab2').attr('href', GetPath('/Admin/ProjectSettings?id=' + projId + '&SPId=' + superId + ''));
            $('#transitionTab2').attr('href', GetPath('/Admin/ProjectTransition/' + projId + ''));
            $('#previewTab2').attr('href', GetPath('/Admin/ProjectPreview/' + projId + ''));
        }

        $('#hdnSetProjectId').val($('#hdnProjectId').val());

        if (localStorage.getItem('tempQuesId') != 'null') {
            var questionId = localStorage.getItem('tempQuesId');
            localStorage.setItem('tempQuesId', null)
            $.ajax({
                url: GetPath('/Admin/BindOption'),
                Type: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                data: { Id: questionId },
                success: function (resp) {
                    var jsonData = JSON.parse(resp);
                    $('#optionListDiv').html('');
                    if (jsonData != "") {

                        var appendstr = '<ul id="sortable">';
                        for (i = 0; i <= jsonData.length - 1 ; i++) {

                            appendstr += '<li class="ui-state-default" style="width:auto;cursor:move;" data-id="' + jsonData[i].Id + '" title="Pick and drop the question.">' +
                                jsonData[i].OptionTitle + '</li><input type="hidden" id="' + jsonData[i].Id + '" value="' + jsonData[i].OptionTitle + '" />';
                        }
                        appendstr += '</ul>';
                        $('#optionListDiv').html(appendstr);

                        SortingOptions();
                        UpdateSequence();
                        $('ul[id=sortable]>li').each(function () {
                            $(this).find('img').each(function () {
                                $(this).removeAttr('css');
                                $(this).css({ 'height': '100px', 'width': '200px' });

                            });
                            $(this).find('iframe').each(function () {
                                $(this).removeAttr('css');
                                $(this).css({ 'height': '100px', 'width': '200px' });
                            });
                        });
                        $('#btnChange').removeAttr( 'disabled');
                    }
                    else
                    $('#btnChange').attr('disabled', 'disabled');
                },
                error: function () {
                },

                async: false
            });
        }


        $('#questionDdl').on('change', function () {
            var questionId = $('#questionDdl').val();
            localStorage.setItem('tempQuesId', questionId);
            window.location.reload();
        });

    });

    function SaveDisplayOrder() {
        var i = 0;
        var str = "";
        var count = 1;
        $('ul[id=sortable]>li').each(function () {
            str += $(this).attr('data-id') + "-" + count + ",";
            count++;
        });
        $.ajax({
            url: ('/Admin/ManageOptions'),
            type: 'POST',
            data: "{\"OptnOrder\":" + "\"" + str + "\"}",
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                var jsonData = JSON.parse(data);
                if (jsonData.Status == 1) {
                    $('#successDiv').show();
                    $('#errorDiv').show();
                    $('#successDiv').html(jsonData.Message);
                }
                else if (jsonData.Status == -1) {
                    $('#errorDiv').show();
                    $('#successDiv').show();
                    $('#errorDiv').html(jsonData.Message);
                }
            },
            error: function (data)
            { },
            complete: function (data)
            { }

        });
    }

    function UpdateSequence() {
        var count = 1;
        $('li[class*=ui-sortable]').each(function () {
            var id = $(this).attr('data-id');
            var html = $('#' + id).val();
            $(this).html(count + '. ' + html);
            count++;
            $(this).find('img').each(function () {
                $(this).removeAttr('css');
                $(this).css({ 'height': '100px', 'width': '200px' });
            });
            $(this).find('iframe').each(function () {
                $(this).removeAttr('css');
                $(this).css({ 'height': '100px', 'width': '200px' });
            });
        });

    }

</script>

