﻿@{
    ViewBag.Title = "NotParticipateRespList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <ul class="on-page-menu">
                <li><a href="javascript:;" id="onlineReslink" data-name="OnlineResponsesData">Online Responses</a></li>
                <li><a href="javascript:;" id="offlineReslink" data-name="OfflineResponsesData">Offline Responses</a></li>
                <li><a href="javascript:;" id="incompleteReslink" data-name="IncompleteResponse">Incomplete Responses</a></li>
                <li><a href="javascript:;" id="importReslink" data-name="ImportResponses">Import Responses</a></li>
                <li><a href="javascript:;" id="noPeak" class="active" data-name="NotParticipateRespondent">No Peak Value</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (TempData["SuccessMessage"] != null)
            {
            <div class="alert alert-success">@TempData["SuccessMessage"]</div>
            }
            @if (TempData["ErrorMessage"] != null)
            {
            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
            }
            <div class="row">
                <div class="col-md-12" id="divContent">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th data-name="CommonSrNo">
                                        Sr. No.
                                    </th>

                                    <th data-name="SurveyResponsesUser">
                                        Users
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.NotParticipateRespondent != null && ViewBag.NotParticipateRespondent != "")
                                {
                                    string NotParticipateRes = ViewBag.NotParticipateRespondent;
                                    string[] notParticipateResArr = NotParticipateRes.Split(',');
                                    for (int i = 0; i < notParticipateResArr.Count(); i++)
                                    {
                                    <tr>
                                        <td>
                                            @(i + 1)
                                        </td>
                                        <td>@notParticipateResArr[i].ToString()</td>
                                    </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var projId = localStorage.getItem('TabProjectId');
        var superId = localStorage.getItem('TabSuperId');
        var projectType = localStorage.getItem('ProjectType');

        if (projId != null && projId != 'null') {
            $('#onlineReslink').attr('href', GetPath('/Admin/SurveyResponses/' + projId + ''));
            $('#offlineReslink').attr('href', GetPath('/Admin/SurveyOfflineResponses/' + projId + ''));
            $('#incompleteReslink').attr('href', GetPath('/Admin/SurveyIncompleteResponses/' + projId + ''));
            $('#importReslink').attr('href', GetPath('/Admin/ImportExcel/' + projId + ''));
        }
        if (superId != null && superId != 'null') {
            $("#noPeak").attr('href', GetPath('/Admin/NotParticipateRespondent/' + superId + ''));
        }
    });
</script>


