﻿@{
    ViewBag.Title = "Pages Randomization";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="@Url.Content("~/Content/Sortable/devheart-examples.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Sortable/style.css")" rel="stylesheet" />
<style type="text/css">
    .sortable-list {
        background-color: rgb(233, 233, 233);
        overflow: hidden;
        clear: both;
    }

    .sortable-item {
        background-color: rgb(0,148,255);
        padding: 10px 0!important;
        width: calc(25% - 10px);
        margin: 5px;
        float: left;
        min-height: 200px;
    }

    .placeholder {
        min-height: 200px;
    }

    #btnChange {
        margin: 10px 0;
    }

    hr {
        margin-top: 10px!important;
        margin-bottom: 10px!important;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="dhe-example-section" id="ex-1-1">
                <div class="dhe-example-section-header">
                    <h2 style="margin-top: 0;" class="page-heading">Pages Randomization</h2>
                    @*<h3 class="dhe-h3 dhe-example-title"></h3>*@
                    <div class="alert alert-success" style="display: none;" id="successDiv"></div>
                    <div class="alert alert-danger" style="display: none;" id="errorDiv"></div>
                </div>
                @if (Model.groupList != null && Model.groupList.Count > 0)
                {
                    <div class="dhe-example-section-content" style="background-color: #f93;">
                        <div id="example-1-1">
                            <ul class="sortable-list ui-sortable">
                                @foreach (var item in Model.groupList)
                                {     
                                    <li class="sortable-item sortableUl" data-groupId="@item.Id">
                                        <h4>@item.GroupName</h4>
                                        <hr />
                                        <ul style="line-height: 30px;">
                                            @if (Model.questionList != null && Model.questionList.Count > 0)
                                            {
                                                foreach (var ques in Model.questionList)
                                                {
                                                    if (ques.QuestionGruopId == item.Id)
                                                    {
                                                <li title="@ques.QuestionTitle">@(ques.QuestionTitle.Length > 20 ? ques.QuestionTitle.Substring(0, 20) + "..." : ques.QuestionTitle)
                                                </li>                 
                                                    }
                                                }
                                            }
                                        </ul>
                                    </li>
                                }

                            </ul>
                        </div>
                        <button id="btnChange" onclick="SaveGroupsDisplayOrder();" class="btn btn-primary applybtn pull-right" data-name="CommonSave">Save</button>
                    </div>     
                }
                else
                {
                    <p data-name="CommonNoRecordFound" class="alert alert-danger">No Record Found</p>
                }
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();
        $('#example-1-1 .sortable-list').sortable({ placeholder: 'placeholder' });
    });

    function SaveGroupsDisplayOrder() {
        var str = "";
        var count = 1;
        $('li.sortableUl').each(function () {
            str += $(this).attr('data-groupid') + "-" + count + ",";
            count++;
        });

        $.ajax({
            url: GetPath('/Admin/UpdateGroupOrder'),
            type: 'POST',
            data: "{\"GroupOrder\":" + "\"" + str + "\"}",
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                var jsonData = JSON.parse(data);
                if (jsonData.Status == 1) {
                    $('#successDiv').show();
                    $('#errorDiv').hide();
                    $('#successDiv').html(jsonData.Message);
                }
                else if (jsonData.Status == -1) {
                    $('#errorDiv').show();
                    $('#successDiv').hide();
                    $('#errorDiv').html(jsonData.Message);
                }
            },
            error: function (data)
            { },
            complete: function (data)
            { }

        });
    }
</script>
<script src="@Url.Content("~/Content/Sortable/ga.js")"></script>
