﻿@model SurveyProject.Models.ProjectMailingModel
@{
    ViewBag.Title = "Project Mailing";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .grplist {
        height: auto;
        min-height: 150px;
        min-width: 30%;
        background: #fff;
        /* border: 1px solid #ccc; */
        padding: 10px 10px;
        border-radius: 3px;
        z-index: 999;
        box-shadow: 0px 0px 6px 1px rgb(131, 127, 127);
    }

        .grplist li {
            line-height: 26px;
            border: 1px solid #ccc;
            font-size: 15px;
        }

            .grplist li > span > input[type="checkbox"] {
                margin-right: 20px;
                float: right;
                width: 30px;
                height: 16px;
            }

            .grplist li > span {
                padding: 0px 10px;
            }
</style>
<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
<script src="@Url.Content("~/Scripts/ckeditor/adapters/jquery.js")"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="on-page-menu">
                <li>
                    <a href="@Url.Content("~/Admin/GroupEmails")" class="emailGroupTab" id="groupEmailsTab" data-name="CreateEmailGroup">Create Email Groups</a>
                </li>
                <li>
                    <a href="@Url.Content("~/Admin/GroupEmailList")" class="" data-name="EmailGroupList">Email Group List</a>
                </li>
                <li>
                    <a href="javascript:;" class="active" data-name="ProjectMailing">Survey Mailing</a>
                </li>
                @*<li>
                        <a href="javascript:;" class="" id="previewTab" data-name="preview">Preview</a>
                    </li>*@
                @*<li>
                        <a href="javascript:;" class="" id="summaryTab" data-name="Summary">Summary</a>
                    </li>*@
                <li>
                    <a href="javascript:;" class="" id="assignTab" data-name="AssignSurveyToPanel">Assign Survey To Panel</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-heading" data-name="ProjectMailing">Project Mailing</h2>
            <section class="gen-section">
                @using (Html.BeginForm("ProjectMailing", "Admin", FormMethod.Post))
                {
                    <div class="row">
                        @if (TempData["SuccessMessage"] != null && TempData["SuccessMessage"] != "")
                        {
                            <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                        }
                        @if (TempData["ErrorMessage"] != null && TempData["ErrorMessage"] != "")
                        {
                            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                        }
                        <div class="col-md-12">
                            <ol class="breadcrumb">
                                <li><a href="@Url.Content("~/Admin/ProjectList")"><i class="fa fa-home fa-2x"></i></a></li>
                                <li><span data-name="ProjectMailing">Project Mailing</span></li>
                            </ol>
                        </div>
                        <div class="col-md-12">
                            @Html.ValidationSummary(true)
                            <input type="hidden" id="hdnProjectId" value="@(ViewBag.ProjectId != null ? ViewBag.ProjectId : '0')" />
                            @Html.HiddenFor(m => m.Id)
                            @Html.HiddenFor(m => m.ProjectId)
                            @Html.HiddenFor(m => m.SuperProjectId)
                            <div class="form-group">
                                <label data-name="ProjectMailingFromName" class="stlabel">From :</label>
                                @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.FromName)
                            </div>
                            <div class="form-group">
                                <label data-name="ProjectMailingSubject" class="stlabel">Subject :</label>
                                @Html.TextBoxFor(m => m.subject, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.subject)
                            </div>
                            <div class="form-group">
                                <label data-name="ProjectMailingInvitationMessage" class="stlabel">Invitation Message :</label>
                                @Html.TextAreaFor(m => m.InvitationMessage, new { @class = "ckeditor" })
                                @Html.ValidationMessageFor(m => m.InvitationMessage)
                            </div>
                            <div class="form-group">
                                <label data-name="ProjectMailingInvitationList" class="stlabel">Invitation List:</label>
                                @Html.TextAreaFor(m => m.InvitationList, new { @class = "form-control", @placeholder = "You can enter comma separated email address", @style = "resize:none;" })
                                @Html.ValidationMessageFor(m => m.InvitationList)
                                <a href="javascript:;" onclick="return ConfigureEmailAndProducts()" id="btnConfigureResponder" style="color:#004d00" data-name="ConfigureResponderProduct">Configure Responder's Products</a>
                                <a href="javascript:;" onclick="return EmailGroupSuggestion()" style="float: right;color:#004d00;">Add Email Group <i class="fa fa-plus"></i></a>
                                <ul id="GroupList" style=" bottom: 46px; margin: 32px 0px; position: absolute; right: 50px;"></ul>
                            </div>
                            <div class="form-group table-responsive" id="divConfigureEmailWithProducts">
                            </div>
                            <div class="form-group">
                                <input type="hidden" id="hdnSubSurveyEmailCount" name="hdnSubSurveyEmailCount" value="" />
                                <input type="hidden" id="hdnRedirectUrls" name="hdnRedirectUrls" value="" />
                                <input type="submit" value="send" id="btnSend" class="btn btn-primary" style="font-size: 12px; text-transform: capitalize;" data-name="ProjectMailingBtnSend" onclick="return UpdateRedirection();" />
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>



<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var projId = localStorage.getItem('TabProjectId');
        if (projId != null && projId != 'null') {
            $('#previewTab').attr('href', GetPath('/Admin/ProjectPreview/' + projId + ''));
            $('#summaryTab').attr('href', GetPath('/Admin/ProjectSummary/' + projId + ''));
            $('#assignTab').attr('href', GetPath('/Admin/AssignSurveyToPanel/' + projId + ''));
        }

        $('#hdnSetProjectId').val($('#hdnProjectId').val());
        if (parseInt($('#SuperProjectId').val()) == 0)
            $('#btnConfigureResponder').css("display", "none");

        $('#btnSend').on('click', function () {
            //----------get SubSurvey count
            var temp = '';
            $('#divConfigureEmailWithProducts').find('table>tbody>tr').each(function () {
                var respId = $(this).children().eq(0).html();
                temp += respId + '#';
                $(this).find('td>select').each(function () {
                    var subSurId = $(this).attr('data-subsurvey');
                    var count = $(this).find('option:selected').text();
                    temp += (subSurId + '|' + count + '*');
                });
                temp += ',';
            });
            $('#hdnSubSurveyEmailCount').val(temp);

        });

    });
    var siteUrl = '@System.Configuration.ConfigurationManager.AppSettings["site"].ToString()' + '/Respondent/survey?surveyId=';
    var xmlData = '<Root>';
    var isSuperSurveySelected = false;
    function UpdateRedirection() {
        $('li.superProject').each(function () {
            if ($(this).hasClass('active-super')) {
                $(this).next().find('li.childSurvey').each(function () {
                    if ($(this).next().hasClass('childSurvey')) {
                        isSuperSurveySelected = true;
                        xmlData += '<RedirectUrl><Url>' + siteUrl + $(this).next().attr('data-guid') + '_amp;uid=UID</Url><projectGUID>' + $(this).attr('data-guid') + '</projectGUID></RedirectUrl>';
                    }
                });
            }
        });
        xmlData += '</Root>';
        $('#hdnRedirectUrls').val(xmlData);
        //if (!isSuperSurveySelected) return true;

        //$.ajax({
        //    url: '/Admin/SubprojectsRedirectUpdate',
        //    data: { 'xml': xmlData },
        //    type: 'GET',
        //    dataType: 'json',
        //    contentType: 'application/json',
        //    success: function (data) { },
        //    error: function () { },
        //    complete: function () { }
        //});
        return true;
    }
    function ConfigureEmailAndProducts() {
        //divConfigureEmailWithProducts
        var SurveysProductsSelectListArr = [];
        var table = '<table class="table table-striped"><thead><tr>';
        var SubSurveysCount = $('ul.root-sub>li.active-super').next().find('li').length - 1;
        var surveys = '<th><i class="fa fa-envelope"></i></th>';
        $('ul.root-sub>li.active-super').next().find('li').each(function () {
            if ($(this).hasClass('childSurvey')) {
                surveys += '<th>' + $(this).children().eq(0).attr('data-original-title') + '</th>';
                var thisSurveyProductsCount = parseInt($(this).children().eq(0).attr('data-productscount'));
                var selectList = '<select class="form-control" data-subSurvey="' + $(this).children().eq(0).attr('data-subSurveyId') + '">';
                for (var i = 0; i <= thisSurveyProductsCount - 1; i++) {
                    if (i == thisSurveyProductsCount - 1) {
                        selectList += '<option selected="selected">' + (i + 1) + '</option>';
                    }
                    else {
                        selectList += '<option>' + (i + 1) + '</option>';
                    }
                }
                selectList += '</select>';
                SurveysProductsSelectListArr.push(selectList);
            }
        });

        table += surveys + '</tr></thead><tbody>';

        var emails = $('#InvitationList').val();
        if ($('#InvitationList').val().length == 0) {
            alert('Please fill recepients email address');
            return true;
        }
        var emailArr = emails.split(',');
        for (var i = 0; i <= emailArr.length - 1; i++) {
            if (emailArr[i] != "") {
                var row = '<tr><td>' + emailArr[i] + '</td>';
                for (var j = 0; j <= SubSurveysCount - 1; j++) {
                    row += '<td>' + SurveysProductsSelectListArr[j] + '</td>';
                }
                row += '</tr>';
                table += row;
            }
        }
        $('#divConfigureEmailWithProducts').html(table);
    }

    function EmailGroupSuggestion() {
        $.ajax({
            url: GetPath('/Admin/GroupEmailJsonList'),
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            data: {},
            success: function (data) {
                if (data.length > 0) {
                    var list = "";
                    var jsonData = JSON.parse(data);
                    for (var i = 0; i <= jsonData.length - 1; i++) {
                        list += "<li id='" + jsonData[i].Id + "'><span>" + jsonData[i].GroupName + "</span><span><input type='checkbox' id='chk_" + jsonData[i].Id + "'/></span></li>";
                    }
                    var msgtag = '<p id="msgTag"></p>';
                    var okBtn = '<button type="button" class="btn btn-primary" style="width: 40%;padding: 3px 0px;margin-top: 16px;float: left;" onclick="setGroupText();"><i class="fa fa-check fa-1x"></i></button>';
                    var closeBtn = '<button type="button" class="btn btn-primary" style="width: 40%;padding: 3px 0px;margin-top: 16px;float: right;" onclick="setCloseText();"><i class="fa fa-times fa-1x"></i></button>';
                    $('#GroupList').html(list + msgtag + okBtn + closeBtn);
                    $('#GroupList').addClass('grplist');
                }
            },
            error: function (resp) { },
            complete: function () { }
        });
    }
    function setGroupText() {
        var InvitationGroup = "";

        $('#GroupList>li').each(function () {
            if ($(this).children().eq(1).children().eq(0).is(':checked')) {
                InvitationGroup = $(this).children().eq(0).html() + ',';
                var currText = $('#InvitationList').val();
                if (currText.indexOf(InvitationGroup) != -1) {
                    var divNoExist = $('<div><p class="alert alert-danger"> ' + $(this).children().eq(0).html() + ' group is already added </p></div>');
                    $(divNoExist).hide();
                    $('#msgTag').prepend(divNoExist);
                    $(divNoExist).fadeIn(900).delay(9000).fadeOut(900);
                }
                else
                    $('#InvitationList').val(currText+InvitationGroup);
            }
        });
    }

    function setCloseText(){
        $('#GroupList').html("");
        $('#GroupList').removeAttr('class');
    }
</script>
