﻿@model SurveyProject.Models.SurveyResponseModel
@{
    ViewBag.Title = "Project Preview";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int singleHorizontalCol = 0;
    int SinglePunchMatrix = 0;
    int multiHorizontalCol = 0;
    int RankOrderCol = 0;
    int KanoCol = 0;
    int DDLCol = 0;
    //string site = System.Configuration.ConfigurationManager.AppSettings["site"].ToString();
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
<link rel="stylesheet" type="text/css" media="print" href="@Url.Content("~/Content/print.css")">



<style type="text/css">
    label {
        word-wrap: break-word;
    }

    .container {
        width: 90%;
    }

    .pagerbutton {
        padding: 9px 14px;
        background: #3498db;
        color: white;
        border-radius: 0;
    }

    /*.prev-quest > span, .prev-quest > p, .prev-quest > div{
        display:block;
    }*/
    .prev-quest img {
        vertical-align: middle;
        margin: 0 10px;
    }


    .prev-quest > p {
        line-height: 22px;
    }

    .formgrouptextclass {
        padding: 0px 20px;
    }

    .wizard-step {
        display: none;
    }

    .display-field {
        font-weight: bold;
    }

    .view-wizard-steps {
        padding: 5px 15px;
        margin: 10px auto;
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset;
        -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset;
        border: 1px solid rgba(91, 91, 91,.3);
        background-color: #f8f8f8;
    }

    .multipunchquestion3 {
        width: 100%;
        /*min-width:124px !important;*/
    }

    /*.grp2 {
        min-width: 138px !important;
    }*/

    label {
        margin-bottom: 0px !important;
    }

    .prev-quest {
        font-weight: 600;
        font-size: 14px;
    }

    .table-row {
        display: table-row;
    }

    .table-row {
        /*display: table-row;*/
    }

    .head-left {
        display: table-cell;
        min-width: 110px;
        padding: 5px 0;
        padding-left: 4px;
        width: 110px;
        margin-right: 5px;
        font-size: 12px;
        font-weight: 600;
    }

    .head-right {
        display: table-cell;
        min-width: 70px;
        max-width: 70px;
        padding: 5px 2px;
        width: 70px;
        text-align: center;
        word-wrap: break-word;
        font-size: 12px;
        font-weight: 600;
    }

    .body-left {
        display: table-cell;
        min-width: 170px;
        padding: 2px 0;
        padding-left: 4px;
        width: 170px;
        max-width: 253px;
        line-height: 17px;
    }

    .body-right {
        display: table-cell;
        min-width: 102px;
        padding: 2px 0;
        vertical-align: middle;
        width: 70px;
        text-align: center;
    }

        .body-right > select {
            width: 96%;
        }

    .clearfix {
        overflow: hidden;
        clear: both;
    }

    .body-left, .head-left {
        padding-left: 8px !important;
    }

    .content-area-content {
        margin-top: 5px;
    }

    .circle {
        width: 41px;
        height: 41px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #000;
        font-size: 23px;
        padding: 6px 0px;
        margin: 0px 4px;
        font-family: open sans !important;
        background: #fff;
    }

    .question-title {
        float: none;
    }

    .circlediv {
        background: #f5f5f5;
        border: 1px solid #666;
        padding: 15px 0px;
        margin-top: 10px;
        display: inline-table;
    }

    .circle:hover {
        background: black;
        color: white;
    }

        .circle:hover a {
            color: white;
        }
</style>

<div class="col-md-12 mobile-tab-main">
    <div class="mobile-tab">
        <nav class="mainNav">
            <ul>
                <li class="selected"><a href="javascript:;" class="" id="ques2" data-name="tabbedQuestions">Questions</a></li>
                <li><a href="javascript:;" id="createQues2" data-name="CreateQuestions" data-id="15">Create Questions</a></li>
                <li><a href="javascript:;" id="ans2" data-name="tabbedAnswers">Answers</a></li>
                <li><a href="javascript:;" id="quota2" data-name="tabbedQuota">Quota</a></li>
                <li><a href="javascript:;" id="displayOrder2" data-name="tabbedManageDisplay">Manage Display</a></li>
                <li><a href="javascript:;" id="displayOrderOption2" data-name="tabbedManageDisplayOption">Manage Options</a></li>
                <li><a href="javascript:;" class="active" id="previewTab2" data-name="preview">Preview</a></li>
                <li><a href="javascript:;" id="delete2" data-name="CommonDelete" data-id="2" style="display: none;" onclick="return confirm('Are you sure to delete ?')">Delete</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="row hide-mobile-tab">
    <div class="col-md-12">
        <ul class="on-page-menu child-tab">
            <li><a href="javascript:;" class="" id="ques" data-name="tabbedQuestions">Questions</a></li>
            <li><a href="javascript:;" id="createQues" data-name="CreateQuestions" data-id="15">Create Questions</a></li>
            <li><a href="javascript:;" id="ans" data-name="tabbedAnswers">Answers</a></li>
            <li><a href="javascript:;" id="quota" data-name="tabbedQuota">Quota</a></li>
            <li><a href="javascript:;" id="displayOrder" data-name="tabbedManageDisplay">Manage Display</a></li>
            <li><a href="javascript:;" id="displayOrderOption" data-name="tabbedManageDisplayOption">Manage Options</a></li>
            <li><a href="javascript:;" class="active" id="previewTab" data-name="preview">Preview</a></li>
            <li class="pull-right">
                <a href="javascript:;" id="delete" data-name="CommonDelete" data-id="2" style="display: none;" onclick="return confirm('Are you sure to delete ?')">Delete</a>
            </li>
            @*<li class="pull-right"><a href="javascript:;" id="edit" data-name="CommonEdit">Edit</a></li>*@
        </ul>
    </div>
</div>


<div class="container-fluid">
    <h2 class="page-heading">@Model.projectModel.ProjectName</h2>
    <p style="overflow: hidden;">
        <a href="~/Admin/ProjectMailing/@Model.projectModel.Id" class="btn btn-primary testsurvey pull-right" data-name="ProjectPreviewButtonLaunchSurvey" onclick="return PreviewLaunchSurvey();">Launch Survey</a>
        <input type="hidden" id="hdnOpenDate" name="hdnOpenDate" value="@Model.projectSettingsModel.OpeningDate" />
        <a href="javascript:;" class="btn btn-primary testsurvey pull-right" onclick="return OpenPartialView('@Model.projectModel.Id');" style="display:inline-block; margin:0 10px;" data-name="ProjectPreviewButtonTestSurvey">Test Survey</a>
        <a href="javascript:;" class="@(Model.projectSettingsModel.IsActive == true ? "btn btn-primary testsurvey pull-right" : "btn btn-danger pull-right")" id="btnActiveDisplay" onclick="SurveyActiveSetting();" data-name="@(Model.projectSettingsModel.IsActive == true ? "ProjectPreviewButtonActivated" : "ProjectPreviewButtonActive")">@(Model.projectSettingsModel.IsActive == true ? "Activate" : "Active")</a>
        <a href="javascript:;" onclick="return PrintProject();" class="btn btn-primary testsurvey pull-right" style="display: inline-block; margin: 0 10px;"><i class="fa fa-print"></i></a>
        <button type="button" data-toggle="modal" data-target="#TextSurveyPopup" style="display: none;" id="btnShowSurveyPopup"></button>
        <button type="button" id="btnActive" data-name="ProjectPreviewButtonActive" style="display: none;"></button>
        <button type="button" id="btnActivated" data-name="ProjectPreviewButtonActivated" style="display: none;"></button>
        <input type="hidden" id="hdnCloseDate" name="hdnCloseDate" value="@Model.projectSettingsModel.ClosingDate" />
        <input type="hidden" id="hdnPrevNextPageNevi" name="hdnPrevNextPageNevi" value="@(Convert.ToString(Model.projectSettingsModel.PrevNextPageNavigation))" />
        <input type="hidden" id="hdnDisableQuesNo" name="hdnDisableQuesNo" value="@(Convert.ToString(Model.projectSettingsModel.DisableQuestionNumbering))" />
        <input type="hidden" id="hdnScore" name="hdnScore" value="@(Convert.ToString(Model.projectSettingsModel.Scored))" />
        <input type="hidden" id="hdnResumeOfPro" name="hdnResumeOfPro" value="@(Convert.ToString(Model.projectSettingsModel.ResumeOfProgress))" />
        <input type="hidden" id="hdntestMode" name="hdntestMode" value="@(Convert.ToString(Model.projectSettingsModel.TestMode))" />
        <input type="hidden" id="hdnActive" name="hdnActive" value="@(Convert.ToString(Model.projectSettingsModel.IsActive))" />

    </p>
    <div class="col-md-12" style="margin-top: 10px;">
        <ol class="breadcrumb">
            <li><a href="@Url.Content("~/Admin/ProjectList")"><i class="fa fa-home fa-2x"></i></a></li>
            <li><span data-name="Projects">Project</span>&nbsp;<span data-name="Preview">Preview</span></li>
            @*<li><input type="text" id="copyTarget" readonly="readonly" value="@site/Home/TestSurvey?id=@Model.projectModel.Id"> <button id="copyButton">Copy</button><br><br></li>*@
            @*<li><a href="~/Home/TestSurvey?id=@Model.projectModel.Id" style="cursor:pointer;">@site/Home/TestSurvey?id=@Model.projectModel.Id</a></li>*@
        </ol>
    </div>
    <input type="hidden" id="hdnProjId" value="@Model.projectModel.Id" />
    <div class="content-area-content scroll-main" id="printableDiv" style="padding: 0;">

        <style>
                        @@media print {
                            /*.matrixType {
                                margin-bottom: 0px !important;
                                overflow: hidden;
                                clear: both;
                            }




                            .view-wizard-steps {
                                clear: both !important;
                                overflow: hidden !important;
                            }

                            .circle {
                                width: 41px;
                                height: 41px;
                                -moz-border-radius: 50%;
                                -webkit-border-radius: 50%;
                                -moz-border-radius: 50%;
                                border-radius: 50%;
                                border: 2px solid #000;
                                font-size: 23px;
                                padding: 6px 0px;
                                margin: 0px 4px;
                                font-family: open sans !important;
                                background: #fff;
                            }

                            .prev-quest span {
                                display: inline-table;
                            }

                            .body-left {
                                display: table-cell;
                                min-width: 190px;
                                padding: 2px 0;
                                padding-left: 4px;
                                width: 260px;
                                max-width: 253px;
                                line-height: 17px;
                            }

                            .body-right {
                                display: table-cell;
                                min-width: 49px;
                                padding: 2px 0;
                                vertical-align: middle;
                                width: 70px;
                                text-align: center;
                            }

                            .head-right {
                                display: table-cell;
                                padding: 5px 2px;
                                width: 50% !important;
                                text-align: center;
                                word-wrap: break-word;
                                font-size: 12px;
                                font-weight: 600;
                            }

                            .body-left, .head-left {
                                padding-left: 15px !important;
                            }
            .view-wizard-steps {

                                margin: 10px auto;
                                -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset;
                                -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset;
                                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset;
                                border: 1px solid rgba(91, 91, 91,.3);
                                background-color: #f8f8f8;
                                page-break-inside: avoid;
                            }
                            .head-left {
                                display: table-cell;
                                min-width: 190px;
                                padding: 5px 0;
                                padding-left: 4px;
                                width: 110px;
                                margin-right: 5px;
                                font-size: 12px;
                                font-weight: 600;
                            }*/
                            .table-row {
                                display: table-row;
                            }

                            .table-row {
                                /*display: table-row;*/
                            }

                            .view-wizard-steps {
                                padding: 5px 0px;
                                page-break-inside: avoid;
                            }

                            .container {
                                width: 100%;
                            }

                            .head-left {
                                display: table-cell;
                                min-width: 110px;
                                padding: 5px 0;
                                padding-left: 4px;
                                width: 110px;
                                margin-right: 5px;
                                font-size: 12px;
                                font-weight: 600;
                            }

                            .head-right {
                                display: table-cell;
                                min-width: 70px;
                                max-width: 70px;
                                padding: 5px 2px;
                                width: 70px;
                                text-align: center;
                                word-wrap: break-word;
                                font-size: 12px;
                                font-weight: 600;
                            }

                            .body-left {
                                display: table-cell;
                                min-width: 170px;
                                padding: 2px 0;
                                padding-left: 4px;
                                width: 170px;
                                max-width: 253px;
                                line-height: 17px;
                            }

                            .body-right {
                                display: table-cell;
                                min-width: 102px;
                                padding: 2px 0;
                                vertical-align: middle;
                                width: 70px;
                                text-align: center;
                            }

                                .body-right > select {
                                    width: 96%;
                                }

                            .clearfix {
                                overflow: hidden;
                                clear: both;
                            }

                            .body-left, .head-left {
                                padding-left: 8px !important;
                            }

                            .content-area-content {
                                margin-top: 5px;
                            }

                            .container-fluid {
                                page-break-inside: avoid;
                            }
                        }
        </style>



        <h2 class="page-heading" id="printProjectTitle" style="display: none">@Model.projectModel.ProjectName</h2>
        @if (Model.lstQuestionModel != null && Model.lstQuestionModel.Count > 0)
        {
            int count = 0;
            foreach (var question in Model.lstQuestionModel)
            {
                count++;
                int countCol = 0;
                <div class="view-wizard-steps">

                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="prev-quest" data-questionid="@question.QuestionId" data-questiontypeid="@question.QuestionTypeId"><span class="numbers" style="margin-right: 10px; float:left;">@count</span><span class="question-title">@Html.Raw(question.QuestionTitle)</span> &nbsp;<a href="~/Admin/CreateQuestion?id=@(question.QuestionId)&Pid=@(Model.projectModel.Id)&PType=@(Model.projectModel.ProjectType)" data-name="CommonEdit" class="pull-right removeAtPrintable" style="margin:5px 5px 0 0;">Edit</a></h4>
                        </div>
                    </div>


                    <div class="table-responsive">
                        <table style="width: 100%;" align="center">
                            @if (question.QuestionTypeId != 7 && question.QuestionTypeId != 3 && question.QuestionTypeId != 15 && question.QuestionTypeId != 8)
                            {
                                if (question.lstOptionsModel != null && question.lstOptionsModel.Count > 0)
                                {
                                    foreach (var option in question.lstOptionsModel)
                                    {
                                        <div class="container-fluid table-row">
                                            @if (question.QuestionTypeId == 1)
                                            {
                                                <div class="col-md-12" style="margin: 5px 0;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <input type="radio" value="@option.OptionId" name="@question.QuestionId" data-answerid="@option.OptionId" />
                                                        </span>
                                                        <label class="form-control">@option.Option</label>
                                                    </div>
                                                </div>
                                            }
                                            else if (question.QuestionTypeId == 2)
                                            {
                                                <div class="col-md-12">
                                                    <div class="input-group" style="margin-bottom: 10px;">
                                                        <span class="input-group-addon">
                                                            <input type="checkbox" value="@option.OptionId" data-answerid="@option.OptionId" />
                                                        </span>
                                                        <label class="form-control">@option.Option</label>
                                                    </div>
                                                </div>
                                            }
                                            else if (question.QuestionTypeId == 4 || question.QuestionTypeId == 5)
                                            {
                                                <div class="form-group" style="padding: 0 15px; margin: 5px 0;">
                                                    <label style="margin-bottom: 5px!important;">@option.Option</label>
                                                    <input type="text" placeholder="type your answer" class="form-control numeric" />
                                                </div>
                                            }
                                            else if (question.QuestionTypeId == 6)
                                            {
                                                <div class="matrixType" style="margin-bottom: 10px!important;">
                                                    <div class="body-left">
                                                        <label style="line-height: 37px; vertical-align: text-bottom;">@option.Option</label>
                                                    </div>
                                                    <div class="body-right" style="width: auto; padding: 0 5px;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <input type="radio" value="@option.OptionId~Yes" name="@option.OptionId" data-answwerid="@option.OptionId" data-maxresponsescount="@option.MaxResponsesCount" />
                                                                <input type="hidden" class="skip" value="@option.SkipQuestionId" data-isskip="@Convert.ToString(option.IsSkip)" />
                                                            </span>
                                                            <label class="form-control" for="admin">Yes</label>
                                                        </div>
                                                    </div>
                                                    <div class="body-right" style="width: auto; padding: 0 5px;">
                                                        <div class="input-group inputgrp">
                                                            <span class="input-group-addon">
                                                                <input type="radio" value="@option.OptionId~No" name="@option.OptionId" data-answwerid="@option.OptionId" data-maxresponsescount="@option.MaxResponsesCount" />
                                                                <input type="hidden" class="skip" value="@option.SkipQuestionId" data-isskip="@Convert.ToString(option.IsSkip)" />
                                                            </span>
                                                            <label class="form-control" for="admin">No</label>
                                                        </div>
                                                    </div>
                                                    @*Separate Required for Matrix Type Questions*@
                                                </div>
                                                <div class="clearfix">
                                                    <div class="col-md-12">
                                                        <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                                    </div>
                                                </div>
                                            }

                                            @*else if (question.QuestionTypeId == 8) //Single Punch Matrix Type
                                                {
                                                    if (countCol == 0)
                                                    {
                                                    <div class="matrixType table-row">
                                                        <div class="head-left">
                                                          222 <label>@question.OptionsCaption</label>
                                                        </div>
                                                        @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                                        {
                                                            foreach (var col in question.lstMatrixTypeModel)
                                                            {
                                                            <div class="head-right">
                                                                <label>111 @col.ColumnName</label>
                                                            </div>
                                                            }
                                                        }
                                                        <div>
                                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                                        </div>
                                                    </div>
                                                        countCol++;
                                                    }
                                                    <div class="matrixType table-row">
                                                        <div class="body-left">
                                                          333  <label>@option.Option</label>
                                                        </div>
                                                        @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                                        {
                                                            foreach (var col in question.lstMatrixTypeModel)
                                                            {
                                                            <div class="body-right">
                                                           444   <input type="radio" value="@option.OptionId~@col.Id" name="singleMatrix_@option.OptionId" data-name="@col.Id" data-answwerId="@col.Id" data-optionId="@option.OptionId" data-maxResponsesCount="@option.MaxResponsesCount" data-TypeIdYes="6" data-IsValueYes="" data-quotaOtherIdYes="" />
                                                                <input type="hidden" class="skip" value="@option.SkipQuestionId" data-isSkip="@Convert.ToString(option.IsSkip)" />
                                                            </div>

                                                            }
                                                            SinglePunchMatrix += 1;
                                                        }
                                                        <div>
                                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                                        </div>
                                                    </div>
                                                }*@



                                            else if (question.QuestionTypeId == 9) //Range Matrix Type Question
                                            {
                                                if (countCol == 0)
                                                {
                                                    <div class="matrixType table-row">
                                                        <div class="head-left">
                                                            <label>@question.OptionsCaption</label>
                                                        </div>
                                                        @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                                        {
                                                            foreach (var col in question.lstMatrixTypeModel)
                                                            {
                                                                <div class="head-right" style="text-align: center;">
                                                                    <label>@col.ColumnName</label>
                                                                </div>
                                                            }
                                                        }
                                                        <div>
                                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                                        </div>
                                                    </div>
                                                    countCol++;
                                                }
                                                <div class="matrixType table-row">
                                                    <div class="body-left">
                                                        <label>@option.Option</label>
                                                    </div>
                                                    @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                                    {
                                                        foreach (var col in question.lstMatrixTypeModel)
                                                        {
                                                            <div class="body-right" style="text-align: center; vertical-align: top; padding: 2px!important;">
                                                                <input type="text" class="form-control" />
                                                                <input type="hidden" class="skip" value="@option.SkipQuestionId" data-isskip="@Convert.ToString(option.IsSkip)" />
                                                            </div>
                                                        }
                                                    }
                                                    <div>
                                                        <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                                    </div>
                                                </div>
                                            }

                                            else if (question.QuestionTypeId == 10) //Single punch type answer horizontal position
                                            {
                                                if (countCol == 0)
                                                {
                                                    <div class="matrixType table-row">
                                                        <div class="head-left">
                                                            <label>@question.OptionsCaption</label>
                                                        </div>
                                                        @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                                        {
                                                            foreach (var col in question.lstMatrixTypeModel)
                                                            {
                                                                <div class="head-right" style="text-align: center;">
                                                                    <label>@col.ColumnName</label>
                                                                </div>
                                                            }
                                                        }
                                                        <div>
                                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                                        </div>
                                                    </div>
                                                    countCol++;
                                                }
                                                <div class="matrixType table-row">
                                                    <div class="body-left">
                                                        <label>@option.Option</label>
                                                    </div>
                                                    @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                                    {

                                                        foreach (var col in question.lstMatrixTypeModel)
                                                        {
                                                            <div class="body-right" style="vertical-align: top; text-align: center;">
                                                                <input type="radio" value="@option.OptionId~@col.Id" name="singleHorizontal_@singleHorizontalCol" data-name="@col.Id" data-answwerid="@col.Id" data-optionid="@option.OptionId" data-maxresponsescount="@option.MaxResponsesCount" data-typeidyes="6" data-isvalueyes="" data-quotaotheridyes="" />
                                                                <input type="hidden" class="skip" value="@option.SkipQuestionId" data-isskip="@Convert.ToString(option.IsSkip)" />
                                                            </div>
                                                        }
                                                        singleHorizontalCol += 1;
                                                    }
                                                    <div>
                                                        <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                                    </div>
                                                </div>
                                            }
                                            else if (question.QuestionTypeId == 11) //Multiple punch type answer horizontal position
                                            {
                                                if (countCol == 0)
                                                {
                                                    <div class="matrixType table-row">
                                                        <div class="head-left">
                                                            <label>@question.OptionsCaption</label>
                                                        </div>
                                                        @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                                        {
                                                            foreach (var col in question.lstMatrixTypeModel)
                                                            {
                                                                <div class="head-right" style="text-align: center; vertical-align: middle;">
                                                                    <label>@col.ColumnName</label>
                                                                </div>
                                                            }
                                                        }
                                                        <div>
                                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                                        </div>
                                                    </div>
                                                    countCol++;
                                                }
                                                <div class="matrixType table-row">
                                                    <div class="body-left">
                                                        <label>@option.Option</label>
                                                    </div>
                                                    @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                                    {
                                                        foreach (var col in question.lstMatrixTypeModel)
                                                        {
                                                            <div class="body-right" style="vertical-align: top; text-align: center;">
                                                                <input type="checkbox" value="@option.OptionId~@col.Id" name="multiHorizontal_@multiHorizontalCol" data-name="@col.Id" data-answwerid="@col.Id" data-optionid="@option.OptionId" data-maxresponsescount="@option.MaxResponsesCount" data-typeidyes="6" data-isvalueyes="" data-quotaotheridyes="" class="radiotype" />
                                                                <input type="hidden" class="skip" value="@option.SkipQuestionId" data-isskip="@Convert.ToString(option.IsSkip)" />
                                                            </div>
                                                        }
                                                        multiHorizontalCol += 1;
                                                    }
                                                    <div>
                                                        <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                                    </div>
                                                </div>
                                            }
                                            else if (question.QuestionTypeId == 12) //Rank order type question
                                            {
                                                if (countCol == 0)
                                                {
                                                    <div class="matrixType table-row">
                                                        <div class="head-left">
                                                            <label>@question.OptionsCaption</label>
                                                        </div>
                                                        @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                                        {
                                                            foreach (var col in question.lstMatrixTypeModel)
                                                            {
                                                                <div class="head-right">
                                                                    <label>@col.ColumnName</label>
                                                                </div>
                                                            }
                                                        }
                                                        <div>
                                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                                        </div>
                                                    </div>
                                                    countCol++;
                                                }
                                                <div class="matrixType table-row">
                                                    <div class="body-left">
                                                        <label>@option.Option</label>
                                                    </div>
                                                    @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                                    {
                                                        foreach (var col in question.lstMatrixTypeModel)
                                                        {
                                                            <div class="body-right">
                                                                <input type="radio" value="@option.OptionId~@col.Id" name="rank_@col.Id" data-name="@col.Id" data-answwerid="@col.Id" data-optionid="@option.OptionId" data-maxresponsescount="@option.MaxResponsesCount" data-typeidyes="6" data-isvalueyes="" data-quotaotheridyes="" />
                                                                <input type="hidden" class="skip" value="@option.SkipQuestionId" data-isskip="@Convert.ToString(option.IsSkip)" />
                                                            </div>
                                                        }
                                                        RankOrderCol += 1;
                                                    }
                                                    <div>
                                                        <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                                    </div>
                                                </div>
                                            }
                                            else if (question.QuestionTypeId == 13) //KANO Model Matrix type question
                                            {
                                                if (countCol == 0)
                                                {
                                                    <div class="matrixType type-13" style="background-color: #dbe5f1; border: 1px solid;">
                                                        <div class="head-left" style="min-width: 174px;">
                                                            <label>@question.OptionsCaption</label>
                                                        </div>
                                                        @if (question.lstMatrixTypeGroup != null && question.lstMatrixTypeGroup.Count > 0)
                                                        {
                                                            foreach (var grp in question.lstMatrixTypeGroup)
                                                            {
                                                                if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                                                {
                                                                    <div class="head-right" style="width: 50% !important; border-right: 1px solid #000; max-width: none;">
                                                                        <span style="display: block; text-align: center;">@grp.GroupCaption</span>
                                                                        @foreach (var col in question.lstMatrixTypeModel)
                                                                        {
                                                                            if (grp.Id == col.GroupId)
                                                                            {
                                                                                <div style="display: table-cell!important; width: 78px;word-break:break-all; vertical-align: baseline; float: left; box-sizing: border-box; text-align: center; font-size: 11px; font-weight: 600; padding: 5px 0!important;">
                                                                                    <label>@col.ColumnName</label>
                                                                                </div>
                                                                            }
                                                                        }
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                        <div>
                                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                                        </div>
                                                    </div>
                                                    countCol++;
                                                }
                                                <div class="matrixType table-row" style="@((countCol++) % 2 == 0 ? "background-color:#dbe5f1;" : "")">
                                                    <div class="body-left" style="border-left: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0);">
                                                        <label>@option.Option</label>
                                                    </div>
                                                    @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                                    {
                                                        int columnsCount = question.lstMatrixTypeModel.Count;
                                                        int halfCount = columnsCount / 2;
                                                        int startCount = 1;
                                                        bool colSeparatorMarker = true;

                                                        foreach (var col in question.lstMatrixTypeModel)
                                                        {

                                                            <div class="body-right" style="max-width:80px; word-break:break-all;text-align: center; border-right: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0);">
                                                                <input type="radio" value="@option.OptionId~@col.Id" name="Kano_@(startCount <= halfCount ? KanoCol + "_YES" : KanoCol + "_NO")" data-name="@col.Id" data-answwerid="@col.Id" data-optionid="@option.OptionId" data-maxresponsescount="@option.MaxResponsesCount" data-typeidyes="6" data-isvalueyes="" data-quotaotheridyes="" />
                                                                <input type="hidden" class="skip" value="@option.SkipQuestionId" data-isskip="@Convert.ToString(option.IsSkip)" />
                                                            </div>
                                                            startCount = startCount + 1;

                                                        }
                                                        KanoCol += 1;
                                                    }
                                                    <div>
                                                        <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                                    </div>
                                                </div>
                                            }
                                            else if (question.QuestionTypeId == 14) //Dropdown Matrix type question
                                            {
                                                if (countCol == 0)
                                                {
                                                    <div class="matrixType table-row">
                                                        <div class="head-left">
                                                            <label>@question.OptionsCaption</label>
                                                        </div>
                                                        @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                                        {
                                                            foreach (var col in question.lstMatrixTypeModel)
                                                            {
                                                                <div class="head-right">
                                                                    <label>@col.ColumnName</label>
                                                                </div>
                                                            }
                                                        }
                                                        <div>
                                                            <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                                        </div>
                                                    </div>
                                                    countCol++;
                                                }
                                                <div class="matrixType table-row">
                                                    <div class="body-left">
                                                        <label>@option.Option</label>
                                                    </div>
                                                    @if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                                    {
                                                        foreach (var col in question.lstMatrixTypeModel)
                                                        {
                                                            if (question.lstDDlMatrixModel != null && question.lstDDlMatrixModel.Count > 0)
                                                            {
                                                                <div class="body-right">
                                                                    <select>
                                                                        @foreach (var opt in question.lstDDlMatrixModel)
                                                                        {
                                                                            <option value="@opt.Id" data-valformat="@option.OptionId*@opt.Id~@col.Id">@opt.OptionName</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                                DDLCol += 1;
                                                            }
                                                        }
                                                    }
                                                    <div>
                                                        <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                                    </div>
                                                </div>
                                            }
                                            else if (question.QuestionTypeId == 16) //Description type question
                                            {

                                            }
                                        </div>
                                    }
                                }
                            }

                            else if (question.QuestionTypeId == 8) //Single Punch Matrix Type
                            {

                                if (question.lstMatrixTypeModel != null && question.lstMatrixTypeModel.Count > 0)
                                {
                                    foreach (var col in question.lstMatrixTypeModel)
                                    {
                                        <div class="container-fluid table-row">
                                            @if (countCol == 0)
                                            {
                                                <div class="matrixType table-row">
                                                    <div class="head-left">

                                                        <label>@question.OptionsCaption</label>
                                                    </div>
                                                    @if (question.lstOptionsModel != null && question.lstOptionsModel.Count > 0)
                                                    {
                                                        foreach (var option in question.lstOptionsModel)
                                                        {
                                                            <div class="head-right">
                                                                <label>@option.Option</label>
                                                            </div>
                                                        }
                                                    }
                                                    <div>
                                                        <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                                    </div>
                                                </div>
                                                countCol++;
                                            }
                                            <div class="matrixType table-row">

                                                <div class="body-left">
                                                    <label> @col.ColumnName</label>
                                                </div>
                                                @if (question.lstOptionsModel != null && question.lstOptionsModel.Count > 0)
                                                {
                                                    foreach (var option in question.lstOptionsModel)
                                                    {
                                                        <div class="body-right">
                                                            <input type="radio" value="@option.OptionId~@col.Id" name="singleMatrix_@col.Id" data-name="@col.Id" data-answwerid="@col.Id" data-optionid="@option.OptionId" data-maxresponsescount="@option.MaxResponsesCount" data-typeidyes="6" data-isvalueyes="" data-quotaotheridyes="" />
                                                            <input type="hidden" class="skip" value="@option.SkipQuestionId" data-isskip="@Convert.ToString(option.IsSkip)" />
                                                        </div>
                                                    }
                                                    SinglePunchMatrix += 1;
                                                }
                                                <div>
                                                    <span style="display: none; font-size: 13px; line-height: 34px; color: #e80c4d;" class="radioSpanMat">*</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }

                            else
                            {
                                if (question.QuestionTypeId == 15)
                                {
                                    <div class="text-center">
                                        <div class="form-group circlediv" align="center">
                                            <div class="round-main" style="padding: 0 10px; display: inline-flex;">
                                                @for (int i = question.RangeMin; i <= question.RangeMax; i++)
                                                {
                                                    <a href="javascript:;" style="text-decoration: none">
                                                        <div class="circle" onclick="RangeClick(@i)">@i</div>
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="clearfix">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea rows="4" cols="50" placeholder="Write your answer." class="form-control @(question.QuestionTypeId == 3 ? "numeric" : "")"></textarea>
                                                @*<input type="text" placeholder="Write your answer."  class="form-control @(question.QuestionTypeId == 3 ? "numeric" : "")" />*@
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </table>

                    </div>

                </div>
            }
        }
        else
        {
            <p class="alert alert-danger" data-name="CommonNoRecordFound">No Record found</p>
        }

    </div>
</div>
<button type="button" id="btnSubmit" data-name="CommonSubmit" style="display: none;"></button>
<div class="modal fade" id="TextSurveyPopup" tabindex="-1" role="dialog" aria-labelledby="chooseLanguageLabel" aria-hidden="true">
    <div class="modal-dialog" style="z-index: 9999; position: relative;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-size: 16px; font-weight: 800; text-transform: capitalize;" id="proposalLabel" data-name="ProjectPreviewButtonTestSurvey">
                    Test Survey<br />
                </h4>

                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" style="margin-top: -22px;"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
            </div>
            <div class="modal-body" style="font-size: medium;">
                <div class="row">
                    <div id="partialTestSurvey"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-body label {
        margin-bottom: 6px;
    }

    /*.modal-dialog {

    }*/
</style>

<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {

        var projId = localStorage.getItem('TabProjectId');
        if (projId != null && projId != 'null') {
            $('#mailingTab').attr('href', GetPath('/Admin/ProjectMailing?id=' + projId + ''));
            $('#summaryTab').attr('href', GetPath('/Admin/ProjectSummary/' + projId + ''));
            $('#assignTab').attr('href', GetPath('/Admin/AssignSurveyToPanel/' + projId + ''));
        }

        $('.type-13').each(function () {
            $(this).find('.head-right:last').css({ 'border-right': '1px solid transparent' });
        });

        $('.close').on('click', function () {
            window.location.reload();
        });
        if (localStorage.getItem('redirectSurveyId') != 'null') {
            var id = localStorage.getItem('redirectSurveyId');

            localStorage.setItem('redirectSurveyId', null);
            if (id > 0) {
                OpenPartialView(id);
            }
        }
        ////document.getElementById("copyButton").addEventListener("click", function () {
        ////    copyToClipboard(document.getElementById("copyTarget"));
        ////});

        $('.numeric').on('keydown', function (e) {
            key = e.which
            if (key == 8 || key == 9 || key == 13 || key == 46 || key == 110 || (key >= 35 && key <= 40) || (key >= 48 && key <= 57) || (key >= 96 && key <= 105)) {

            }
            else { return false }
        });
    });
    $.noConflict();
    function OpenPartialView(id) {
        $.get(GetPath('/Admin/TestSurvey/' + id), id, function (r) {
            $('#partialTestSurvey').html(r);
        });
        $('#btnShowSurveyPopup').click();
    }

    function SurveyActiveSetting() {

        var ai = {
            ProjectId: $('#hdnProjId').val(),
            OpeningDate: $('#hdnOpenDate').val(),
            ClosingDate: $('#hdnCloseDate').val(),
            DisableQuestionNumbering: $('#hdnDisableQuesNo').val(),
            TestMode: $('#hdntestMode').val(),
            IsActive: $('#hdnActive').val(),
            Scored: $('#hdnScore').val(),
            PrevNextPageNavigation: $('#hdnPrevNextPageNevi').val(),
            ResumeOfProgress: $('#hdnResumeOfPro').val()
        };

        $.ajax({
            url: GetPath('/Admin/ProjectSettingsPreview'),
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(ai),
            contentType: 'application/json',
            success: function (resp) {
                var JsonData = JSON.parse(resp);
                if (JsonData.ActiveStatus == 'True') {
                    $('#btnActiveDisplay').text($('#btnActivated').val());
                    $('#btnActiveDisplay').removeClass('btn btn-danger');
                    $('#btnActiveDisplay').addClass('btn btn-primary');
                    $('#hdnActive').val('True');
                }
                else if (JsonData.ActiveStatus == 'False') {
                    $('#btnActiveDisplay').text($('#btnActive').val());
                    $('#btnActiveDisplay').removeClass('btn btn-primary');
                    $('#btnActiveDisplay').addClass('btn btn-danger');
                    $('#hdnActive').val('False');
                }

            },
            error: function (resp) { },
            complete: function (resp) { },
        });
    }
    function PreviewLaunchSurvey() {
        if ($('#btnActiveDisplay').hasClass('btn-danger')) {
            alert('Activate the survey first');
            return false;
        }
        else {
            if (confirm('Are you sure to launch the survey?')) {
                return true;
            }
            else {
                return false;
            }
        }
    }
    function PrintProject() {

        var originalContents = document.body.innerHTML;
        $('.removeAtPrintable').remove();
        $('#printProjectTitle').show();
        var printContents = document.getElementById('printableDiv').innerHTML;

        document.body.innerHTML = printContents;
        $(document.body).find('input[type=text]').each(function () {
            if ($(this).attr('placeholder') != '') {
                $(this).attr('placeholder', '');
            }
        });
        window.print();
        document.body.innerHTML = originalContents;
        $('#printProjectTitle').hide();
    }


    //function copyToClipboard(elem) {
    //    // create hidden text element, if it doesn't already exist
    //    var targetId = "_hiddenCopyText_";
    //    var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
    //    var origSelectionStart, origSelectionEnd;
    //    if (isInput) {
    //        // can just use the original source element for the selection and copy
    //        target = elem;
    //        origSelectionStart = elem.selectionStart;
    //        origSelectionEnd = elem.selectionEnd;
    //    } else {
    //        // must use a temporary form element for the selection and copy
    //        target = document.getElementById(targetId);
    //        if (!target) {
    //            var target = document.createElement("textarea");
    //            target.style.position = "absolute";
    //            target.style.left = "-9999px";
    //            target.style.top = "0";
    //            target.id = targetId;
    //            document.body.appendChild(target);
    //        }
    //        target.textContent = elem.textContent;
    //    }
    //    // select the content
    //    var currentFocus = document.activeElement;
    //    target.focus();
    //    target.setSelectionRange(0, target.value.length);

    //    // copy the selection
    //    var succeed;
    //    try {
    //        succeed = document.execCommand("copy");
    //    } catch (e) {
    //        succeed = false;
    //    }
    //    // restore original focus
    //    if (currentFocus && typeof currentFocus.focus === "function") {
    //        currentFocus.focus();
    //    }

    //    if (isInput) {
    //        // restore prior selection
    //        elem.setSelectionRange(origSelectionStart, origSelectionEnd);
    //    } else {
    //        // clear temporary content
    //        target.textContent = "";
    //    }
    //    return succeed;
    //}
</script>
