﻿@model SurveyProject.Models.ProjectQuestionGroupsModel
@{
    ViewBag.Title = "Question GroupList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<SurveyProject.Models.CreateQuestionModel> questionList = new List<SurveyProject.Models.CreateQuestionModel>();
    questionList = ViewBag.Questions;
}

<style type="text/css">
    .btn-primary {
        text-transform: capitalize;
    }


    .table-striped > thead > tr > th:nth-child(2) {
        width: 50%;
    }

    .table-responsive {
        overflow-x: auto;
        overflow-y: hidden;
    }
</style>

<div class="container-fluid">

    <div class="col-md-12 mobile-tab-main">
        <div class="mobile-tab">
            <nav class="mainNav">
              
                        <ul>
                            <li><a href="javascript:;" class="active" id="ques" data-name="tabbedQuestions">Questions</a></li>
                            <li><a href="javascript:;" id="createQues" data-name="CreateQuestions" data-id="15">Create Questions</a></li>
                            <li><a href="javascript:;" id="ans" data-name="tabbedAnswers">Answers</a></li>
                            <li><a href="javascript:;" id="quota" data-name="tabbedQuota">Quota</a></li>
                            <li><a href="javascript:;" id="displayOrder" data-name="tabbedManageDisplay">Manage Display</a></li>
                            <li><a href="javascript:;" id="displayOrderOption" data-name="tabbedManageDisplayOption">Manage Options</a></li>
                            <li><a href="javascript:;" id="delete" data-name="CommonDelete" data-id="2" style="display: none;" onclick="return confirm('Are you sure to delete ?')">Delete</a></li>
                            <li><a href="javascript:;" id="edit" data-name="CommonEdit">Edit</a></li>
                        </ul>
                   
            </nav>
        </div>
    </div>



    <div class="row hide-mobile-tab">
        <div class="col-md-12">
            <ul class="on-page-menu">
                <li><a href="javascript:;" class="active" id="ques" data-name="tabbedQuestions">Questions</a></li>
                 <li><a href="javascript:;" id="createQues" data-name="tabbedCreateQuestion" data-id="15">Create Questions</a></li>
                <li><a href="javascript:;" id="ans" data-name="tabbedAnswers">Answers</a></li>
                <li><a href="javascript:;" id="quota" data-name="tabbedQuota">Quota</a></li>
                <li><a href="javascript:;" id="displayOrder" data-name="tabbedManageDisplay">Manage Display</a></li>
                <li><a href="javascript:;" id="displayOrderOption" data-name="tabbedManageDisplayOption">Manage Options</a></li>
                <li class="pull-right"><a href="javascript:;" id="delete" data-name="CommonDelete" data-id="2" style="display: none;" onclick="return confirm('Are you sure to delete ?')">Delete</a></li>
                <li class="pull-right"><a href="javascript:;" id="edit" data-name="CommonEdit">Edit</a></li>
            </ul>
        </div>
   
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    } </div>
    
    <form action="@Url.Content("~/Admin/UpdateQuestionGroups")" method="post">
      <div class="row">
                <div class="col-md-12">  <a href="~/Admin/CreateQuestionGroup?Pid=@(ViewBag.ProjectId != null ? ViewBag.ProjectId : 0)" style="display:none; margin:0 0 15px 0px;" class="btn btn-primary createques" data-name="QuestionGroupListCreateQuestionGroup" data-id="15">Create Question Group</a></div></div>
       <div class="row">
                <div class="col-md-12"> @if (Model.groupList != null && Model.groupList.Count > 0)
        {
            var grid = new WebGrid(Model.groupList, canSort: false, canPage: true, rowsPerPage: 6, ajaxUpdateContainerId: "groupContent");
            int count = grid.PageIndex * 6 + 1;
            grid.Pager(WebGridPagerModes.All);
            
                    <div id="groupContent" class="table-responsive">
                        <div class="pagerDiv">
                            @grid.PagerList(WebGridPagerModes.All, firstText: "<< ", lastText: ">>", nextText: ">", previousText: "<")
                        </div>
                        @(new HtmlString(
                        grid.Table(
                        tableStyle: "table table-striped groups",
                        headerStyle: "",
                        alternatingRowStyle: "alt",
                        columns: grid.Columns(
                        grid.Column("Sr No.", format: @<text> @(count++)<span id="@(count)" style="display: none;">@item.GroupQuestions</span></text>),
                        grid.Column("GroupName", "Group Name"),
                        grid.Column("CreatedOn", "Created Date"),
                        grid.Column("ModifiedOn", "Modified Date"),
                        grid.Column("", "Action", format: @<text><a href="~/Admin/CreateQuestionGroup?Id=@item.Id" class="small-a" data-name="CommonEdit" data-id="@item.Id">Edit</a>&nbsp;|&nbsp; <a href="~/Admin/DeleteQuestionGroup?Id=@item.Id&Pid=@(ViewBag.ProjectId != null ? ViewBag.ProjectId : 0)" class="small-a" onclick="return confirm('Are you sure to delete ?')" data-name="CommonDelete">Delete</a>&nbsp;|&nbsp;<a href="javascript:;" onclick="return addQuestions('@(ViewBag.ProjectId != null ? ViewBag.ProjectId : 0)',this);" ><i class="fa fa-plus-square"></i></a></text>)
                        )).ToHtmlString()))
                        <div class="pagerDiv">
                            @grid.PagerList(WebGridPagerModes.All, firstText: "<< ", lastText: ">>", nextText: ">", previousText: "<")
                        </div>
                    </div>
                                 
        }
        else
        {
            <p class="alert alert-danger" data-name="PleaseAddGroups">Please Add Groups.</p>
        }
 </div>
            </div> 
        <a href="~/Admin/CreateQuestionGroup?Pid=@(ViewBag.ProjectId != null ? ViewBag.ProjectId : 0)" style="display:none; margin:0 0 15px 0px;" class="btn btn-primary createquestiongroup" data-name="QuestionGroupListCreateQuestionGroup" data-id="15">Create Question Group</a>
        <input type="hidden" id="hdnProjectId" name="hdnProjectId" value="@(ViewBag.ProjectId != null ? ViewBag.ProjectId : 0)" />
        <input type="hidden" id="hdngroupQuestions" name="hdngroupQuestions" value="" />
        <input type="submit" value="Save Groups" class="btn btn-primary" onclick="return makeXML();" style="margin-bottom: 14px;" />
    </form>
</div>

<button type="button" id="btnSelectQuestions" data-toggle="modal" data-target="#selectQuestionsPopup" style="display: none;"></button>
<div class="modal fade" id="selectQuestionsPopup" tabindex="-1" role="dialog" aria-labelledby="chooseLanguageLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-size: 16px; font-weight: 800; text-transform: capitalize;">Please Select Questions For&nbsp;<label id="groupName"></label>
                    <br />
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" style="margin-top: -22px;"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                </h4>
            </div>
            <div class="modal-body" style="font-size: medium;">
                <div id="QuestionsDiv">
                    @if (questionList != null && questionList.Count > 0)
                    {
                        <table class="table table-striped quest">
                            <thead>
                                <tr>
                                    <th>Question</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var question in questionList)
                                {
                                    <tr data-id="@question.QuestionId">
                                        <td>@question.QuestionTitle</td>
                                        <td>
                                            <input type="checkbox" class="chkQuestion" /></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">
                                        <button type="button" id="btnAddToGroup" onclick="return addToGroup();" class="btn btn-primary">Add To Group</button></td>
                                </tr>
                            </tfoot>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //$('#projectContent').find('.table>thead th:first').attr('data-name', 'CommonSrNo');
        //$('#projectContent').find('.table>thead th:nth-child(2)').attr('data-name', 'ProjctListProjectTitle');
        //$('#projectContent').find('.table>thead th:nth-child(3)').attr('data-name', 'ProjctListOwner');
        //$('#projectContent').find('.table>thead th:nth-child(4)').attr('data-name', 'ProjctListCreatedDate');
        //$('#projectContent').find('.table>thead th:nth-child(5)').attr('data-name', 'ProjctListCreatedBy');
        //$('#projectContent').find('.table>thead th:nth-child(6)').attr('data-name', 'ProjctListModifiedDate');
        //$('#projectContent').find('.table>thead th:nth-child(7)').attr('data-name', 'ProjctListModifiedBy');
    });
    var globalSerialNo = 0;
    function addQuestions(projectId, caller) {
        globalSerialNo = parseInt($(caller).parents('tr:first').children().eq(0).html());
        $('#groupName').text($(caller).parents('tr:first').children().eq(1).html());
        $('input.chkQuestion').removeAttr('checked');

        var row = $('table.groups >tbody> tr').eq(globalSerialNo - 1);
        var quesIds = $(row).children().eq(0).children().eq(0).text().split(',');

        $('table.quest > tbody > tr').each(function () {
            var questTablerowQuesId = $(this).attr('data-id');
            var questRow = $(this);
            $('table.groups >tbody> tr').each(function () {

                if ($(this).children().eq(0).find('span').length > 0) {
                    var groupTableIds = $(this).children().eq(0).children().eq(0).html().trim(',').split(',');
                    if (groupTableIds.lastIndexOf(questTablerowQuesId) != -1) {
                        $(questRow).hide();
                    }
                }

            });
            if (quesIds.indexOf($(this).attr('data-id')) != -1) {
                $(this).children().eq(1).children().eq(0).prop('checked', true);
                $(this).show();
            }
        });
        $('#btnSelectQuestions').click();
    }

    function addToGroup() {
        var row = $('table.groups >tbody> tr').eq(globalSerialNo - 1);
        var selectedQuesIds = '';
        $('input.chkQuestion').each(function () {
            if ($(this).is(':checked')) {
                selectedQuesIds += $(this).parents('tr:first').attr('data-id') + ',';
                $(this).parents('tr:first').hide();
            }
        });
        var span = '<span id="' + globalSerialNo + '" style="display:none;">' + selectedQuesIds + '</span>';
        $(row).children().eq(0).find('span').each(function () {
            $(this).remove();
        });

        if (selectedQuesIds.trim(' ').length > 0) {
            $(row).children().eq(0).append(span);
        }
        $('button.close').click();
    }

    function makeXML() {
        var xmlData = '<Root>';
        $('table.groups >tbody> tr').each(function () {
            if ($(this).children().eq(0).find('span').length > 0) {
                var IdsHtml = $(this).children().eq(0).children().eq(0).html();
                IdsHtml = IdsHtml.toString().substring(0, IdsHtml.lastIndexOf(','));
                var quesIds = IdsHtml.split(',');
                for (var i = 0; i <= quesIds.length - 1; i++) {
                    xmlData += '<Group><QuestionId>' + quesIds[i] + '</QuestionId><GroupId>' + $(this).children().eq(4).children().eq(0).attr('data-id') + '</GroupId></Group>';
                }
            }
        })
        xmlData += '</Root>';
        $('#hdngroupQuestions').val(xmlData);
        //alert(xmlData);
        //return false;
    }

</script>
