﻿@model SurveyProject.Models.ManageAdminModel
@{
    ViewBag.Title = "Role Error";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-heading">Access Denied !</h2>
            <p class="alert alert-danger">You don't have sufficient permission to perform this action !</p>
        </div>
    </div>
    <div class="row" style="display:none;">
        <div class="col-md-12 col-sm-12">
            <p class="alert alert-info">You have permission for the following tasks only.</p>
            <p class="checklist">
                @if (Model.roleList != null && Model.roleList.Count > 0)
                {
                    foreach (var item in Model.roleList)
                    {
                    <label for="roleId_@item.RoleId">@item.RoleName</label>
                    }
                }
            </p>
        </div>
    </div>
</div>
