﻿@model SurveyProject.Models.CreateProjectModel
@{
    ViewBag.Title = "Create Project";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="@Url.Content("~/Content/Sortable/devheart-examples.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Sortable/style.css")" rel="stylesheet" />
<style type="text/css">
    .sortable-list {
        background-color: #fff; /*rgb(233, 233, 233);*/
        overflow: hidden;
        clear: both;
    }

    /*.sortable-item {
        background-color: rgb(0,148,255);
        padding: 10px 0!important;
        width: calc(25% - 10px);
        margin: 5px;
        float: left;
        min-height: 200px;
    }*/

    /*.placeholder {
        min-height: 200px;
    }*/

    #btnChange {
        margin: 10px 0;
    }

    hr {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .btn-primary {
        text-transform: capitalize;
    }

    .btn-danger {
        text-transform: capitalize;
    }

    .modal-body label {
        margin-bottom: 6px;
    }

    #ProjectName {
        text-transform: capitalize;
    }
</style>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="on-page-menu">
                <li><a href="javascript:;" class="active" data-name="ProjectSettings">Project Settings</a></li>
            </ul>
            <section class="gen-section" id="superProjectDiv">
                @using (Html.BeginForm("CreateSuperProject", "Admin", FormMethod.Post, new { @id = "userForm", role = "form" }))
                {
                    <div class="form-horizontal">
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.LanguageId)
                        @Html.HiddenFor(m => m.SuperProjectName)
                        <div class="form-group">
                            <label data-name="ProjectSettingsOpeningDate" class="col-md-3 control-label stlabel">Opening Date</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.SuperProjectOpeningDate, new { @class = "form-control", @title = "Project Title" })
                                @Html.ValidationMessageFor(m => m.SuperProjectOpeningDate)
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-name="ProjectSettingsClosingDate" class="col-md-3 control-label stlabel">Closing Date</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.SuperProjectClosingDate, new { @class = "form-control", @title = "Project Title" })
                                @Html.ValidationMessageFor(m => m.SuperProjectClosingDate)
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-name="RandomizeSurveys" class="col-md-3 control-label stlabel">Randomize Surveys</label>
                            <div class="col-md-9">
                                @Html.CheckBoxFor(m => m.SuperProjectIsRandomizeSurveys, new { @class = "form-control", @title = "Project Title" })
                                @Html.ValidationMessageFor(m => m.SuperProjectIsRandomizeSurveys)
                            </div>
                            <a href="javascript:;" id="btnFixedRandom" style="margin-left: 70px;"><i class="fa fa-lock"></i>&nbsp;<span data-name="FixedRandomOrder">Fixed Random Order</span></a>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="button" id="btnTestSuperSurvey" class="btn btn-primary" onclick="return OpenPartialView();" data-toggle="modal" data-target="#TextSurveyPopup"><span data-name="TestSuperSurvey">Test Project</span></button>
                                @* <button type="button"  style="display: none;" id="btnShowSurveyPopup"></button>*@
                                <input id="btnnSubmit" type="submit" value="@(Model.Id > 0 ? "Update" : "Save")" class="btn btn-primary pull-right" data-name="@(Model.Id > 0 ? "CommonUpdate" : "CommonSave")" />
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>

<div class="alert alert-success" style="display: none;" id="successDiv"></div>
<div class="alert alert-danger" style="display: none;" id="errorDiv"></div>

<div id="allSubSurvey" style="border: double; display:none;">
    @if (Model.ProjectList != null && Model.ProjectList.Count > 0)
    {
        <div class="dhe-example-section-content" style="background-color: #f93;">
            <div id="example-1-1">
                <ul class="sortable-list ui-sortable">
                    @foreach (var item in Model.ProjectList)
                    {
                        <li class="sortable-item sortableUl" data-projectId="@item.Id">
                            <ul style="line-height: 30px;">
                                <li title="@item.ProjectName">
                                    @(item.ProjectName.Length > 20 ? item.ProjectName.Substring(0, 20) + "..." : item.ProjectName)
                            </li>
                        </ul>
                    </li>
                }
                </ul>
            </div>
            <button id="btnChange" onclick="SaveSurveysDisplayOrder();" class="btn btn-primary applybtn pull-right" data-name="CommonSave">Save</button>
        </div>
    }
    else
    {
        <p data-name="CommonNoRecordFound" class="alert alert-danger">No Record Found</p>
    }
</div>


<div class="modal fade" id="TextSurveyPopup" tabindex="-1" role="dialog" aria-labelledby="chooseLanguageLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-size: 16px; font-weight: 800; text-transform: capitalize;" id="proposalLabel" data-name="ProjectPreviewButtonTestSurvey">
                    Test Survey<br />
                </h4>
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" style="margin-top: -22px;"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
            </div>
            <div class="modal-body" style="font-size: medium;">
                <div class="row">
                    <div id="partialTestSurvey"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Content/DatePicker/jquery-1.11.1.min.js")"></script>
<script src="@Url.Content("~/Content/DatePicker/ui.min.1.11.0.min.js")"></script>
<script src="@Url.Content("~/Content/DatePicker/jquery-ui-timepicker-addon.js")"></script>
<script>
    var subSurveysArray = [];
    var currentIndex = 0;
    var totallength = 0;

    $(document).ready(function () {
        $.noConflict();

        //-------Randomize sub survey
        var icon = $('#btnFixedRandom').find('i');
        if ($('#SuperProjectIsRandomizeSurveys').is(':checked')) {
            $('#allSubSurvey').css('display', 'none');
            $(icon).attr('class', 'fa fa-lock');
        }
        else {
            $('#allSubSurvey').css('display', 'block');
            $(icon).attr('class', 'fa fa-unlock');
        }
        $('#btnFixedRandom').on('click', function () {
            if ($('#allSubSurvey').is(':visible')) {
                $(icon).attr('class', 'fa fa-lock');
            }
            else {
                $(icon).attr('class', 'fa fa-unlock');
            }
            $("#allSubSurvey").toggle();

        });

        $('#example-1-1 .sortable-list').sortable({ placeholder: 'placeholder' });
        $('#SuperProjectIsRandomizeSurveys').on('change', function () {

            if ($('#SuperProjectIsRandomizeSurveys').is(':checked')) {
                $('#allSubSurvey').css('display', 'none');
                $(icon).attr('class', 'fa fa-lock');
            }
            else {
                $('#allSubSurvey').css('display', 'block');
                $(icon).attr('class', 'fa fa-unlock');
            }
        });
        var dateToday = new Date();
        $('#SuperProjectOpeningDate').datepicker({
            //dateFormat: "MM/dd/yyyy",
            minDate: dateToday,
            onSelect: function (date) {
                var date2 = $('#SuperProjectOpeningDate').datepicker('getDate');
                date2.setDate(date2.getDate() + 1);
                $('#SuperProjectClosingDate').datepicker('setDate', date2);
                //sets minDate to dt1 date + 1
                $('#SuperProjectClosingDate').datepicker('option', 'minDate', date2);
            }
        });
        $('#SuperProjectClosingDate').datepicker({
            // dateFormat: "MM/dd/yyyy",
            onClose: function () {
                var dt1 = $('#SuperProjectOpeningDate').datepicker('getDate');
                var dt2 = $('#SuperProjectClosingDate').datepicker('getDate');
                //check to prevent a user from entering a date below date of dt1
                if (dt2 <= dt1) {
                    var minDate = $('#SuperProjectClosingDate').datepicker('option', 'minDate');
                    $('#SuperProjectClosingDate').datepicker('setDate', minDate);
                }
            }
        });


        // Get all the SubSurvey Ids for Super Survey Preview in an Array
        subSurveysString = '@TempData["SubSurveyIds"]';
        subSurveysArray = subSurveysString.split(',');
        currentIndex = 0;
        totallength = parseInt(subSurveysArray.length);
    });

    function SaveSurveysDisplayOrder() {
        var str = "";
        var count = 1;
        $('li.sortableUl').each(function () {
            str += $(this).attr('data-projectid') + "-" + count + ",";
            count++;
        });

        $.ajax({
            url: GetPath('/Admin/UpdateProjectDisplayOrder'),
            type: 'POST',
            data: "{\"SurveyDispOrder\":" + "\"" + str + "\"}",
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                var jsonData = JSON.parse(data);
                if (jsonData.Status == 1) {
                    $('#successDiv').show();
                    $('#errorDiv').hide();
                    $('#successDiv').html(jsonData.Message);
                }
                else if (jsonData.Status == -1) {
                    $('#errorDiv').show();
                    $('#successDiv').hide();
                    $('#errorDiv').html(jsonData.Message);
                }
            },
            error: function (data)
            { },
            complete: function (data)
            { }

        });
    }

    function showNextSubSurvey() {

        if (parseInt(currentIndex) < parseInt(totallength)) {
            OpenPartialView();
        }
        else {
            window.location.reload();
        }
    }

    function OpenPartialView() {
        console.log(subSurveysArray);
        var id = subSurveysArray[currentIndex].split('-')[0];
        $.get(GetPath('/Admin/TestSurvey/' + id), id, function (r) {
            $('#partialTestSurvey').html(r);
            //$('#productNamePara').html('Here is your product # ' + subSurveysArray[currentIndex].split('-')[1]);
            currentIndex = currentIndex + 1;
        });

    }
</script>

