﻿@{
    ViewBag.Title = "About";
}

<link href=""@Url.Content("~/Content/CSS/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/responsive.css")" rel="stylesheet" />
<style>
   
        .header {
            box-shadow: 0 2px rgba(0,0,0,.6) inset;
            box-shadow: 0 -2px rgba(0,0,0,.4) inset;
            padding-bottom: 10px;
        }
    body {
        background: #f5f5f5;
    }
   
</style>
<div class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>About us</h2>
                <div class="panel panel-default">
               <div class="panel-heading"> <h5>ABOUT xKubuni™</h5></div>
              <div class="panel-body">  <h6>xKubuni™ isxDesign Metrics’ research engine. It’s a cloud-based experimental design platform created by blending the talents of outstanding analytical and quantitative professionals with the very best mathematical modeling techniques to determine the true drivers of interest and persuasion. The platform is built for professional market researchers and R&D staffs, enabling them to improve everything from business hiring processes to marketing efforts and to control all phases of the development process (ideation, design, fielding, data collection, and analysis and data table report).</h6></div>
</div>
            </div>
        </div>
    </div>
</div>
<div class="about">
    <div class="container-fluid">


        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                   <div class="panel-heading"> <h5>Why xKubuni™?</h5></div>
               <div class="panel-body">   <h6>xKubuni™ makes it possible to customize consumer research to offer solutions to businesses with superior product concepts and optimal product formulations in all industries.  Rapidly and cost- effectively. xKubuni™also helps bridge the communication gap that can exist between statisticians and management, allowing the client to refine the development and presentation of their existing -- or new and in-development -- products and service offerings. xKubuni™ empowers companies and other users to shift the data paradigm from reactive to proactive.</h6></div></div>
            </div>
        </div>
    </div>
</div>
<div class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
              <div class="panel-heading">  <h5>How does xKubuni™ do it?</h5></div>
                <div class="panel-body"><h6>Simply put, xKubuni™ is designed to help businesses and organizations identify the most compelling messages that drive consumer interest usingstatistical protocols such as regression modeling.</h6></div>
</div>
            </div>
        </div>
    </div>
</div>
