﻿@{
    ViewBag.Title = "FAQ";
}
<link href="@Url.Content("~/Content/CSS/style.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/responsive.css")" rel="stylesheet" />
<style>
    .header {
        box-shadow: 0 2px rgba(0,0,0,.6) inset;
        box-shadow: 0 -2px rgba(0,0,0,.4) inset;
        padding-bottom: 10px;
    }

    body {
        background: #f5f5f5;
    }
</style>

<div class="faq">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>FAQ</h2>
                <h4>General FAQs
                </h4>
                <h5>What is done with the Profile Information i gave when i signing up?</h5>
                <h6>Your response data is stored on our secured server that allows only the panel to call upon those panelists who match specific criteria to participate in surveys. This query is completely automated and panelists are contacted via email by the panel to participate in our secure surveys. All responses are held in aggregate, which means that individual responses are not linked to personally identifiable information. The information you provide will never be used to advertise or selling purposes. You are not responsible for buying any product or service at any time, nor will any company solicit you as a result of joining the panel.-</h6>
            </div>
        </div>
    </div>
</div>
<div class="faq">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <h5>Why am I asked questions about age, income, and other personal information? </h5>
                <h6>This information is used to match panelists with specific survey requirements. In some cases, our clients require feedback from people in a certain income bracket who have children, for example. Please be assured that this information is securely kept and strictly confidential. See our privacy policy for more details. The more information you provide, the greater your chances of receiving invitations to surveys you may qualify for, and the more opportunities you may receive to earn cash rewards.</h6>
            </div>
        </div>
    </div>
</div>
<div class="faq">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4>Surveys FAQs
                </h4>
                <h5>I tried to take a survey, but I didn't qualify. Why not?</h5>
                <h6>Sometimes a survey demands respondents who meet very specific criteria. This is because our clients might require feedback from a specific age group or people who use a particular type of product. To increase your chances for qualifying for future online surveys, complete all of the member profiles.</h6>
            </div>
        </div>
    </div>
</div>
<div class="faq">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


                <h5>Where will you send me the prize that I win?</h5>
                <h6>Prize / Rewards will be sent only at the address that you have provided in your registration form. Do update your address record in "Account settings" as soon as you move. Also, please make sure that your address is accurate so that your vouchers / rewards can be shipped at the right address.

                </h6>
            </div>
        </div>
    </div>
</div>
<div class="faq">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


                <h5>How do you know if my responses are accurate?</h5>
                <h6>We build in checks / balances / algorithms within the survey to check the accuracy of the responses. We also look at time that it takes to fill responses in order to know whether your response is genuine or not.</h6>
            </div>
        </div>
    </div>
</div>
<div class="faq">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <h4>Membership FAQs
                </h4>
                <h5>What is the concept of xKubuni™ ?</h5>
                <h6>Your response data is stored on Over the years, valuable consumer opinions have help shape business decision. xKubuni™ is an online survey panel where consumers (henceforth called Panelists) join hands to shape and develop products and services surveys launched by brand-owners. The xKubuni™ panelists are primarily from India, and represent a wide spectrum of age, income and professional attributes.</h6>
            </div>
        </div>
    </div>
</div>
<div class="faq">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


                <h5>Why should I join xKubuni™ if I am a customer?</h5>
                <h6>You are a customer and have an opinion. Your opinion matters. And now we give you an opportunity to mint your opinion every time you express it.

Your valuable opinion and suggestion about products or services will be of immense help to shape the products and services you want and need. On becoming a part of the xKubuni™ family, you get:

Power to choose or change - An opportunity to customize the products and services you use
Rewards for your opinion - Yes, you earn reward points for each survey you fill.
You can also earn REWARD POINTS from referrals.</h6>
            </div>
        </div>
    </div>
</div>
<div class="faq">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


                <h5>How can I become the member of xKubuni™ ?</h5>
                <h6>You can become a member by completing a short registration form and accepting our invitation to join the panel. Completing 'About me' profile in 'My Profile' is critical for any panelist to be eligible for our weekly sweepstake. This will take about 2 minutes to complete. If you choose to be an online panelist, you can then continue on to complete the main profile.</h6>
            </div>
        </div>
    </div>
</div>
<div class="faq">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


                <h5>Is there a joining fee?</h5>
                <h6>There is NO joining fee. Membership is free.</h6>
            </div>
        </div>
    </div>
</div>
<div class="faq">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <h4>Rewards FAQs
                </h4>
                <h5>What are REWARD POINTS and how can I earn them?</h5>
                <h6>Each reward point is equal to Re 1/-

Based on your personal information, we will send across relevant surveys to you. As soon as you successfully complete a survey, you will earn anywhere between 20 and 2000 reward points and / or also eligible for monthly sweepstakes.

Each reward point is equal to Re 1/-. Once you collect 200 or more Reward Points in your account,you can redeem them against-</h6>
                <ul>
                    <li>Discount Coupons</li>
                    <li>Your choice of a gift item from a list that will be provided to you
                    </li>
                    <li>Payment to a charity of your choice from a list that will be provided to you</li>
                    <li>Gift vouchers of leading retail stores, like Apparels, Books and stationary, Footwear, Kids Zones, Toys and baby products, Pharmacy, Coffee Shops, Restaurants and Grocery stores.</li>
                </ul>
            </div>
        </div>
    </div>
</div>


@*<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.jqplot.min.js"></script>
<link href="~/Scripts/jquery.jqplot.css" rel="stylesheet" />


<h1>My Hello World Chart</h1>
<div id="div_report" style="height: 300px; width: 400px;"></div>

<script>
    var xy = [[1, 2], [4, 5.12], [5, 15.9], [7, 12.6], [9, 22.9], [11, 219.9]];
</script>
<script>
    $.jqplot('div_report', [xy],
    {
        title: 'Exponential Line',
        axes: { yaxis: { min: -10, max: 240 } },
        legend: {
            labels: ['UI Tutorial Data'],
            renderer: $.jqplot.EnhancedLegendRenderer,
            show: true
        },
        series: [{ color: '#5FAB78' }]
    });
</script>*@
