﻿@{
    ViewBag.Title = "PrivacyPolicy";
}
<style>
    .inner_txtbox h1 {
        font-size: 20px;
        margin: 10px 0;
        padding-bottom: 10px;
        margin-top: 20px;
        border-bottom: 2px solid #ccc;
        color: #2980b9;
    }

    .inner_txtbox h2 {
        font-size: 18px;
        margin: 10px 0;
        margin-top: 30px;
        padding-bottom: 10px;
        color: #2980b9;
        border-bottom: 2px solid #ccc;
    }

    .inner_txtbox p, .inner_txtbox ul li {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 18px;
    }

    .inner_txtbox ul li {
        list-style-type: square;
        margin-left: 15px;
    }
    .header {
            box-shadow: 0 2px rgba(0,0,0,.6) inset;
            box-shadow: 0 -2px rgba(0,0,0,.4) inset;
            padding-bottom: 10px;
        }
    body {
        background: #f5f5f5;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="left_content_box">
                <div class="inner_txtbox">
                    <h1>Privacy Policy</h1>
                    <p>We, at xKubuni™ thank you for trusting us with your personal information. We respect your privacy and are committed to safe use of information shared by you. To better protect your privacy, we provide this statement explaining our online information practices and the choices you can make about the way your information is collected and used at xKubuni™.</p>
                    <p>In this Privacy Statement, we address some common questions and concerns you may have about using the site, the Terms of Service and/or the Service. Please note that your use of this</p>
                    <p>Service is subject to the Terms of Service. It is important that you review the Terms of Service carefully for important definitions and discussion of your rights. Your consent to the terms of service is mandatory for your participation in the xKubuni™ service.</p>
                    <h2>Commitment to Protecting Your Privacy</h2>
                    <p>We believe that your privacy is an essential element of our Service. xKubuni™ Online Panel is absolutely committed to protecting the privacy of all xKubuni™ Online Panel Account Holders. To this end, xKubuni™ Online Panel uses the most effective technology and practices to protect your privacy.</p>
                    <p>xKubuni™ Online Panel is in the business of consumer communications service, which uses the Internet and wireless platforms to allow Businesses to send consumers registered for the Service, targeted questionnaires to solicit information on their products and services. For xKubuni™ Online Panel to provide the service to its clients, it requires Account Holders to share certain Personal Information. The personal information is used to profile consumers for internal purposes so that through xKubuni™, businesses can send targeted surveys to certain panel members.&nbsp; xKubuni™ Online Panel makes the following further disclosures:</p>
                    <ul>
                        <li>xKubuni™ Online Panel Account Holders can upload, modify, access and otherwise change their Personal and Profile Information at any time on the Site. </li>
                        <li>xKubuni™ Online Panel Account Holders can opt out of the Service and delete their Personal and Profile Information at any time. </li>
                        <li>xKubuni™ Online Panel only stores Profile Information Account Holders choose to provide. </li>
                        <li>xKubuni™ Online Panel does not permit Businesses to have access to Your Information unless you decide to make these details available. </li>
                        <li>xKubuni™ Online Panel does not forward or transfer your information to any third party, other than the organizations detailed in this Privacy Statement, where such disclosures are necessary to enable xKubuni™ Online Panel to maintain and operate the Service. </li>
                    </ul>
                    <h2>Committing to Protecting your Security</h2>
                    <p>xKubuni™ Online Panel maintains all personal and profile Information in a secure data environment not accessible to anyone except officials authorized to do so. However, given the digital environment, unforeseeable breaches of security are possible and we cannot guarantee that Your Information will be free from corruption and piracy. Our obligation is to use all reasonable precautions to maintain the confidentiality and privacy of Your Information.</p>
                    <ul>
                        <li>
                            <p><b>Information Collected.</b></p>
                            <p>We collect two kinds of information from you: non-personal information and personal information. Non-personal information is information we collect through the Service that does not identify you by name or as an individual person. It may include information like</p>
                            <ul>
                                <li>The type of web browser software your computer uses. </li>
                                <li>Pages your computer visited on the Site and date and time your computer accessed our pages. </li>
                                <li>Personal information that has been de-identified.</li>
                            </ul>
                        </li>
                    </ul>
                    <p>Personal Information is information we collect through the Service that we can use to specifically identify you, and may include your:</p>
                    <ul>
                        <li>Name, telephone number and e-mail address </li>
                        <li>Information you provide in an online survey</li>
                    </ul>
                    <p><b>Retention, Use and Disclosure of Information.</b></p>
                    <p>Because non-personal information cannot identify you specifically or be connected to you in any way, we do not restrict the ways that we can keep, disclose or use non-personal information. We will use non-personal information from you to help us make the Service more useful to our Account Holders and for businesses (customers). For example, we may use non-personal information to:</p>
                    <ul>
                        <li>Create activity reports to develop programs, products, services or content </li>
                        <li>Customize the information or services that are of interest to you </li>
                        <li>Share it with third parties (in anonymous form) </li>
                    </ul>
                    <p>We may keep and use personal information we collect from you through the Service to provide you with access to the Service. In addition, we may keep and use your personal information:</p>
                    <ul>
                        <li>To respond to your requests, including your request for payment </li>
                        <li>Customize the information or services that are of interest to you </li>
                        <li>For analytical purposes and to research, develop and improve programs, products, and services</li>
                        <li>To remove your personal identifiers (your name, e-mail address, cell phone number, etc). In this case, you would no longer be identified as a single unique individual. Once we have de-identified information, it is non-personal information and we may use and treat it like other non-personal information </li>
                        <li>To enforce this Privacy Statement or the Terms of Service</li>
                        <li>To protect our rights or property To protect someone's health, safety or welfare</li>
                        <li>To comply with a law or regulation, court order or other legal process</li>
                    </ul>
                    <p>Even if you are no longer registered, we will maintain copies of your information in our internal records, systems, and databases. We will continue to treat your personal information in accordance with this Privacy Statement.</p>
                    <p><b>Sharing Personal Information with Third Parties</b></p>
                    <p>We will not share your personal information collected from the Service with an unrelated third party without your permission, except as otherwise provided in this Privacy Statement. In the ordinary course of business, we also will share some personal information with companies that we hire to perform services or functions on your behalf. In such cases we will not authorize the third party to keep, disclose or use your information with others except for the purpose of providing the services we asked them to provide.</p>
                    <p>We may be legally compelled to release your personal information in response to a court order, subpoena, search warrant, law or regulation. We may cooperate with law enforcement authorities in investigating and prosecuting online resources users who violate our rules or engage in behavior which is harmful (or illegal) to other users.</p>
                    <ul>
                        <li>We may disclose your personal information to third parties if we feel that the disclosure is necessary to: Enforce this Privacy Statement and the other rules about your use of this online resource </li>
                        <li>Protect our rights or property </li>
                        <li>Protect someone's safety or welfare</li>
                        <li>Comply with a law or regulation, court order or other legal process </li>
                    </ul>
                    <p><b>Links to Other Terms of Service and Advertisements</b></p>
                    <p>Messages may contain links to other websites. We provide the links for your convenience, but we do not review, control, or monitor the privacy practices of websites operated by others. This Privacy Statement does not apply to any other website where a link to this Privacy Statement does not appear. We are not responsible for the performance of sites operated by third parties or for your business dealings with them. Therefore, whenever you leave the Service we recommend that you review each website's privacy practices and make your own conclusions regarding the adequacy of these practices.</p>
                    <h2>Updates &amp; Effective Date</h2>
                    <p style="margin-bottom: 25px;">From time to time, we may update this privacy statement. We will notify you about material changes in the way we treat personally identifiable information by placing a notice on our site. We encourage you to periodically check back and review this policy so that you always will know what information we collect, how we use it, and to whom we disclose it.</p>
                </div>
            </div>
        </div>
    </div>
</div>
