﻿@{
    ViewBag.Title = "QuickSurvey";
}
<style>.header {
            box-shadow: 0 2px rgba(0,0,0,.6) inset;
            box-shadow: 0 -2px rgba(0,0,0,.4) inset;
            padding-bottom: 10px;
        }
    body {
        background: #f5f5f5;
    }
</style>
<div class="newssection">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="imgcover">
                        <div class="img">
                            <img src="@Url.Content("~/Content/Images/img1_03.jpg")" />
                        </div>
                        <div class="cntnt">
                            <h3>Latest Survey</h3>
                            <h4>Post : 2015-05-01 / Author : Jonh</h4>
                            <h5>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan </h5>
                            <input type="button" value="READ MORE" class="butn2" style="margin-top: 40px;">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="imgcover">
                        <div class="img">
                            <img src="@Url.Content("~/Content/Images/img1_03.jpg")" />
                        </div>
                        <div class="cntnt">
                            <h3>Latest Survey</h3>
                            <h4>Post : 2015-05-01 / Author : Jonh</h4>
                            <h5>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan </h5>
                            <input type="button" value="READ MORE" class="butn2" style="margin-top: 40px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="newssection">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="imgcover">
                        <div class="img">
                            <img src="@Url.Content("~/Content/Images/img1_03.jpg")" />
                        </div>
                        <div class="cntnt">
                            <h3>Latest Survey</h3>
                            <h4>Post : 2015-05-01 / Author : Jonh</h4>
                            <h5>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan </h5>
                            <input type="button" value="READ MORE" class="butn2" style="margin-top: 40px;">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="imgcover">
                        <div class="img">
                            <img src="@Url.Content("~/Content/Images/img1_03.jpg")" />
                        </div>
                        <div class="cntnt">
                            <h3>Latest Survey</h3>
                            <h4>Post : 2015-05-01 / Author : Jonh</h4>
                            <h5>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan </h5>
                            <input type="button" value="READ MORE" class="butn2" style="margin-top: 40px;">
                        </div>
                    </div>
                    </div>
               
            </div>
        </div>
    </div>
