﻿@{
    ViewBag.Title = "Terms";
}
<link href="@Url.Content("~/Content/CSS/style.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/responsive.css")" rel="stylesheet" />
<style>
    .header {
        box-shadow: 0 2px rgba(0,0,0,.6) inset;
        box-shadow: 0 -2px rgba(0,0,0,.4) inset;
        padding-bottom: 10px;
    }

    body {
        background: #f5f5f5;
    }
</style>
<div class="terms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Terms of Use</h2>
                <h5>Participation in xKubuni™ Online Panel Surveys</h5>
                <ul>
                    <li>
                        The participant is free to choose whether or not to participate in the respective survey.

                    </li>
                    <li>The participant has no legal right to be invited by xKubuni™ Online Panel to participate in surveys.</li>
                    <li>The participant obligates him or herself to fill out the surveys accurately and in particular to not give any false or absurd answers.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="terms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <h5>Compensation</h5>


                <ul>
                    <li>
                        The compensation is usually credited to the xKubuni™ Online Panel account of the participant within one month after participation. However, xKubuni™ Online Panel shall not be liable for any delay whatsoever.

                    </li>
                    <li>The survey will automatically end if, after the introductory questions of a survey have been answered, it is found out that the participant does not belong to the requested target group. In this case, a right to compensation only exists if the commissioner expressly guarantees a reward for answering the introductory questions</li>
                    <li>When the participant reaches a minimum account balance of Rupees 500, he can request payment in the form of a gift voucher.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="terms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <h5>Data Protection</h5>

                <ul>
                    <li>
                        The compensation is usually credited to the xKubuni™ Online Panel account of the participant within one month after participation. However, xKubuni™ Online Panel shall not be liable for any delay whatsoever.

                    </li>
                    <li>If the participant believes that there has been any breach of security such as the disclosure, unauthorized use of your name and password or any other information, you must notify xKubuni™ Online Panel immediately by e-mailing.</li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="terms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <h5>Confidentiality</h5>

                <ul>
                    <li>
                        The participant agrees to hold in strict confidence and to not disclose to any other party information learned in connection with any survey, project, questionnaire or other market research activity related to xKubuni™ Online Panel. He will use the information contained in any survey, project or questionnaire strictly for the purpose of discussing and providing market research-related data.

                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>

<div class="terms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <h5>Cancellation of participation</h5>

                <ul>
                    <li>
                        Cancellation of participation is possible at all times and can be carried out in the "My xKubuni™ Online Panel" area under "Market research settings". Cancellation takes place automatically when xKubuni™ Online Panel membership is terminated.

                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>
<div class="terms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <h5>Modification of the General Terms and Conditions for Online Surveys</h5>

                <ul>
                    <li>
                        xKubuni™ Online Panel reserves the right to change the General Terms and Conditions at any time without any prior information or notice to the Participants and or to the registered users and the use of the site pursuant to the change in the Terms and Conditions will constitute acceptance of such change.

                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>
<div class="terms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <h5>Warranty</h5>

                <ul>
                    <li>
                        xKubuni™ Online Panel makes no representations or warranties as to the information that is supplied upon the condition that the Participants receiving same will make their own determination and use their discretion as to its suitability for their purposes prior to use. In no event will xKubuni™ Online Panel be responsible for damages of any nature whatsoever resulting from the use of or reliance upon information from this site or the products to which the information refers. xKubuni™ Online Panel does not warrant the accuracy or timeliness of the materials on this site and has no liability for any errors or omissions in the materials.

                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>
<div class="terms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <h5>Miscellaneous</h5>

                <ul>
                    <li>
                        These Terms and Conditions constitute the entire agreement between the parties with respect to the subject matter hereof and supersedes and replaces all prior or contemporaneous understandings or agreements, written or oral, regarding such subject matter. Any waiver of any provision of the Terms and Conditions will be effective only if in writing and signed by xKubuni™ Online Panel.

                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>


