﻿@model IEnumerable<SurveyProject.Models.ImagesViewModel>
@{
    Layout = null;
}
<style>
    .container {
        width: 80%;
        border: 1px solid #ccc;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 auto;
        overflow: hidden;
        padding: 15px;
        max-height: 700px;
        overflow-y: auto;
    }

        .container p {
            margin: 0;
            margin-bottom: 15px;
            text-align: center;
        }

    .gallery {
        overflow: hidden;
        clear: both;
        text-align: center;
    }

    .returnImage {
        display: inline-block;
        width: calc(25% - 1px);
        height: 170px;
        float: left;
        margin-right: 1px;
        margin-bottom: 1px;
    }

        .returnImage img {
            width: 100%;
            height: 100%;
        }
</style>
<div class="container">
    <p>
        This is image gallery, make your choice..!!
    </p>
    <div class="gallery"></div>
    @foreach (var image in Model)
    {
        <a href="#" class="returnImage" data-url="@Request.Url.GetLeftPart(UriPartial.Authority)@image.Url">
            <img src="@image.Url" alt="NoImage" id="#image" data-source="@image.Url" />
        </a>
    }
</div>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".returnImage").click("click", function (e) {
            var urlImage = $(this).attr("data-url");
            //This takes the data value and id of the editor and sends the data(i.e.,image url) back to the caller page
            window.opener.updateValue("cke_72_uiElement", urlImage);
            window.close();
        });
    });
</script>
