﻿.regstr-top {
    padding: 0 100px;
}

.register-as {
    padding-left: 15px;
    vertical-align: middle;
    line-height: 34px;
}

.menuicn2 {
    cursor: pointer;
}

@media only screen and (max-width:1366px) {
    .menu a {
        text-decoration: none;
        color: #2c3e50;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding: 0px 5px;
    }

    .testsurvey {
        margin: 0;
    }
}


@media only screen and (max-width:1024px) {
    .checklist {
        width: 88%;
    }

    .checklist {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
        margin-left: 50px;
    }


    .root li a {
        color: #232323;
        font-size: 14px;
        height: 14px;
        text-decoration: none;
        width: 740px;
    }


    .contentarea {
        margin-top: -217px;
    }

    .del {
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .fields {
        width: 214px;
    }

    .btn-primary {
        margin-top: 10px;
        float: left;
    }

    .imgcover {
        width: 100%;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .img {
        width: 48%;
        height: auto;
        float: left;
        margin-right: 2%;
    }

    .cntnt {
        width: 45%;
        float: right;
    }

    .createquestiongroup {
        margin-top: 10px !important;
        margin-right: 5px !important;
    }

    .menu ul li a.butn1, .menu ul li a.butn2, .butn2 {
        display: block;
        margin: 0;
        color: #fff;
        margin-bottom: 10px;
    }

    .wizard-step {
        padding: 0;
    }

    .menu a {
        text-decoration: none;
        color: #2c3e50;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding: 0px 5px;
    }

    .testsurvey {
        margin: 0;
    }

    .stlabel {
        margin-bottom: 9px !important;
    }

    .section2 {
        padding-top: 120px !important;
    }
}

@media only screen and (max-width:960px) {
    .menu a {
        text-decoration: none;
        color: #2c3e50;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding: 0px 5px;
    }

    .contentarea2 {
        margin-top: -150px;
    }

    .del {
        margin-left: 10px;
    }

    .fields {
        margin-bottom: 5px;
    }


    .btn-primary {
        margin-top: 10px;
        float: left;
    }

    .questionsectionresponsive {
        padding: 150px 20px;
    }

    .root li a {
        color: #232323;
        font-size: 14px;
        height: 14px;
        text-decoration: none;
        width: 740px;
    }

    .testsurvey {
        margin: 0;
    }

    .form-group {
        float: left;
        width: 100%;
    }

    #questionContent {
        float: left !important;
        width: 100% !important;
    }

    .stlabel {
        margin-bottom: 9px !important;
    }

    .inptgrp {
        margin-top: 10px;
        margin-left: 0px;
    }

    .createquestiongroup {
        margin-top: 10px !important;
        margin-right: 5px !important;
    }
}

@media only screen and (max-width:991px) and (min-width:769px) {

    .main-layout-menu {
        float: left !important;
    }

    .modal-dialog {
        width: 100% !important;
        padding: 0px 20px;
    }

    .form-group {
        float: left;
        width: 100%;
    }

    #questionContent {
        float: left !important;
        width: 100% !important;
    }

    .stlabel {
        margin-bottom: 9px !important;
    }

    .inptgrp {
        margin-top: 10px;
        margin-left: 0px;
    }

    .createquestiongroup {
        margin-top: 10px !important;
        margin-right: 5px !important;
    }

    .del {
        margin-left: 10px;
    }
}


@media only screen and (max-width:992px) {

    #reportStartup .col-md-5 {
        display: inline-block;
        width: 100%;
    }


    .center-btn .btn-primary {
        float: none !important;
    }

.content-wrapper {
 margin-top:15px;
}

}


@media only screen and (min-width:992px) and (max-width:1199px) {

    .container {
        width: 98% !important;
    }

    .on-page-menu li a {
        padding: 0 8px !important;
    }
}


@media only screen and (min-width:768px) and (max-width:992px) {

    .on-page-menu li a {
        padding: 0 7px !important;
    }

    .logo-main {
        width: 260px !important;
    }

    .user-main {
        width: 260px !important;
        margin: 0px auto;
        float: none;
    }

    .menu-all-right {
        width: 100%;
        text-align: center;
        float: none;
        display: inline-block;
    }


        .menu-all-right ul {
            float: none !important;
        }

    .menu {
        margin-top: 10px !important;
    }


    .section2 {
        padding-top: 150px !important;
    }

    .main-layout-menu {
        float: right !important;
        margin-right: 20px;
    }

    .res-menu .col-sm-12 {
        width: 50% !important;
    }
}

@media only screen and (max-width:769px) {

    .left-project .slimScrollDiv {
        height: auto !important;
    }

    .show-project {
        display: block !important;
    }

    .logo-main {
        width: 100% !important;
    }

    .left-project {
        padding-left: 15px !important;
        padding-right: 15px !important;
        /*overflow-y: hidden !important;*/
    }

    .all-project {
        width: 100%;
        display: none;
    }

    .slist ul {
        margin-left: 16px !important;
    }

    .on-page-menu li {
        width: 100% !important;
    }

        .on-page-menu li a {
            border-radius: 0 !important;
        }


    .menu ul {
        text-align: center;
    }

    #ddlChangeLang {
        width: 184px !important;
    }


    .menu {
        margin-top: 0 !important;
        margin-bottom: 7px;
    }

    #reportQuestions {
        margin-top: 20px;
    }

    .space-right2 {
        margin-right: 20px;
    }

    .welcome {
        padding: 1px 0px 10px !important;
    }

    .main-inner-top {
        padding-top: 200px !important;
    }

    .text-main-right.pull-right {
        float: left !important;
    }

    .logo {
        padding: 10px 10px 0px;
        text-align: center;
    }

    .faq {
        padding: 0;
    }

    .selectlanguage {
        width: 100%;
        margin-top: 6px;
        height: 27px;
    }

    .questionsectionresponsive {
        padding: 150px 20px;
    }

    .section2 {
        padding-top: 232px !important;
    }

    .menu ul li a.butn1, .menu ul li a.butn2, .butn2 {
        display: block !important;
        margin: 4px 0px !important;
        color: #fff;
    }




    .lm-sub-menu {
        display: block !important;
        opacity: 1 !important;
    }

        .lm-sub-menu > li {
            margin-bottom: 0 !important;
        }

    .lm-sub-menu {
        padding-top: 0 !important;
    }

    .level-three-menu2 {
        left: -6px !important;
    }

        .level-three-menu2 > li {
            margin-bottom: 0 !important;
        }

    .level-three-menu > li {
        margin-bottom: 0 !important;
    }

    .level-three-menu, .level-three-menu2 {
        display: block !important;
    }

    .main-layout-menu > li {
        padding: 0px 0 !important;
    }


    /*.menu {
        display: none;
    }*/

    .menu ul {
        display: block;
        float: none !important;
    }

        .menu ul li {
            /*width: 100%;*/
        }

            .menu ul li a {
                /*line-height: 25px;
                display: block;
                background: #3498db;
                color: #fff;
                text-align: center;
                margin-top: 6px;
                padding: 8px;*/
            }

            .menu ul li:last-child a {
                background: #e74c3c;
            }

    /*.menuicn {
        display: block !important;
        float: right;
    }*/
    /*second menu*/


    .main-layout-menu {
        display: none;
        margin-right: 0;
        width: 98%;
        margin: 0 auto;
        float: none !important;
        max-height: 200px;
        overflow-y: scroll;
        z-index: 99 !important;
        position: relative;
        overflow-x: hidden;
        background: #FFF !important;
    }

    .lm-sub-menu > li {
        margin: 0 0px !important;
    }

    .level-three-menu > li, .level-three-menu2 > li {
        margin: 0 0px !important;
    }

    .menuicn2 {
        display: block !important;
        float: right;
    }

    .main-layout-menu > ul {
        float: none !important;
    }

    .main-layout-menu > li {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .main-layout-menu li > a {
        line-height: 20px;
        display: block;
        background: #0094ff;
        color: #fff;
        margin-top: 3px;
    }

    .lm-sub-menu {
        position: relative !important;
        width: 100% !important;
    }

    .level-three-menu2 {
        position: relative !important;
        left: 0px !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }

    .lm-sub-menu > li {
        display: block;
        margin: 0;
        width: 100%;
    }

        .lm-sub-menu > li.has-level-three {
            position: inherit;
        }

        .lm-sub-menu > li > a {
            padding: 5px 10px;
            display: block;
            color: #fff;
            border-radius: 2px;
            text-align: left;
            background-color: #0094ff;
        }

    .level-three-menu {
        position: relative !important;
        left: 0px !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }


        .level-three-menu > li {
            margin: 6px 0px;
        }

    .has-level-three > ul.level-three-menu {
        width: 100%;
    }
    /*ends*/

    .fields {
        margin-bottom: 10px;
        width: 100%;
    }

    .table-responsive {
        border: none;
    }

    .footerinner li {
        margin-bottom: 10px;
    }

    .welcome {
        font-size: 23px;
        padding: 13px 0px;
        font-weight: bold;
        color: #3498db;
        text-align: center;
    }

    .terms {
        padding: 0;
    }

    .about {
        padding: 0;
    }

    .root li a {
        width: 400px;
    }

    .testsurvey {
        width: 100%;
        margin: 10px;
    }

    .banner h1 {
        text-align: center;
        font-size: 34px;
    }

    .banner p {
        text-align: center;
        /*margin-right: -522px;
        margin-top: 275px;*/
    }

    .breadcrumb1 li a {
        display: block;
        width: 100%;
    }

    .modal-dialog {
        width: 100% !important;
        padding: 0px 20px;
    }

    .form-group {
        float: left;
        width: 100%;
    }

    #questionContent {
        float: left !important;
        width: 100% !important;
    }

    #btnActiveDisplay {
        width: 100%;
        margin: 10px !important;
    }

    .reslabel {
        margin-top: 28px;
    }

    .gen-section {
        padding: 0;
    }

    .questionsectionresponsive2 {
        padding: 10px 5px !important;
    }

    .inptgrp {
        margin-left: 0px;
        margin-top: 10px;
    }

    .questionsclass {
        margin: 0px 20px !important;
    }

    #sortable {
        clear: both;
    }

    .statistics {
        padding: 0px 15px;
    }

    .stlabel {
        margin-bottom: 5px;
    }

    .createquestiongroup {
        margin-top: 10px !important;
        margin-right: 5px !important;
    }

    .del {
        margin-left: 10px;
    }
}


@media only screen and (max-width:649px) {

    .wizard-step.surveyQuestions .center-block-main {
        display: inline;
    }
}


@media only screen and (max-width:510px) {

 .menu ul li:first-child {
    width: 100% !important;
    margin:10px 0px !important;
}
   
}


@media only screen and (max-width:511px) {

.section2 {
    padding-top: 263px !important;
}
   
}


@media only screen and (min-width:511px) and (max-width:769px) {

.section2 {
    padding-top: 192px !important;
}
   
}




@media only screen and (max-width:600px) {
    .breadcrumb1 li:first-child a {
        width: 100%;
        display: block;
        padding-left: 20px;
    }

    .breadcrumb1 li a {
        display: block;
        width: 100%;
        padding: 6px 0 6px 6px;
    }

        .breadcrumb1 li a:after {
            content: none;
            display: none;
            width: 0;
            height: 0;
            border-top: none;
            border-bottom: none;
            border-left: none;
            position: inherit;
            margin-top: 0;
            z-index: 0;
        }

    .del {
        margin-left: 10px;
    }


    .breadcrumb1 li a:before {
        content: none;
        display: none;
        width: 0;
        height: 0;
        border-top: none;
        border-bottom: none;
        border-left: none;
        margin-top: 0;
        margin-left: 0;
        z-index: 0;
    }

    .breadcrumb1 li {
        width: 100%;
        margin-top: 3px;
    }

    .breadcrumb1 {
        margin-left: 0px;
    }

    #sortable {
        width: 100% !important;
        clear: both;
    }

    .statistics {
        padding: 0px 15px;
    }

    .stlabel {
        margin-bottom: 5px;
    }

    .createquestiongroup {
        margin-top: 10px !important;
        margin-right: 5px !important;
    }

    .del {
        margin-left: 10px;
    }
}





@media only screen and (max-width:460px) {

    #graphRegression span.align-new {
        width: 100%;
        display: inline-block;
        float: left;
        margin-top: 10px;
    }

    #graphRegression input[type="checkbox"] {
        margin: 4px 5px 0;
    }
}



@media only screen and (max-width:480px) {

    .folder-template .actions {
        float: left;
        width: 100%;
        margin-top: 10px;
    }


    .logo {
        text-align: center;
        padding: 10px;
    }

    .addonclass {
        width: 97%;
        margin-top: 10px;
    }

    .checklist {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
        margin-left: 25px;
    }

    .content-area-content {
        padding: 0;
    }




    .newssection {
        padding: 4px;
    }

    .img, .cntnt {
        float: none !important;
        width: 100% !important;
    }

    .btn-primary {
        margin-top: 10px;
        float: left;
    }

    .questionsectionresponsive {
        padding: 150px 5px;
    }

    .footerinner li {
        margin-bottom: 10px;
    }

    .addonclass {
        width: 98%;
        margin-top: 10px;
        margin-left: 1px;
    }

    .root li a {
        width: 294px;
    }

    .edp-ig {
        margin-bottom: 5px;
    }

    .breadcrumb1 li:first-child a {
        width: 100%;
        display: block;
        padding-left: 20px;
    }

    .breadcrumb1 li a {
        display: block;
        width: 100%;
        padding: 6px 0 6px 6px;
    }

        .breadcrumb1 li a:after {
            content: none;
            display: none;
            width: 0;
            height: 0;
            border-top: none; /* Go big on the size, and let overflow hide */
            border-bottom: none;
            border-left: none;
            position: inherit;
            margin-top: 0;
            z-index: 0;
        }


        .breadcrumb1 li a:before {
            content: none;
            display: none;
            width: 0;
            height: 0;
            border-top: none;
            border-bottom: none;
            border-left: none;
            margin-top: 0;
            margin-left: 0;
            z-index: 0;
        }

    .breadcrumb1 li {
        width: 100%;
        margin-top: 3px;
    }

    .breadcrumb1 {
        margin-left: 0px;
    }

    .testsurvey {
        width: 100%;
        margin: 10px;
    }

    .banner h1 {
        font-size: 28px;
        padding: 0;
        text-align: center;
    }

    .banner p {
        text-align: center;
        font-size: 16px;
        /*margin-right: -360px;
        margin-top: 279px;*/
    }

    .regstr-top {
        padding: 0;
    }

    .register-as {
        padding-left: 0;
        vertical-align: middle;
        line-height: 0;
    }


    #questionContent {
        float: left !important;
        width: 100% !important;
    }

    .modal-dialog {
        width: 100% !important;
        padding: 0px 20px;
    }

    #sortable {
        width: 100% !important;
        clear: both;
    }

    .on-page-menu {
        padding: 0;
    }

        .on-page-menu li {
            display: block;
        }

            .on-page-menu li a {
                border-radius: 0;
            }

    .form-horizontal .control-label {
        padding: 5px 14px !important;
    }

    .page-heading {
        text-align: center !important;
    }

    .form-group {
        float: left;
        width: 100%;
    }

    .applybtn {
        width: 100%;
        margin-left: 0px !important;
    }

    .layoutbtn {
        width: 100%;
        margin-left: 0px !important;
    }


    .responsesimport {
        width: 100%;
        margin-left: 0px !important;
    }

    .delproject {
        width: 100%;
        margin-left: 0px !important;
    }

    .exportbtn {
        width: 100%;
        margin-left: 0px !important;
    }

    .responsesimport {
        width: 100%;
        margin-left: 0px !important;
    }

    #btnActiveDisplay {
        width: 100%;
        margin: 10px !important;
    }

    .reslabel {
        margin-top: 28px;
    }

    .questionsectionresponsive2 {
        padding: 10px 5px !important;
    }

    .inptgrp {
        margin-left: 0px;
        margin-top: 10px;
    }

    .questionsclass {
        margin: 0px 20px !important;
    }

    .breadcrumb1 {
        margin: 0 !important;
        margin-bottom: 5px !important;
    }

    .bgtext h6 {
        padding: 60px 15px;
    }

    .inptbox {
        min-width: 0px;
    }

    .statistics {
        padding: 0px 15px;
    }

    .stlabel {
        margin-bottom: 5px;
    }

    .contentarea h4 {
        padding: 10px 20px !important;
    }

    .createquestiongroup {
        margin-top: 10px !important;
        margin-right: 5px !important;
    }

    .sortable-item {
        width: 100% !important;
    }

    .del {
        margin-left: 10px;
    }
}


@media only screen and (max-width:320px) {
    .addonclass {
        width: 98%;
        margin-top: 10px;
        margin-left: 1px;
    }

    .banner h1 {
        font-size: 26px;
        padding: 0;
        text-align: center;
    }

    .del {
        margin-left: 10px;
    }

    .banner p {
        font-size: 14px;
        text-align: center;
        /*margin-right: -300px;
        margin-top: 279px;*/
    }

    .breadcrumb1 li {
        width: 100%;
        margin-top: 3px;
        text-align: center;
    }

    .faq {
        padding: 0;
    }

    .btn-primary {
        margin-top: 10px;
        float: left;
    }


    .imgcover {
        width: 100%;
        overflow: hidden;
        margin-bottom: 10px;
    }

    breadcrumb1 {
        margin-left: 0px;
    }

    .breadcrumb1 li:first-child a {
        width: 100%;
        display: block;
        padding-left: 0px;
    }

    .breadcrumb1 li a {
        display: block;
        width: 100%;
        text-align: left;
        padding: 6px 0 6px 6px;
    }


        .breadcrumb1 li a:after {
            content: none;
            display: none;
            width: 0;
            height: 0;
            border-top: none; /* Go big on the size, and let overflow hide */
            border-bottom: none;
            border-left: none;
            position: inherit;
            margin-top: 0px;
            z-index: 0;
        }

        .breadcrumb1 li a.active:after {
            content: none;
            display: none;
            width: 0;
            height: 0;
            border-top: none; /* Go big on the size, and let overflow hide */
            border-bottom: none;
            border-left: none;
            position: inherit;
            margin-top: -50px;
            z-index: 0;
        }


        .breadcrumb1 li a:before {
            content: none;
            display: none;
            width: 0;
            height: 0;
            border-top: none;
            border-bottom: none;
            border-left: none;
            margin-top: 0px;
            margin-left: 0px;
            z-index: 0;
        }

    .contentarea {
        margin-top: -217px;
    }

    .questionsectionresponsive {
        padding: 150px 0 !important;
    }

    .bgtext h6 {
        padding: 23px;
    }

    .img {
        width: 48%;
        height: auto;
        float: left;
        margin-right: 2%;
    }

    .footerinner li {
        margin-bottom: 10px;
    }

    .cntnt {
        width: 50%;
        float: right;
    }



    .root li a {
        width: 293px;
    }

    .testsurvey {
        width: 100%;
        margin: 10px;
    }

    #questionContent {
        float: left !important;
        width: 100%;
    }

    .modal-dialog {
        width: 100%;
        padding: 0px 20px;
    }

    #sortable {
        width: 100%;
    }

    .on-page-menu li a {
        padding: 0px 15px;
    }

    .form-horizontal .control-label {
        padding: 5px 14px;
    }

    .page-heading {
        text-align: center;
    }

    .contentarea h4 {
        padding: 10px 18px !important;
    }

    .stlabel {
        margin-bottom: 5px;
    }

    .form-group {
        float: left;
        width: 100%;
    }

    .applybtn {
        width: 100%;
        margin-left: 0px !important;
    }

    .layoutbtn {
        width: 100%;
        margin-left: 0px !important;
    }


    .responsesimport {
        width: 100%;
        margin-left: 0px !important;
    }

    .delproject {
        width: 100%;
        margin-left: 0px !important;
    }

    .exportbtn {
        width: 100%;
        margin-left: 0px !important;
    }

    .responsesimport {
        width: 100%;
        margin-left: 0px !important;
    }

    .prev-quest > p {
        padding: 8px;
    }

    #btnActiveDisplay {
        width: 100%;
        margin: 10px !important;
    }

    .reslabel {
        margin-top: 28px;
    }

    .questionsectionresponsive2 {
        padding: 10px 5px !important;
    }

    .inptgrp {
        margin-left: 0px;
        margin-top: 10px;
    }

    .questionsclass {
        margin: 0px 20px !important;
    }

    .breadcrumb1 {
        margin: 0 !important;
        margin-bottom: 5px !important;
    }

    .inptbox {
        min-width: 0px;
    }

    .statistics {
        padding: 0px 15px;
    }

    .createquestiongroup {
        margin-top: 10px !important;
        margin-right: 5px !important;
    }

    .createques {
        margin-top: 10px !important;
    }

    .sortable-item {
        width: 100% !important;
    }
}
