﻿
<!DOCTYPE html>

<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />

    <title>Metronic | Login Page - 1</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <script src="@Url.Content("~/Scripts/jquery-3.0.0.min.js")"></script>
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" />
    <!--begin::Web font -->
    @*<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/299A7511-E754-3C46-95F3-EC0E4CF9FB2E/main.js" charset="UTF-8"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>

    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin::Global Theme Styles -->
    <link href="/Content/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->




    <link rel="shortcut icon" href="assets/demo/default/media/img/logo/favicon.ico" />
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">



    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">


        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login">
            @RenderBody()
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content m-grid-item--center" style="background-image: url(/Content/assets/app/media/img//bg/bg-4.jpg)">
                <div class="m-grid__item" @*style="text-align:right;"*@>
                    <h3 class="m-login__welcome">xKubuni™</h3>
                    <h3 class="m-login__welcome">Market Research Platform</h3>
                    <p class="m-login__msg">
                        Business Opportunity Research Made Easier
                    </p>
                </div>
            </div>
        </div>


    </div>
    <!-- end:: Page -->
    <!--begin::Global Theme Bundle -->
    <script src="/Content/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    @*<script src="/Content/assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>*@
    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts -->
    <script src="/Content/assets/snippets/custom/pages/user/login.js" type="text/javascript"></script>
    <!--end::Page Scripts -->

</body>
<!-- end::Body -->
</html>