﻿@model string[]

@{
    ViewBag.Title = "Exception";
}
<link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">An Unhandled Exception occured in the system <i class="fa fa-frown-o"></i></h2>
            </div>
            <div class="pane-body">

                <div class="alert alert-warning">
                    We're sorry, we've hit an unexpected error.
    <a href="javascript:history.go(-1)">Click here</a>
                    if you'd like to go back and try that again.
                </div>
                <div class="alert alert-danger">Exception: @Model[0]</div>
            </div>

            <div class="panel-footer">
                <p>The Timestamp in the Logging file is @Model[1]</p>
            </div>
        </div>
    </div>
</div>


