﻿

@media screen, print
   {
     
    .view-wizard-steps {
    padding: 5px 15px;
    margin: 10px auto;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset;
    border: 1px solid rgba(91, 91, 91,.3);
    background-color: #f8f8f8;
}


.view-wizard-steps {
    clear: both !important;
    overflow: hidden !important;
}


   }