﻿@model SurveyProject.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
    <div class="m-stack m-stack--hor m-stack--desktop">
        <div class="m-stack__item m-stack__item--fluid">

            <div class="m-login__wrapper">

                <div class="m-login__logo">
                    <a href="#">
                        <img src="/Content/assets/app/media/img/logos/logo-2.png">
                    </a>
                </div>

                <div class="m-login__signin">
                    <div class="m-login__head">
                        <h3 class="m-login__title">Sign In To Admin</h3>

                    </div>
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { returnUrl = ViewBag.ReturnUrl, @class = "m-login__form m-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

                        <div class="form-group m-form__group">
                          
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control m-input", @placeholder = "Email", @name = "email" ,@autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Email)
                           
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Password" name="password">
                        </div>
                        <div class="row m-login__form-sub">
                            <div class="col m--align-left">
                                <label class="m-checkbox m-checkbox--focus">
                                    <input type="checkbox" name="remember"> Remember me
                                    <span></span>
                                </label>
                            </div>
                            <div class="col m--align-right">

                                @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account", null, new { @class = "m-link" })
                              
                            </div>
                        </div>
                        <div class="m-login__form-action">
                          
                            
                            <button  type="submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">Sign In</button>
                        </div>
}
                </div>

                

                
            </div>

        </div>
        <div class="m-stack__item m-stack__item--center">

            <div class="m-login__account">
                <span class="m-login__account-msg">
                    Don't have an account yet ?
                </span>&nbsp;&nbsp;
                <a href="/Account/Register"  class="m-link m-link--focus m-login__account-link">Sign Up</a>
            </div>

        </div>
    </div>
</div>
@*<hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>*@
@*<style>
    a {
        color: #3498db;
    }
</style>

<div class="bg">
    <div class="container-fluid">
        <div class="row">
            <div class="bgtext">
                <h6>
                    Welcome to,<br />
                    xKubuni™ !
                </h6>
            </div>
        </div>
    </div>
</div>
<div class="questionsection questionsectionresponsive">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="contentarea">
                    <div class="surveytitle">
                        <h5>Login</h5>
                    </div>
                    <section id="loginForm">
                        <div class="row">
                            @if (TempData["SuccessMessage"] != null)
                            {
                                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                            }
                            @if (TempData["ErrorMessage"] != null)
                            {
                                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                            }


                            <div class="col-md-4 col-md-offset-4">
                                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { returnUrl = ViewBag.ReturnUrl }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email)
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password)
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger">Log in <i class="fa fa-arrow-circle-right"></i></button>
                                                                              
                                        @Html.ActionLink("Forgot Password", "ForgotPassword", "Account", null, new { @class = "pull-right" })
                                    </div>
                                    <div class="form-group">
                                        @Html.ActionLink("Register", "Register", "Account") if you don't have an account.
                                    </div>
                                }
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {
        localStorage.setItem('ProdRunningCount', 0);
    });
</script>*@