﻿@model SurveyProject.Models.AdminRegisterModel
@{
    ViewBag.Title = "Register";
}
<style>
    .form-control.m-input {
        width: 95% !important;
        text-align: justify;
    }

    .openerp_enterprise_pricing_app:hover .openerp_enterprise_trial_app_checkbox + span {
        border-color: #888888;
    }

    .openerp_enterprise_pricing_app .openerp_enterprise_pricing_app_container .openerp_enterprise_trial_app_checkbox + span {
        width: 16px;
        height: 16px;
        border: 1px solid #dcddde;
        border-radius: 100%;
        color: transparent;
    }

    .openerp_enterprise_pricing_app .openerp_enterprise_pricing_app_container .openerp_enterprise_trial_app_checkbox:checked + span {
        border: 1px solid #27a664;
        background: #2CBB70;
        color: white;
        font-size: 12px;
        line-height: 1.3;
        text-shadow: 0 1px 0 #27a664, 0 -1px 0 #27a664, 1px 0 0 #27a664, -1px 0 0 #27a664;
    }

    .openerp_enterprise_pricing_app, .openerp_enterprise_pricing_app label {
        cursor: pointer;
    }

        .openerp_enterprise_pricing_app .openerp_enterprise_pricing_app_container {
            border-top: 1px solid #F2F2F2;
            user-select: none;
        }

            .openerp_enterprise_pricing_app .openerp_enterprise_pricing_app_container .openerp_enterprise_pricing_app_name {
                font-size: 0.85em;
                line-height: 1.25;
            }

    .mt0 {
        margin-top: 0px !important;
    }

    .img-fluid, .img-responsive {
        max-width: 100%;
        height: auto;
    }

    img {
        vertical-align: middle;
        border-style: none;
    }

    .m-2 {
        margin: 0.5rem !important;
    }

    .w-25 {
        width: 25% !important;
    }

    .card, .panel, .well, div.o_forum .o_forum_user_bio_expand, div.o_forum .o_forum_user_detail_card {
        position: relative;
        /*display: -webkit-box;
        display: -webkit-flex;
        display: flex;*/
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        /*-webkit-flex-direction: column;*/
        /*flex-direction: column;*/
        min-width: 0;
        word-wrap: break-word;
        background-color: white;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, 0.125);
        border-radius: 0.125rem;
    }

    .d-flex {
        /*display: -webkit-box !important;
        display: -webkit-flex !important;*/
        display: flex !important;
    }

    .flex-row {
        flex-direction: row !important;
    }

    .openerp_enterprise_pricing_app .openerp_enterprise_pricing_app_container {
        border-top: 1px solid #F2F2F2;
        user-select: none;
    }

    .card, .panel, .well, div.o_forum .o_forum_user_bio_expand, div.o_forum .o_forum_user_detail_card {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.17);
    }

    .pr-2, .px-2 {
        padding-right: 0.5rem !important;
    }

    .w-100 {
        width: 100% !important;
    }

    .align-items-center {
        align-items: center !important;
    }
    /* The popup chat - hidden by default */
    .chat-popup {
        display: none;
        position: fixed;
        /* bottom: 0; */
        top: 176px;
        /* right: 15px; */
        /* margin-top: 32px !important; */
        border: 3px solid #f1f1f1;
        z-index: 9;
        width: 263px;
        left: 423px;
    }

    .app-div {
        /* width: 249px !important; */
        padding: 5px 5px 5px 5px;
    }
</style>
<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
    <div class="m-stack m-stack--hor m-stack--desktop">
        <div class="m-stack__item m-stack__item--fluid">

            <div class="m-login__wrapper" style="padding-top: 0px !important;">

                <div class="m-login__logo">
                    <a href="#">
                        <img src="/Content/assets/app/media/img/logos/xKubuni_PDE.png" style="height: 75px;">
                    </a>
                </div>
                <div class="m-login__signup" id="signup1" style="display:block !important">
                    <div class="m-login__head">
                        <h3 class="m-login__title">Select Application</h3>
                    </div>

                    @if (Model.appInfo != null)
                    {
                        foreach (var items in Model.appInfo)
                        {
                            <div class="row" style="transition-delay: 100ms;">

                                <label class="col-sm-8 d-flex openerp_enterprise_pricing_app oe-app lbl-chk" onclick="openForm()" data-app="@items.appName.Replace(" ","").ToLower()" for="app_@items.appName.Replace(" ","").ToLower()">
                                    <div class="card openerp_enterprise_pricing_app_container d-flex w-100 align-items-center flex-row pr-2">
                                        <div class="openerp_enterprise_pricing_app_icon w-25 m-2">
                                            <img class="img-fluid" src="~/Content/Images/@items.appImage" @*title="Odoo CRM icon"*@>
                                        </div>
                                        <div class="openerp_enterprise_pricing_app_name mr-2 flex-grow-1">
                                            <span class="openerp_enterprise_pricing_app_real_name mt0">
                                                <span class="fw_semibold" data-id="@items.appId">@items.appName</span>
                                            </span>
                                        </div>
                                        <div>
                                            <input type="checkbox" class="openerp_enterprise_trial_app_checkbox d-none" name="app_@items.appName.Replace(" ","").ToLower()" id="app_@items.appName.Replace(" ","").ToLower()" data-app="@items.appName" data-title="@items.appName" data-icon="~/Content/Images/@items.appImage">
                                            <span class="fa fa-check text-center"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        }
                    }

                    @*<div class="m-login__form-action">
                            <input type="button" value="Open" class="open-button" onclick="openForm()" />
                            <input type="button" value="Continue" id="m_application_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" />
                        </div>*@
                    <div class="chat-popup" id="myForm">
                        <div class="app-div">
                            <h6>
                                <span id="count"></span>App selected
                            </h6>

                            <ul class="list-unstyled"><li class="fw_semibold"><img height="16" class="mr4" src="//download.odoo.com/icons/crm/static/description/icon.png">CRM</li></ul>
                            <div class="openerp_enterprise_multi_trial_message alert mb16 mt24 alert-success"><b>Free</b>, with <b>unlimited</b> users, <b>forever</b>.</div>

                            <button id="m_application_signup_submit" type="button" class="btn btn-primary btn-block openerp_enterprise_validate_trial" style="position: relative; overflow: hidden;">Configure <i class="fa fa-chevron-right"></i></button>
                        </div>
                    </div>

                </div>
                <div class="m-login__signup" id="signup2" @*style="display:block !important"*@>
                    <div class="m-login__head">
                        <h3 class="m-login__title">Sign Up</h3>
                        <div class="m-login__desc">Enter your details to create your account:</div>
                        @if (TempData["RegSuccessMessage"] != null)
                        {
                            <div class="alert success">@TempData["RegSuccessMessage"]</div>
                        }
                    </div>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "m-login__form m-form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(m => m.appid)
                        @*<div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <span class="m-form__help">We'll never share your email with anyone else.</span>
                            </div>*@
                        <div class="row">
                            <div class="col-sm-6 form-group m-form__group">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control m-input", @placeholder = "First Name" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            <div class="col-sm-6 form-group m-form__group">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control m-input", @placeholder = "Last Name" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group m-form__group">
                                <input class="form-control m-input" type="text" placeholder="Job Title" name="JobTitle">
                            </div>

                            <div class="col-sm-6 form-group m-form__group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control m-input", @placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="row">
                            @*<div class="col-sm-6 form-group m-form__group">
                                    <input class="form-control m-input" type="text" placeholder="Fullname" name="fullname">
                                </div>*@
                            <div class="col-sm-6 form-group m-form__group">
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control m-input", @placeholder = "Phone" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            <div class="col-sm-6 form-group m-form__group">
                                @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control m-input", @placeholder = "Company Name" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group m-form__group">
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control m-input", @placeholder = "Address" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group m-form__group">
                                @Html.TextBoxFor(m => m.City, new { @class = "form-control m-input", @placeholder = "City" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            <div class="col-sm-6 form-group m-form__group">
                                @Html.DropDownListFor(m => m.StateId, new SelectList(Model.StateList, "Value", "Text"), new { @class = "form-control m-input", @placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group m-form__group">
                                @Html.DropDownListFor(m => m.CountryId, new SelectList(Model.CountryList, "Value", "Text"), "-Select Country-", new { @class = "form-control m-input", @placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            <div class="col-sm-6 form-group m-form__group">
                                @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control m-input", @placeholder = "Zip Code" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>

                        <div class="row form-group m-form__group m-login__form-sub">
                            <div class="col m--align-left">
                                <label class="m-checkbox m-checkbox--focus">
                                    <input type="checkbox" name="agree"> I Agree the <a href="#" class="m-link m-link--focus">terms and conditions</a>.
                                    <span></span>
                                </label>
                                <span class="m-form__help"></span>
                            </div>
                        </div>
                        <div class="m-login__form-action">
                            <button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" style="padding-right:2em !important">Sign Up</button>
                            <input type="button" id="input-cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom" style="padding-right:2em !important" @*onclick="window.location.href='@Url.Action("Login", "Account")';"*@ value="< Change app selection" />
                        </div>
                    }
                </div>


            </div>

        </div>

    </div>
</div>

@*<style>
        .boxcheck {
            line-height: 22px;
            margin-top: 15px;
        }

        .mail {
            color: #3498db;
            font-weight: bold;
            font-size: 18px;
        }
    </style>
    <div class="bg">
        <div class="container-fluid">
            <div class="row">
                <div class="bgtext">
                </div>
            </div>
        </div>
    </div>
    <div class="questionsection questionsectionresponsive">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="contentarea">
                        <div class="surveytitle">
                            <h5>Sign Up</h5>
                        </div>
                        <section class="registerForm">
                            @if (TempData["RegErrorMessage"] != null)
                            {
                                <div class="alert alert-danger">@TempData["RegErrorMessage"]</div>
                            }
                            @if (TempData["RegSuccessMessage"] != null)
                            {
                                <div class="alert alert-success">@TempData["RegSuccessMessage"]</div>
                            }
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="regstr-top">
                                    <div class="row" id="headerDiv">
                                        <div class="col-md-2 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label class="register-as">Register As:</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-sm-4 col-xs-12">
                                            <div class="input-group" style="margin-bottom:5px;">
                                                <span class="input-group-addon">
                                                    <input type="radio" aria-label="..." name="registerAs" id="admin" checked="checked">
                                                </span>
                                                <label class="form-control" for="admin">User Admin</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-sm-4 col-xs-12">
                                            <div class="input-group" style="margin-bottom: 10px;">
                                                <span class="input-group-addon">
                                                    <input type="radio" aria-label="..." name="registerAs" id="user">
                                                </span>
                                                <label class="form-control" for="user">Respondent</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-4 col-xs-12">
                                            <div class="input-group" style="margin-bottom: 10px;">
                                                <span class="input-group-addon">
                                                    <input type="radio" aria-label="..." name="registerAs" id="panel">
                                                </span>
                                                <label class="form-control" for="panel">Panel Provider</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-4 col-xs-12">
                                            <div class="input-group" style="margin-bottom: 10px;">
                                                <span class="input-group-addon">
                                                    <input type="radio" aria-label="..." name="registerAs" id="field">
                                                </span>
                                                <label class="form-control" for="field">Field Service</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-area-content">
                                    <div class="wizard-step" data-wizardcount="1" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.FirstName)
                                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", tabindex = "1" })
                                                    @Html.ValidationMessageFor(m => m.FirstName)
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.LastName)
                                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", tabindex = "2" })
                                                    @Html.ValidationMessageFor(m => m.LastName)
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.Password)
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", tabindex = "6" })
                                                    @Html.ValidationMessageFor(m => m.Password)
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.ConfirmPassword)
                                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", tabindex = "7" })
                                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                                </div>

                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.Email)
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", tabindex = "5" })
                                                    @Html.ValidationMessageFor(m => m.Email)
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.SecurityQuestion)
                                                    @Html.TextBoxFor(m => m.SecurityQuestion, new { @class = "form-control", tabindex = "8" })
                                                    @Html.ValidationMessageFor(m => m.SecurityQuestion)
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.AnswerToSecurityQuestion)
                                                    @Html.TextBoxFor(m => m.AnswerToSecurityQuestion, new { @class = "form-control", tabindex = "9" })
                                                    @Html.ValidationMessageFor(m => m.AnswerToSecurityQuestion)
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.CountryOfResidenceId)
                                                    @Html.DropDownListFor(m => m.CountryOfResidenceId, Model.CountryList, "Select", new { @class = "form-control", tabindex = "10" })
                                                    @Html.ValidationMessageFor(m => m.CountryOfResidenceId)
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.LanguageId)
                                                    @Html.DropDownListFor(m => m.LanguageId, Model.LanguageList, "Select", new { @class = "form-control", tabindex = "11" })
                                                    @Html.ValidationMessageFor(m => m.LanguageId)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wizard-step" data-wizardcount="2" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.CompanyName)
                                                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", tabindex = "1" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.CountryId)
                                                    @Html.DropDownListFor(m => m.CountryId, Model.CountryList, "Select", new { @class = "form-control", tabindex = "3" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.City)
                                                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", tabindex = "5" })
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.Address)
                                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", tabindex = "2" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.StateId)
                                                    @Html.DropDownListFor(m => m.StateId, Model.StateList, "Select", new { @class = "form-control", tabindex = "4" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.PhoneNumber)
                                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", tabindex = "6" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wizard-step confirm" data-wizardcount="3" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12 boxcheck">
                                                <p>Asterisks (*) indicate fields required to complete this transaction. This data, at any time revocable by you, may be stored by XDM or an affiliate on an international server and used by XDM or an affiliate.By clicking 'submit', you agree that XDM may process your data in the manner indicated above and as described in our</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12 col-xs-12 col-sm-12 boxcheck">
                                                    @Html.CheckBoxFor(m => m.sendEmail, new { @tabindex = "2" })
                                                    <span class="mail">E-mail: </span>Yes, please have XDM or an affiliate send me e-mail. E-mail: Stay informed about XDM products, services, and other offerings! If you want to stay informed by e-mail, please let us know by ticking the box below.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12 col-sm-12 col-xs-12 boxcheck">
                                                    @Html.CheckBoxFor(m => m.OtherCommunications, new { @tabindex = "5" })
                                                    <span class="mail">Other communications:</span> Please do not use the information I have provided here. Other communications: XDM or an affiliate or selected organizations may keep you informed about XDM related products, services and other offerings through ways other than e-mail, for example, by telephone or postal mail. If you do not want us to use the information you provided here to keep you informed through other ways, please indicate in the box below.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-12 ">
                                            <div class="footer1">
                                                <nav>
                                                    <ul class="pager">
                                                        <li class="previous"><a href="javascript:;" id="back-step" style="padding: 10px 14px; background: #3498db; color: white; border-radius: 0;"><span aria-hidden="true">&larr;</span> Back</a></li>
                                                        <li class="next"><a href="javascript:;" id="next-step" style="padding: 10px 14px; background: #3498db; color: white; border-radius: 0;">Continue <span aria-hidden="true">&rarr;</span></a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                            <input type="hidden" value="admin" name="hdnRole" id="hdnRole" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script>

        $(document).ready(function () {
            $('#CountryId').on('change', function () {
                var CId = $('#CountryId').val();
                ajaxCall(CId);
            });
            $('#FirstName').focus();
            $('[name=registerAs]').on('change', function () {
                $('#hdnRole').val($(this).attr('Id'));
            });
            $('input[name=Gender]').removeAttr('checked');
        });

        function ajaxCall(CId) {
            CId = parseInt(CId);

            $.ajax({

                url: '@Url.Content("~/Account/BindState")',
                contentType: "application/json;",
                dataType: "json",
                type: "GET",
                data: { cId: CId },
                success: function (data) {
                    $("#StateId").empty();
                    $("#StateId").get(0).options[0] = new Option("-Select-", "-1");
                    $.each(data, function (index, item) {
                        $("#StateId").get(0).options[$("#StateId").get(0).options.length] = new Option(item.Text, item.Value);
                    });
                    $("#StateId").val(data[0].Value);

                },
                error: function () {

                }
            });
        }


        $(function () {
            $.noConflict();
            $(".wizard-step:first").fadeIn();
            $("#back-step").hide().click(function () {
                var $step = $(".wizard-step:visible"); /
                if ($step.prev().hasClass("wizard-step")) {
                    $step.hide().prev().fadeIn();


                    if (!$step.prev().prev().hasClass("wizard-step")) {
                        $("#back-step").hide();
                    }
                }
                $('#next-step').html('Next <span aria-hidden="true">&rarr;</span>');
                ManageBreadcrumb();
            });
            $("#next-step").click(function () {
                var $step = $(".wizard-step:visible");
                if ($step.next().hasClass('confirm'))
                    $('#next-step').text('Finish');
                var anyError = false;
                if ($step.next().hasClass("wizard-step")) {
                    var validator = $("form").validate();

                    $step.find("input,select").each(function () {
                        if (validator.elements()) {
                            if (!validator.element(this)) {
                                anyError = true;
                            }
                        }
                    });
                }
                if (anyError)
                    return false;

                if ($step.next().hasClass("wizard-step")) {
                    $step.hide().next().fadeIn();
                    $("#back-step").show();
                }

                else {
                    $("form").submit();
                }
                ManageBreadcrumb();
            });

        });

        function ManageBreadcrumb() {
            var $step = $(".wizard-step:visible");
            var id = $step.attr('data-wizardcount');
            if (id == '1') {
                $('#headerDiv').show();
            }
            else {
                $('#headerDiv').hide();
            }
        }
    </script>*@


<script>
    $("#m_application_signup_submit").click(function () {
        $("#signup1").hide();
        $("#signup2").show();
    })

    function openForm() {
        var appinfo = new Array();
        var count = 0;
        var html = "";
        var lbl = $(".lbl-chk").length;
        $(".list-unstyled").empty();
        for (var i = 0; i < lbl; i++) {
            if ($(".lbl-chk:nth(" + i + ")").find('input[type=checkbox]').is(':checked') == true) {
                count++;
                var appid = $(".lbl-chk:nth(" + i + ")").find('.fw_semibold').attr('data-id');
                var img = $(".lbl-chk:nth(" + i + ")").find('img').attr('src');
                var name = $(".lbl-chk:nth(" + i + ")").find('.fw_semibold').html();
                html += '<li class="fw_semibold"><img height="16" class="mr4" src="' + img + '">' + ' ' + name + '</li>';
                appinfo.push({"appId": appid });
            }
        }
        if (count > 0) {
            $("#count").html(count);
            $(".list-unstyled").append(html);
            document.getElementById("myForm").style.display = "block";
        }
        else {
            document.getElementById("myForm").style.display = "none";
        }
        var Ids = JSON.stringify(appinfo);
        $("#appid").val(Ids);
    }

    $("#input-cancel").click(function () {
        $("#signup2").hide();
        $("#signup1").show();
    })


        function ajaxCall(CId) {
        CId = parseInt(CId);

        $.ajax({

            url: '@Url.Content("~/Account/BindState")',
            contentType: "application/json;",
            dataType: "json",
            type: "GET",
            data: { cId: CId },
            success: function (data) {
                $("#StateId").empty();
                $("#StateId").get(0).options[0] = new Option("-Select State-", "-1");
                $.each(data, function (index, item) {
                    $("#StateId").get(0).options[$("#StateId").get(0).options.length] = new Option(item.Text, item.Value);
                });
                $("#StateId").val(data[0].Value);

            },
            error: function () {

            }
        });
    }
        $(document).ready(function () {
            $('#CountryId').on('change', function () {
                var CId = $('#CountryId').val();
                ajaxCall(CId);
            });
        });

</script>