﻿@model SurveyProject.Models.ManageProjectModel
@{
    ViewBag.Title = "_PartialProjectList";
    Layout = null;
}
<style>
    .roottable2 > a {
        padding: 5px 0px 5px 30px;
        width: 290px;
        display: block;
        color: #232323;
        font-size: 14px;
        line-height: 16px;
        text-decoration: none;
    }

    .close {
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        text-shadow: none;
        opacity: initial;
    }

    .active {
        background-color: #fff;
        background-image: url('~/Content/Images/checkimg.PNG');
        background-size: 20px 24px;
        background-repeat: no-repeat;
    }

    .tooltip top {
        width: auto;
        height: auto;
    }

    .tooltip-arrow {
    }

    .tooltip-inner {
        width: auto;
        height: auto;
        background: rgba(5,1,2,.75);
    }

    .tooltip {
        width: auto;
        height: auto;
        margin-left: -30px;
        z-index: 999999 !important;
        position: fixed;
    }

        .tooltip.top {
            z-index: 9999;
        }

    .root-sub > li:before {
        content: "\f0da";
        font: normal normal normal 14px/1 FontAwesome;
        display: inline-block;
        float: left;
        margin-right: 10px;
    }

    .root-sub > li.fa-toggle:before {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
    }

    .root-sub ul {
        display: none;
    }



    .folder-template {
        padding: 10px;
        background-color: #fff;
        overflow: hidden;
        border-bottom: 1px solid #ccc;
        min-height: 20px;
    }

    .add-folder-button {
        width: 100%;
        clear: both;
        padding: 10px;
        background-color: #fff;
        overflow: hidden;
    }

    .modalstyle {
        font-size: medium;
        border-radius: 5px;
        background-color: rgb(234, 234, 232);
        padding: 12px;
        background-clip: padding-box;
        margin: 20px;
    }

    .modal-header {
        padding: 8px 23px;
        background: rgb(40, 96, 144) none repeat scroll 0% 0%;
        color: rgb(255, 255, 255);
    }

    .modal-content {
        border: 4px solid rgb(40, 96, 144);
    }

    .notranslate {
        font-weight: 600;
    }

    .ansdir {
        float: right;
    }

    .dirstyle {
        float: left;
    }

    .folder-line span {
        display: block;
    }

    .option-menu li {
        display: block;
        width: 100%;
        float: left;
        padding: 5px 13px;
        border-bottom: 1px solid #ccc;
        font-weight: 400 !important;
    }

    .disabled {
        cursor: default !important;
        opacity: 0.5;
    }

    .mainstylesurvey {
        height: 182px;
        max-height: 182px;
        overflow-y: auto;
        background: #eaeaea;
    }

    .MainsurveysList > tbody > tr > td {
        border-bottom: 1px solid #fbf9f9;
        padding: 6px 10px;
        line-height: 18px;
        background: #eaeaea;
    }
</style>
<input type="hidden" id="hdnProjectCount" name="hdnProjectCount" value="@ViewBag.TotalProjectCount" />


<div class="hdr dark" style="width: 100%; overflow: hidden">
    <h2 class="folder-name"><span id="hdrCommonSurvey">All surveys</span></h2>

    <div class="slist">
        @*Get dynamic folder list *@
    </div>

    <div class="folders">
        <a class="btn no-border" href="javascript:;">
            <span class="smf-icon"><span class="drop-icon"><i class="fa fa-caret-down"></i></span></span>
            <span class="view-manage-folders tooltip hide" style="left: -61.5px; display: none;">View and manage folders</span>
        </a>
        <div class="option-menu folders-menu hide" id="filter-by-folder-menu" style="min-height: 300px">
            <ul>
                <li class="list-item">
                    <a data-title="All surveys" opt-value="-1" class="option selected">
                        <div class="folder-line">
                            <span class="title">All surveys</span>
                            <span class="assign-count notranslate">@Model.lstProjectModel.Count</span>
                        </div>
                    </a>
                </li>
                @*  @if (Model.lstUserDirectoryModel != null)
                    {
                        foreach (var item in Model.lstUserDirectoryModel)
                        {
                        <li class="list-item">
                            <a data-title="Surveys not filed" opt-value="0" class="option">
                                <div class="folder-line">
                                    <span class="title">@item.DirName</span>
                                    <span class="assign-count notranslate">count</span>
                                </div>
                            </a>
                        </li>
                        }
                    }*@
            </ul>

            <div class="buttons">
                <button class="manage-folders btn btn-small grey" type="button" data-toggle="modal" data-target="#ManageFolderPopup">Manage Folders</button>
            </div>

        </div>
    </div>
    <div class="folders">
        <a class="btn folder-actions no-border not-selected" href="javascript:;" style="margin-top: 3px">
            <span class="smf-icon"><i class="fa fa-folder"></i></span>
            <span class="organize tooltip hide" style="left: -55px; display: block;">Organize your surveys</span>
            <span class="finished tooltip" style="left: -45.5px; display: none;">Finished organizing</span>
        </a>
    </div>


</div>





<div class="folder-toggle" id="folderdiv">
    <div class="inner-new">
        @*<table width="100%" border="0">

              <tr  class="head">
                <td>Title</td>
                <td>Modified</td>
                <td  align="center">Responses</td>
                <td>Actions</td>
              </tr>

              <tr>
                <td>
                <span class="test-survey"><a href="">Test Survey</a></span>
                <span>Created 3/25/2016</span>
                </td>
                <td>4/18/2016</td>
                <td  align="center">0</td>
                <td><i class="fa fa-edit"></i></td>
              </tr>

                <tr>
                <td>
                <span class="test-survey"><a href="">Test Survey</a></span>
                <span>Created 3/25/2016</span>
                </td>
                <td>4/18/2016</td>
                <td  align="center">0</td>
                <td><i class="fa fa-edit"></i></td>
              </tr>
              <tr>
                <td>
                <span class="test-survey"><a href="">Test Survey</a></span>
                <span>Created 3/25/2016</span>
                </td>
                <td>4/18/2016</td>
                <td  align="center">0</td>
                <td><i class="fa fa-edit"></i></td>
              </tr>



            </table>*@
        <table class="surveysList" style="width: 100%;">
            <thead style="background: #286090; width: 100%;">
                <tr>
                    <th class="mt-chbx">
                        <input type="checkbox" class="select-all">
                    </th>
                    <th data-column-name="title" class="sort title hide">
                        Title
                        <span class="smf-icon desc">&ndash; </span>
                        <span class="smf-icon asc">&mdash; </span>
                    </th>
                    <th data-column-name="date_modified" class="sort sorting desc date-modified hide">
                        Modified
                        <span class="smf-icon desc">&ndash; </span>
                        <span class="smf-icon asc">&mdash; </span>
                    </th>
                    <th data-column-name="num_responses" class="sort num-responses hide">
                        Responses
                        <span class="smf-icon desc">&ndash; </span>
                        <span class="smf-icon asc">&mdash; </span>
                    </th>
                    <th class="last hide">Actions</th>
                    <th colspan="4" class="move-surveys-row last">
                        <div class="folders">
                            <a class="btn btn-default no-border disabled" href="#move-to" id="moveto_toggle">
                                <span class="">Move to  <i class="fa fa-caret-down"></i></span>

                            </a>
                            <div class="option-menu" id="move-to-menu" style="display: none; width: 55%; position: absolute; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden;">
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<div class="mainstylesurvey" style="display: none;">
    <table class="MainsurveysList" style="width: 100%;">
        <thead style="background: #286090; width: 100%;">
            <tr>
                <th style="padding: 10px 10px; width: 100%; color: #fff; height: 35px;">
                    Title
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="modal fade" id="ManageFolderPopup" tabindex="-1" role="dialog" aria-labelledby="chooseLanguageLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-size: 16px; font-weight: 800; text-transform: capitalize;" id="proposalLabel" data-name="">
                    <br />
                </h4>
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" style="margin-top: -22px;"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
            </div>
            <div class="modal-body modalstyle" style="font-size: medium;" id="ManageFolderPopupBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ManageProjectsPopup" tabindex="-1" role="dialog" aria-labelledby="chooseLanguageLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 464px;">
        <div class="modal-content" style="border: 4px solid rgb(96, 128, 61);">
            <div class="modal-header" style="background: rgb(96, 128, 61) none repeat scroll 0% 0%;">
                <h4 class="modal-title" style="font-size: 16px; font-weight: 800; text-transform: capitalize;" id="ManageProjectsPopupTitle" data-name="">
                    <br />
                </h4>
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" style="margin-top: -22px;"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
            </div>
            <div class="modal-body modalstyle" style="font-size: medium;" id="ManageProjectsPopupBody">
            </div>
            <input type="hidden" id="hdnUnassignedProject" name="hdnUnassignedProject" value="" />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="UnassignProjectFromDirectory();">Done</button>
            </div>
        </div>
    </div>
</div>
<div class="all-project">
    @if (Model.lstSuperProjectModel != null && Model.lstSuperProjectModel.Count > 0)
    {


        <ul class="root root-sub">
            <p><i class="fa fa-folder fa-toggle"></i>&nbsp;<span data-name="Projects">Projects</span></p>
            @foreach (var item in Model.lstSuperProjectModel)
            {
                <li id="SuperProject_@item.Id" class="superProject" style="position:relative;cursor:pointer">
                    @(!String.IsNullOrEmpty(item.ProjectName) ? (item.ProjectName.Length > 23 ? System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.ProjectName.ToLower().Substring(0, 23)) + "..." : System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.ProjectName.ToLower())) : "")    @* data-toggle="tooltip" data-placement="top"  title="@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.ProjectName.ToLower())"*@
                    <div class="tooltip-custom">
                        <a href="javascript:;">@item.ProjectName</a>
                    </div>

                    <a href="@Url.Content("~/Admin/SuperProjectSettings?SPId="+item.Id+"")" data-surveyType="@item.Id" style="position:absolute; width:38px; right:44px;" title="Settings">&nbsp;<i class="fa fa-cog" style="margin-left: 0px">&nbsp;|&nbsp;</i></a>
                    <a title="Edit" href="@Url.Content("~/Admin/CreateProject?projId="+item.Id+"&ST=2")" data-surveyType="@item.Id" style="position:absolute; width:20px; right:35px;"><i class="fa fa-pencil" style="margin-left: 0px">&nbsp;|</i></a>
                    <a href="@Url.Content("~/Admin/DeleteSuperProject?id="+item.Id+"")" data-surveyType="@item.Id" style="position:absolute; width:25px; right:10px;" title="Delete" onclick="return confirm('Are you sure to delete?')">&nbsp;<i class="fa fa-trash" style="margin-left: 0px"></i></a>
                </li>
                <ul style="margin-left: 20px;">
                    @if (item.ProjectListModel != null && item.ProjectListModel.Count > 0)
                    {
                        foreach (var nestedItem in item.ProjectListModel)
                        {
                            <li id="SubProject_@nestedItem.Id" data-id="@nestedItem.SuperProjectId" data-guid="@nestedItem.ProjectGuid" class="projects childSurvey">
                                <a href="~/Admin/QuestionList?id=@(nestedItem.Id)&projectType=@(nestedItem.ProjectType)" data-surveyType="@nestedItem.ProjectType" data-subSurveyId="@nestedItem.Id" data-ProductsCount="@nestedItem.ProductsCount" style="display:block;" data-toggle="tooltip" data-placement="top" title="@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(nestedItem.ProjectName.ToLower())">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-file"></i> @(!String.IsNullOrEmpty(nestedItem.ProjectName) ? (nestedItem.ProjectName.Length > 28 ? System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(nestedItem.ProjectName.ToLower().Substring(0, 28)) + "..." : System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(nestedItem.ProjectName.ToLower())) : "")</a>
                            </li>
                        }
                    }
                    <li style="margin-bottom: 10px; border-bottom: 1px solid #337ab7">
                        <a href="@Url.Content("~/Admin/CreateProject?SPId="+item.Id+"")" data-surveyType="@item.Id" style="display:block;" data-toggle="tooltip" data-placement="top"><i class="fa fa-plus"></i>&nbsp;Add New</a>
                    </li>
                </ul>
            }
        </ul>
    }


    @if (Model.lstProjectModel != null && Model.lstProjectModel.Count > 0)
    {
        <ul class="root normalSurveys">
            @foreach (var item in Model.lstProjectModel)
            {
                <li id="Project_@item.Id" data-id="0" class="projects"><a data-surveyId="@item.Id" href="~/Admin/QuestionList?id=@(item.Id)&projectType=@(item.ProjectType)" data-surveyType="@item.ProjectType" style="display:block;" data-toggle="tooltip" data-placement="top" title="@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.ProjectName.ToLower())">&nbsp;&nbsp;<i class="fa fa-file"></i> @(!String.IsNullOrEmpty(item.ProjectName) ? (item.ProjectName.Length > 28 ? System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.ProjectName.ToLower().Substring(0, 28)) + "..." : System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.ProjectName.ToLower())) : "")</a></li>
            }
        </ul>
    }

</div>
<script>
    function getProject() {

    }
</script>
<script type="text/javascript">


    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $(document).ready(function () {
        LoadallDirectoryData();
        LoadAllProjectWithDirectories(0, "All surveys");
        $(".drop-icon").click(function () {
            $(".slist").toggle();
            $(".folder-toggle").hide();
        });

        $(".folder-actions").click(function () {
            $(".folder-toggle").toggle();
            $(".slist").hide();
        });
        $("#moveto_toggle").click(function () {
            $("#move-to-menu").toggle();
        });


        $('.root-sub li').on('click', function () {
            if ($(this).hasClass('superProject')) {
                $('.root-sub li').removeClass('active');
                $('.root-sub li').removeClass('active-super');
                $('.projects').removeClass('active');
                $(this).next('ul').slideToggle(300);
                $(this).toggleClass('fa-toggle');
                var superprojectid = $(this).attr('id').split('_')[1];
                localStorage.setItem('superprojectId', superprojectid);
                localStorage.setItem('active', null);
                $("#SuperProject_" + superprojectid).addClass('active-super');

                $("#mailing").attr('href', GetPath('/Admin/ProjectMailing?id=' + $("#SuperProject_" + superprojectid).next().children().eq(0).attr('id').split('_')[1] + '&SPId=' + superprojectid + ''));
                $("#productPos").attr('href', GetPath('/Admin/ManageProductPosition/' + superprojectid + ''));
                $("#productPos").show();

                // Override the links that are not for Super Surveys
                $("#stats").attr('href', 'javascript:;');
                //$("#mailing").attr('href', 'javascript:;');
                $("#preview").attr('href', 'javascript:;');
                $("#layout").attr('href', 'javascript:;');
                $("#completion").attr('href', 'javascript:;');
                $("#startUp").attr('href', 'javascript:;');
                $("#susrveySettings").attr('href', 'javascript:;');
                $("#responses").attr('href', 'javascript:;');
                $("#ques").attr('href', 'javascript:;');
                $("#ans").attr('href', 'javascript:;');
                $("#quota").attr('href', 'javascript:;');
                $("#displayOrder").attr('href', 'javascript:;');
                $("#displayOrderOption").attr('href', 'javascript:;');
                $("#edit").attr('href', 'javascript:;');
                $("#delete").attr('href', 'javascript:;');
                $("#summary").attr('href', 'javascript:;');
                $("#questionGroups").attr('href', 'javascript:;');
                $("#pagesRandomization").attr('href', 'javascript:;');
                $("#questionsRandomization").attr('href', 'javascript:;');
                //$("#productPos").attr('href', 'javascript:;');

                $('.lm-sub-menu a').each(function () {
                    if ($(this).attr('href').indexOf('javascript') != -1) {
                        var anchorTitle = $(this).html();
                        $(this).attr('onclick', 'return alert("' + anchorTitle + ' is not available for Project")');
                        //$(this).remove();
                    }
                })
            }
        });



        $('li[id*="SuperProject_"]').on('mouseenter', function () {
            $(this).find('.tooltip-custom').show();
        });
        $('li[id*="SuperProject_"]').on('mouseleave', function () {
            $(this).find('.tooltip-custom').hide()
        });
    });

    //----------Create Directory
    function SaveNewFolder(caller) {
        var foldName = $(caller).parent().find('input.folderName').val();
        $.ajax({
            type: 'POST',
            url: GetPath('/Admin/CreateUserDirectory'),
            data: JSON.stringify({ dirName: foldName, id: $(caller).attr('data-folder') }),
            dataType: 'json',
            contentType: 'application/json',
            success: function (resp) {
                $('div[class*="edit-title-form_"]').css('display', 'none');
                $('.add-folder-form').hide();
                LoadallDirectoryData();
            },
            error: function (resp) { },
            complete: function () { }
        });
    }

    function AssignToDirectory(caller) {
        var folderId = $(caller).attr('data-folderId');
        var xml = '<root>';
        var selectProj = false;
        $('table.surveysList>tbody>tr').each(function () {
            if ($(this).find('input.checkbox').prop('checked')) {
                selectProj = true;
                xml += '<DirectoryXml><Id>' + $(this).attr('data-foldId') + '</Id><ProjectId>' + $(this).find('input.checkbox').val() + '</ProjectId><DirectoryId>' + folderId + '</DirectoryId><IsSuper>' + $(this).attr('IsSuper') + '</IsSuper></DirectoryXml>';
            }
        });
        xml += '</root>';
        if (selectProj) {
            $.ajax({
                url: GetPath('/Admin/ProjectDirectories_InsertUpdate'),
                type: 'GET',
                data: { directoryXml: xml },
                dataType: 'json',
                contentType: 'application/json',
                success: function (resp) {
                    var jsonData = JSON.parse(resp);
                    if (jsonData.Status == 1) {
                        window.location.href = GetPath('/Admin/ProjectList');
                    }
                    else {
                    }
                },
                error: function (resp) { },
                complete: function () {

                }
            });
        }
        else {
            alert("Please choose any project for assigning !!");
        }
    }

    function LoadallDirectoryData() {
        $.ajax({
            url: '/Admin/UserDirectoryList',
            type: 'GET',
            data: {},
            dataType: 'json',
            contentType: 'application/json',
            success: function (resp) {
                var jsonData = JSON.parse(resp);
                var divHtml = '';
                var listHtml = '<ul id="slistdiv"><li><a href="~/Admin/ProjectList?dir=0" >All Surveys<span>' + $('#hdnProjectCount').val() + '</span></a></li>';  //onclick="LoadAllProjectWithDirectories(0,\'All Surveys\')"
                var OptionMenuHtml = '<ul>';

                if (jsonData.length > 0) {
                    for (var i = 0; i <= jsonData.length - 1; i++) {
                        divHtml += '<div class="folder-template" folder-id="' + jsonData[i].Id + '"> <div class="info"><span class="smf-icon"><i class="fa fa-folder" aria-hidden="true"></i></span><div class="title notranslate">'
                            + jsonData[i].DirName + '</div><div class="assign-count"><span>Surveys: </span><span class="count notranslate">' + jsonData[i].AssignCount +
                            '</span></div><div class="actions"><a class="Project-title" onclick="LoadAllProjectWithDirectories(' + jsonData[i].Id + ',\'' + jsonData[i].DirName +
                            '\')" href="javascript:;" data-target="#ManageProjectsPopup"  data-toggle="modal" data-id="' + jsonData[i].Id +
                            '">Projects</a><span> | </span><a class="edit-title" href="javascript:;" data-id="' + jsonData[i].Id +
                            '">Edit</a><span> | </span><a class="delete-folder" onclick="DeleteFolder(' + jsonData[i].Id + ')" href="javascript:;" ' +
                            '>Delete</a></div></div><div class="edit-title-form_' + jsonData[i].Id + '" style="display:none;"><input type="text" maxlength="50" value="'
                            + jsonData[i].DirName + '" class="folderName"><button class="btn btn-small teal" type="button" onclick="SaveNewFolder(this)" data-folder="'
                            + jsonData[i].Id + '">Update<button class="btn btn-small cancel" type="button" style="margin-left:6px;">Cancel</button></button><div class="errmsg hide"></div></div><div class="delete-folder-form hide"><div> <div class="bold question">Delete the folder <span class="folder-name"></span>?</div>' +
                            '<div class="exiting-surveys-message">Any exiting surveys will remain in "All surveys" and "Surveys not filed".</div></div><div class="buttons"><a class="btn btn-small" href="javascript:;">Cancel</a>' +
                            '<a class="btn btn-small red delete" href="javascript:;">Delete</a></div></div></div>';

                        listHtml += '<li><a href="~/Admin/ProjectList?dir=' + jsonData[i].Id + '" >' + jsonData[i].DirName + '<span>' + jsonData[i].AssignCount + '</span></a></li>';  //onclick="LoadAllProjectWithDirectories(' + jsonData[i].Id + ',\'' + jsonData[i].DirName + '\')"

                        OptionMenuHtml += '<li class="list-item" style="cursor:pointer;" onclick="AssignToDirectory(this)" data-folderId="' + jsonData[i].Id +
                            '"><div class="folder-line"><span class="title notranslate dirstyle">' + jsonData[i].DirName + '</span><span class="assign-count notranslate ansdir">' +
                            jsonData[i].AssignCount + '</span></div></a></li>';
                    }
                }
                else {
                    divHtml += '<div class="folder-template"><div class="bold">You have no folders</div></div>';
                    listHtml += '<div class="folder-template"><div class="bold">You have no folders</div></div>';
                    OptionMenuHtml += '<div class="folder-template"><div class="bold">You have no folders</div></div>';
                }
                divHtml += '<div class="buttons add-folder-button"><a class="add-folder" href="javascript:;">+ New Folder</a></div><div class="add-folder-form">' +
                    '<input type="text" maxlength="50" value="" class="folderName"><div class="errmsg"></div><button class="btn btn-small cancel" type="button">Cancel</button>' +
                    '<button class="btn btn-success" onclick="SaveNewFolder(this)" data-folder="0" type="button">Save</button></div></div></div>';
                listHtml += '<li><button class="manage-folders btn btn-small grey" type="button" data-toggle="modal" data-target="#ManageFolderPopup">Manage Folders</button></li></ul>';
                OptionMenuHtml += ' </ul>';

                $('#ManageFolderPopupBody').html(divHtml);
                $('div.slist').html(listHtml);
                $('div.option-menu').html(OptionMenuHtml);
            },
            error: function (resp) { },
            complete: function () {
                $('.add-folder-form').hide();
                $('.add-folder').on('click', function () {
                    $('.add-folder-form').show();
                });

                $('.edit-title').on('click', function () {
                    var id = $(this).attr('data-id');
                    $('.edit-title-form_' + id).css('display', 'block');
                    $('.edit-title-form_' + id).parent('.folder-template').find('.info').css('display', 'none');
                })

                $('.cancel').on('click', function () {
                    $('div[class*="edit-title-form_"]').css('display', 'none');
                    $('div[class*="edit-title-form_"]').parent('.folder-template').find('.info').css('display', 'block');
                    $('.add-folder-form').hide();
                });

                $('#slistdiv').slimScroll({
                    height: '240px'
                });
            }
        });
    }

    function DeleteFolder(dirId) {
        if (confirm('Are you sure to delete')) {
            $.ajax({
                url: GetPath('/Admin/DeleteDirectory'),
                type: 'GET',
                data: { id: dirId },
                dataType: 'json',
                contentType: 'application/json',
                success: function (resp) {
                    var jsonData = JSON.parse(resp);
                    if (jsonData.Status == 1) {
                        LoadallDirectoryData();
                    }
                    else {
                    }
                },
                error: function (resp) { },
                complete: function () {

                }
            });
        }
    }

    function LoadAllProjectWithDirectories(dirId, dirName) {
        // window.location.href = "/Admin/ProjectList?directoryId=" + dirId;
        $.ajax({
            url: "@Url.Content("~/Admin/ProjectDirectories_LoadAll")",
            type: 'GET',
            data: { dir: dirId },
            dataType: 'json',
            contentType: 'application/json',
            success: function (resp) {
                var jsonData = JSON.parse(resp);
                var projectHtml = '';
                var mainProjectHtml = '';
                var projectPopupHtml = '<table class="table table-striped"><thead><tr><th>Projects</th><th>Action</th></tr></thead><tbody>';
                var totLength = jsonData.lstSuperProjectModel.length + jsonData.lstProjectModel.length;
                if (jsonData.lstSuperProjectModel.length > 0) {
                    for (var i = 0; i <= jsonData.lstSuperProjectModel.length - 1; i++) {
                        projectHtml += '<tr id="' + jsonData.lstSuperProjectModel[i].Id + '" data-foldId="' + jsonData.lstSuperProjectModel[i].DirectoryIdCol + '" class="survey-row" IsSuper="true"><td class="mt-chbx"><input type="checkbox" value="'
                            + jsonData.lstSuperProjectModel[i].Id + '" class="checkbox"></td><td class="activity"><p class="notranslate not-merged"><a href="javascript:;" title="' +
                            jsonData.lstSuperProjectModel[i].ProjectName + '">' + jsonData.lstSuperProjectModel[i].ProjectName + '</a></p><br /><p><span class="SL_split">Created &nbsp;&nbsp;</span><span> ' +
                            jsonData.lstSuperProjectModel[i].CreatedOn + '</span></p></td></tr>';

                        mainProjectHtml += '<tr id="' + jsonData.lstSuperProjectModel[i].Id + '" data-foldId="' + jsonData.lstSuperProjectModel[i].DirectoryIdCol + '" class="survey-row" IsSuper="true"><td class="activity"><p class="notranslate not-merged"><a href="javascript:;" title="' +
                            jsonData.lstSuperProjectModel[i].ProjectName + '">' + jsonData.lstSuperProjectModel[i].ProjectName + '</a></p><br /><p><span class="SL_split">Created &nbsp;&nbsp;</span><span> ' +
                            jsonData.lstSuperProjectModel[i].CreatedOn + '</span></p></td></tr>';

                        projectPopupHtml += '<tr id="' + jsonData.lstSuperProjectModel[i].DirectoryIdCol + '"><td>' + jsonData.lstSuperProjectModel[i].ProjectName + '</td><td><a href="javascript:;" onclick="ProjectRemove(' + jsonData.lstSuperProjectModel[i].DirectoryIdCol + ');"><i class="fa fa-times" style="color: #ED241C;"></i></a></td></tr>';
                    }
                }
                if (jsonData.lstProjectModel.length > 0) {
                    for (var i = 0; i <= jsonData.lstProjectModel.length - 1; i++) {
                        projectHtml += '<tr id="' + jsonData.lstProjectModel[i].Id + '" data-foldId="' + jsonData.lstProjectModel[i].DirectoryIdCol + '" class="survey-row" IsSuper="false"><td class="mt-chbx"><input type="checkbox" value="'
                            + jsonData.lstProjectModel[i].Id + '" class="checkbox"></td><td class="activity"><p class="notranslate not-merged"><a href="javascript:;" title="' +
                            jsonData.lstProjectModel[i].ProjectName + '">' + jsonData.lstProjectModel[i].ProjectName + '</a></p><br /><p><span class="SL_split">Created &nbsp;&nbsp;</span><span> ' +
                            jsonData.lstProjectModel[i].CreatedOn + '</span></p></td></tr>';

                        mainProjectHtml += '<tr id="' + jsonData.lstProjectModel[i].Id + '" data-foldId="' + jsonData.lstProjectModel[i].DirectoryIdCol + '" class="survey-row" IsSuper="false"><td class="activity"><p class="notranslate not-merged"><a href="javascript:;" title="' +
                            jsonData.lstProjectModel[i].ProjectName + '">' + jsonData.lstProjectModel[i].ProjectName + '</a></p><br /><p><span class="SL_split">Created &nbsp;&nbsp;</span><span> ' +
                            jsonData.lstProjectModel[i].CreatedOn + '</span></p></td></tr>';

                        projectPopupHtml += '<tr id="' + jsonData.lstProjectModel[i].DirectoryIdCol + '"><td>' + jsonData.lstProjectModel[i].ProjectName + '</td><td><a href="javascript:;" onclick="ProjectRemove(' + jsonData.lstProjectModel[i].DirectoryIdCol + ');"><i class="fa fa-times" style="color: #ED241C;"></i></a></td></tr>';
                    }
                }
                projectPopupHtml += '</tbody></table>';
                $('table.surveysList>tbody').html(projectHtml);
                // $('table.MainsurveysList>tbody').html(mainProjectHtml);
                // $('#hdrCommonSurvey').html(dirName);
                $('div.slist').css('display', 'none');
                if (parseInt(totLength) > 0)
                    $('#ManageProjectsPopupBody').html(projectPopupHtml);
                else
                    $('#ManageProjectsPopupBody').html('<p class="alert alert-danger">No Records Found</p>');
                $('#ManageProjectsPopupTitle').html('<i class="fa fa-folder" style="color:white;"></i>&nbsp;&nbsp;' + dirName);
            },
            error: function (resp) { },
            complete: function () {
                $('table.surveysList>tbody>tr').find('input.checkbox').on('change', function () {
                    if ($(this).prop('checked')) {
                        $('table.surveysList>thead>tr>th.move-surveys-row').find('#moveto_toggle').removeClass('disabled');
                    }
                });

                $('.select-all').change(function () {
                    if ($(this).prop('checked')) {
                        $(this).parents('table.surveysList').find('tbody>tr').each(function () {
                            $(this).find('td.mt-chbx').children().eq(0).prop('checked', true);
                        });
                        $('table.surveysList>thead>tr>th.move-surveys-row').find('#moveto_toggle').removeClass('disabled');
                    }
                    else {
                        $(this).parents('table.surveysList').find('tbody>tr').each(function () {
                            $(this).find('td.mt-chbx').children().eq(0).prop('checked', false);
                            $('table.surveysList>thead>tr>th.move-surveys-row').find('#moveto_toggle').addClass('disabled');
                        });
                    }
                });
                $('.select-all').trigger('change');

            }
        });
    }


    function ProjectRemove(DirectoryId) {
        var oldVal = $('#hdnUnassignedProject').val();
        $('#hdnUnassignedProject').val(DirectoryId + "," + oldVal);
        $('#ManageProjectsPopupBody').find('tbody>tr[id="' + DirectoryId + '"]').remove();

    }

    function UnassignProjectFromDirectory() {
        $.ajax({
            url: GetPath('/Admin/UnassignedProjectFromDirectory'),
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            data: { UnAssignedIds: $("#hdnUnassignedProject").val() },
            success: function (resp) {
                var jsonData = JSON.parse(resp);
                if (jsonData.Status == 1)
                    $("#hdnUnassignedProject").val('');
                // alert('ekta well done');
                //else
                // alert('Try Again');
            },
            error: function (resp) { },
            complete: function () {
                LoadallDirectoryData();
            }
        });
    };

    function GetPath(url) {
           var fullPath = "@Url.Content("~/")";
        var newUrl = fullPath + url;
        return newUrl.replace('//', '/');
    }
</script>

<script>
    $(document).ready(function () {
        $(function () {
            $('#folderdiv').slimScroll({
                //height: '300px'
            });


        });
    });
</script>
