﻿
@model SurveyProject.Models.CreateProjectModel
@{
    ViewBag.Title = "Surveys";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="on-page-menu" style="margin-bottom: 0;">
                <li><a href="javascript:;" class="active">Surveys</a></li>
            </ul>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <h2 class="page-heading">Attended Surveys</h2>
            @if (Model.ProjectList != null && Model.ProjectList.Count > 0)
            {
                int count = 1;
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>Serial No
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProjectName)
                            </th>
                            <th>View</th>
                        </tr>
                        @foreach (var item in Model.ProjectList)
                        {
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    <a href="javascript:;" class="projects" id="Project_@item.Id">@item.ProjectName</a>
                                </td>
                                <td><a href="~/Respondent/ViewSurvey?surveyId=@item.ProjectGuid&&uid=@item.InvitationGuid">View <i class="fa fa-search"></i></a></td>
                            </tr>
                            count++;
                        }
                    </table>
                </div>
            }
            else
            {
                <p class="alert alert-danger">No Record found</p>
            }
        </div>
    </div>
</div>

